In [1]:
import pandas as pd
import numpy as np
from nselib import capital_market
import warnings
warnings.filterwarnings("ignore")
import datetime
from jugaad_data.nse import stock_df
import os
from dotenv import load_dotenv

In [2]:
nifty_top_500 = pd.read_csv("ind_nifty500list.csv")
nifty_top_500

,Company Name,Industry,Symbol,Series,ISIN Code
0,360 ONE WAM Ltd.,Financial Services,360ONE,EQ,INE466L01038
1,3M India Ltd.,Diversified,3MINDIA,EQ,INE470A01017
2,ABB India Ltd.,Capital Goods,ABB,EQ,INE117A01022
3,ACC Ltd.,Construction Materials,ACC,EQ,INE012A01025
4,AIA Engineering Ltd.,Capital Goods,AIAENG,EQ,INE212H01026
...,...,...,...,...,...
495,Zee Entertainment Enterprises Ltd.,Media Entertainment & Publication,ZEEL,EQ,INE256A01028
496,Zensar Technolgies Ltd.,Information Technology,ZENSARTECH,EQ,INE520A01027
497,Zomato Ltd.,Consumer Services,ZOMATO,EQ,INE758T01015
498,Zydus Lifesciences Ltd.,Healthcare,ZYDUSLIFE,EQ,INE010B01027
499,eClerx Services Ltd.,Services,ECLERX,EQ,INE738I01010

# steps to pull data1
1. every month will check/update nifty 500 list- manually
2. for 1st time

In [3]:
today = datetime.date.today()
previous_year = today.year -1
today_last_year = today.replace(year = previous_year)
today_last_year

datetime.date(2023, 12, 22)

In [4]:
def pull_stock_data(stock_symbol:str) -> pd.DataFrame:
    today = datetime.date.today()
    previous_year = today.year -1
    today_last_year = today.replace(year = previous_year)
    data = stock_df(symbol=stock_symbol, from_date=today_last_year,
            to_date=today, series="EQ")
    
    return data

pull_stock_data("ABB")

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-20,EQ,7359.80,7407.45,6886.00,7351.90,6940.00,6921.25,7108.64,9149.95,4340.3,557249,3.961281e+09,72364,ABB
1,2024-12-19,EQ,7620.00,7620.00,7335.10,7657.15,7343.00,7351.90,7416.72,9149.95,4340.3,233391,1.730997e+09,28110,ABB
2,2024-12-18,EQ,7812.05,7814.75,7620.50,7817.45,7663.50,7657.15,7676.94,9149.95,4340.3,201768,1.548961e+09,26010,ABB
3,2024-12-17,EQ,7890.35,7960.00,7781.00,7890.35,7800.00,7817.45,7872.55,9149.95,4340.3,213086,1.677529e+09,25041,ABB
4,2024-12-16,EQ,7703.25,7943.75,7689.30,7703.25,7884.80,7890.35,7882.28,9149.95,4340.3,340801,2.686288e+09,45911,ABB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2023-12-29,EQ,4669.00,4688.00,4618.60,4642.95,4671.00,4674.85,4657.38,4957.00,2640.0,147991,6.892497e+08,16903,ABB
244,2023-12-28,EQ,4746.70,4765.40,4622.00,4733.60,4635.30,4642.95,4662.21,4957.00,2640.0,478064,2.228837e+09,37955,ABB
245,2023-12-27,EQ,4799.95,4822.90,4724.00,4771.35,4741.00,4733.60,4769.81,4957.00,2640.0,165313,7.885110e+08,22571,ABB
246,2023-12-26,EQ,4771.35,4824.00,4747.25,4759.00,4778.05,4771.35,4781.44,4957.00,2640.0,121004,5.785733e+08,17228,ABB
247,2023-12-22,EQ,4723.00,4765.00,4686.10,4684.50,4753.00,4759.00,4735.44,4957.00,2640.0,155535,7.365260e+08,22442,ABB

In [5]:
nifty_top_500.columns

Index(['Company Name', 'Industry', 'Symbol', 'Series', 'ISIN Code'], dtype='object')

In [5]:
master_data = pd.DataFrame()
for stock_symbol in nifty_top_500.Symbol.unique():
    try:
        #stock = 'TATAMOTORS'
        print(stock_symbol)
        data = pull_stock_data(stock_symbol=stock_symbol)
        master_data = pd.concat([master_data,data],axis=0)
    except:
        pass

master_data

360ONE
3MINDIA
ABB
ACC
AIAENG
APLAPOLLO
AUBANK
AADHARHFC
AARTIIND
AAVAS
ABBOTINDIA
ACE
ADANIENSOL
ADANIENT
ADANIGREEN
ADANIPORTS
ADANIPOWER
ATGL
AWL
ABCAPITAL
ABFRL
ABREL
ABSLAMC
AEGISLOG
AFFLE
AJANTPHARM
AKUMS
APLLTD
ALKEM
ALKYLAMINE
ALOKINDS
ARE&M
AMBER
AMBUJACEM
ANANDRATHI
ANANTRAJ
ANGELONE
APARINDS
APOLLOHOSP
APOLLOTYRE
APTUS
ACI
ASAHIINDIA
ASHOKLEY
ASIANPAINT
ASTERDM
ASTRAZEN
ASTRAL
ATUL
AUROPHARMA
AVANTIFEED
DMART
AXISBANK
BASF
BEML
BLS
BSE
BAJAJ-AUTO
BAJFINANCE
BAJAJFINSV
BAJAJHLDNG
BALAMINES
BALKRISIND
BALRAMCHIN
BANDHANBNK
BANKBARODA
BANKINDIA
MAHABANK
BATAINDIA
BAYERCROP
BERGEPAINT
BDL
BEL
BHARATFORG
BHEL
BPCL
BHARTIARTL
BHARTIHEXA
BIKAJI
BIOCON
BIRLACORPN
BSOFT
BLUEDART
BLUESTARCO
BBTC
BOSCHLTD
BRIGADE
BRITANNIA
MAPMYINDIA
CCL
CESC
CGPOWER
CIEINDIA
CRISIL
CAMPUS
CANFINHOME
CANBK
CAPLIPOINT
CGCL
CARBORUNIV
CASTROLIND
CEATLTD
CELLO
CENTRALBK
CDSL
CENTURYPLY
CERA
CHALET
CHAMBLFERT
CHEMPLASTS
CHENNPETRO
CHOLAHLDNG
CHOLAFIN
CIPLA
CUB
CLEAN
COALINDIA
COCHINSHIP
COFORGE
COLPAL
CAMS
CONCORDBIO
CONCOR
COROMANDEL
CRAFTSMAN
CREDITACC
CROMPTON
CUMMINSIND
CYIENT
DLF
DOMS
DABUR
DALBHARAT
DATAPATTNS
DEEPAKFERT
DEEPAKNTR
DELHIVERY
DEVYANI
DIVISLAB
DIXON
LALPATHLAB
DRREDDY
EIDPARRY
EIHOTEL
EASEMYTRIP
EICHERMOT
ELECON
ELGIEQUIP
EMAMILTD
EMCURE
ENDURANCE
ENGINERSIN
EQUITASBNK
ERIS
ESCORTS
EXIDEIND
NYKAA
FEDERALBNK
FACT
FINEORG
FINCABLES
FINPIPE
FSL
FIVESTAR
FORTIS
GRINFRA
GAIL
GVT&D
GMRAIRPORT
GRSE
GICRE
GILLETTE
GLAND
GLAXO
GLENMARK
MEDANTA
GODIGIT
GPIL
GODFRYPHLP
GODREJAGRO
GODREJCP
GODREJIND
GODREJPROP
GRANULES
GRAPHITE
GRASIM
GESHIP
GRINDWELL
GAEL
FLUOROCHEM
GUJGASLTD
GMDCLTD
GNFC
GPPL
GSFC
GSPL
HEG
HBLPOWER
HCLTECH
HDFCAMC
HDFCBANK
HDFCLIFE
HFCL
HAPPSTMNDS
HAVELLS
HEROMOTOCO
HSCL
HINDALCO
HAL
HINDCOPPER
HINDPETRO
HINDUNILVR
HINDZINC
POWERINDIA
HOMEFIRST
HONASA
HONAUT
HUDCO
ICICIBANK
ICICIGI
ICICIPRULI
ISEC
IDBI
IDFCFIRSTB
IFCI
IIFL
INOXINDIA
IRB
IRCON
ITC
ITI
INDGN
INDIACEM
INDIAMART
INDIANB
IEX
INDHOTEL
IOC
IOB
IRCTC
IRFC
IREDA
IGL
INDUSTOWER
INDUSINDBK
NAUKRI
INFY
INOXWIND
INTELLECT
INDIGO
IPCALAB
JBCHEPHARM
JKCEMENT
JBMA
JKLAKSHMI
JKTYRE
JMFINANCIL
JSWENERGY
JSWINFRA
JSWSTEEL
JPPOWER
J&KBANK
JINDALSAW
JSL
JINDALSTEL
JIOFIN
JUBLFOOD
JUBLINGREA
JUBLPHARMA
JWL
JUSTDIAL
JYOTHYLAB
JYOTICNC
KPRMILL
KEI
KNRCON
KPITTECH
KSB
KAJARIACER
KPIL
KALYANKJIL
KANSAINER
KARURVYSYA
KAYNES
KEC
KFINTECH
KIRLOSBROS
KIRLOSENG
KOTAKBANK
KIMS
LTF
LTTS
LICHSGFIN
LTIM
LT
LATENTVIEW
LAURUSLABS
LEMONTREE
LICI
LINDEINDIA
LLOYDSME
LUPIN
MMTC
MRF
LODHA
MGL
MAHSEAMLES
M&MFIN
M&M
MAHLIFE
MANAPPURAM
MRPL
MANKIND
MARICO
MARUTI
MASTEK
MFSL
MAXHEALTH
MAZDOCK
METROBRAND
METROPOLIS
MINDACORP
MSUMI
MOTILALOFS
MPHASIS
MCX
MUTHOOTFIN
NATCOPHARM
NBCC
NCC
NHPC
NLCINDIA
NMDC
NSLNISP
NTPC
NH
NATIONALUM
NAVINFLUOR
NESTLEIND
NETWEB
NETWORK18
NEWGEN
NAM-INDIA
NUVAMA
NUVOCO
OBEROIRLTY
ONGC
OIL
OLECTRA
PAYTM
OFSS
POLICYBZR
PCBL
PIIND
PNBHOUSING
PNCINFRA
PTCIL
PVRINOX
PAGEIND
PATANJALI
PERSISTENT
PETRONET
PFIZER
PHOENIXLTD
PIDILITIND
PEL
PPLPHARMA
POLYMED
POLYCAB
POONAWALLA
PFC
POWERGRID
PRAJIND
PRESTIGE
PGHH
PNB
QUESS
RRKABEL
RBLBANK
RECLTD
RHIM
RITES
RADICO
RVNL
RAILTEL
RAINBOW
RAJESHEXPO
RKFORGE
RCF
RATNAMANI
RTNINDIA
RAYMOND
REDINGTON
RELIANCE
ROUTE
SBFC
SBICARD
SBILIFE
SJVN
SKFINDIA
SRF
SAMMAANCAP
MOTHERSON
SANOFI
SAPPHIRE
SAREGAMA
SCHAEFFLER
SCHNEIDER
SCI
SHREECEM
RENUKA
SHRIRAMFIN
SHYAMMETL
SIEMENS
SIGNATURE
SOBHA
SOLARINDS
SONACOMS
SONATSOFTW
STARHEALTH
SBIN
SAIL
SWSOLAR
SUMICHEM
SPARC
SUNPHARMA
SUNTV
SUNDARMFIN
SUNDRMFAST
SUPREMEIND
SUVENPHAR
SUZLON
SWANENERGY
SYNGENE
SYRMA
TBOTEK
TVSMOTOR
TVSSCS
TANLA
TATACHEM
TATACOMM
TCS
TATACONSUM
TATAELXSI
TATAINVEST
TATAMOTORS
TATAPOWER
TATASTEEL
TATATECH
TTML
TECHM
TECHNOE
TEJASNET
NIACL
RAMCOCEM
THERMAX
TIMKEN
TITAGARH
TITAN
TORNTPHARM
TORNTPOWER
TRENT
TRIDENT
TRIVENI
TRITURBINE
TIINDIA
UCOBANK
UNOMINDA
UPL
UTIAMC
UJJIVANSFB
ULTRACEMCO
UNIONBANK
UBL
UNITDSPR
USHAMART
VGUARD
VIPIND
DBREALTY
VTL
VARROC
VBL
MANYAVAR
VEDL
VIJAYA
VINATIORGA
IDEA
VOLTAS
WELCORP
WELSPUNLIV
WESTLIFE
WHIRLPOOL
WIPRO
YESBANK
ZFCVINDIA
ZEEL
ZENSARTECH
ZOMATO
ZYDUSLIFE
ECLERX

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-20,EQ,1225.35,1260.00,1210.35,1225.35,1223.15,1249.50,1250.26,1270.0,591.5,1452337,1.815797e+09,53665,360ONE
1,2024-12-19,EQ,1205.25,1239.90,1196.00,1240.80,1221.55,1225.35,1214.48,1270.0,591.5,352663,4.283036e+08,25858,360ONE
2,2024-12-18,EQ,1255.05,1270.00,1226.15,1251.85,1232.35,1240.80,1253.36,1270.0,591.5,525759,6.589642e+08,25100,360ONE
3,2024-12-17,EQ,1245.00,1260.00,1232.05,1242.40,1256.85,1251.85,1249.29,1260.0,591.5,603540,7.539984e+08,41776,360ONE
4,2024-12-16,EQ,1186.80,1245.00,1184.60,1186.60,1239.95,1242.40,1226.74,1245.0,591.5,951845,1.167668e+09,51197,360ONE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2023-12-29,EQ,2646.65,2651.75,2566.40,2634.35,2595.00,2591.60,2604.96,2760.0,1221.0,66981,1.744825e+08,11104,ECLERX
244,2023-12-28,EQ,2610.00,2680.45,2586.40,2595.50,2628.00,2634.35,2626.47,2760.0,1221.0,144303,3.790081e+08,12919,ECLERX
245,2023-12-27,EQ,2621.00,2656.70,2560.75,2615.85,2590.00,2595.50,2590.14,2760.0,1221.0,150498,3.898107e+08,11682,ECLERX
246,2023-12-26,EQ,2579.95,2640.90,2545.10,2580.10,2610.50,2615.85,2605.68,2760.0,1221.0,132353,3.448701e+08,16088,ECLERX
247,2023-12-22,EQ,2532.30,2613.00,2532.30,2528.65,2578.40,2580.10,2584.15,2760.0,1221.0,73772,1.906376e+08,10458,ECLERX

In [2]:
# Load environment variables from .env file
load_dotenv()

# Access the database URL
db_url = os.getenv('DB_URL')

# Print to confirm (remove in production for security)
print(f"Database URL: {db_url}")

Database URL: postgresql://indian_stock_price_owner:pNtS0PQz2brv@ep-square-frog-a5a60p1q.us-east-2.aws.neon.tech/indian_stock_price?sslmode=require

In [9]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# Define table name
table_name = "nifty_top_500_stocks"

# Database connection string
db_url = db_url

# Create an SQLAlchemy engine
engine = create_engine(db_url)

# Write data to the PostgreSQL table
try:
    master_data.to_sql(table_name, engine, index=False, if_exists='replace')  # 'replace' overwrites table if it exists
    print(f"Data successfully written to table '{table_name}' in PostgreSQL!")
except Exception as e:
    print(f"Error: {e}")

Data successfully written to table 'nifty_top_500_stocks' in PostgreSQL!