In [5]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import datetime
from jugaad_data.nse import stock_df
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [6]:
# Load environment variables from .env file
load_dotenv()
# Access the database URL
db_url = os.getenv('DB_URL')

In [22]:
# Create connect sql database
def create_connection_database(db_url):
    # Database connection string
    db_url = db_url
    # Create an SQLAlchemy engine
    return create_engine(db_url)

# read data from the PostgreSQL table
try:
   with create_connection_database(db_url).connect() as connection:
    table_name = "nifty_top_500_stocks"
    query = f"SELECT * from {table_name};"
    df = pd.read_sql_query(query, con=create_connection_database(db_url))
    print("data pulled from sql table")
except Exception as e:
    print(f"Error: {e}")


def pull_stock_data(stock_symbol:str,start_date:datetime) -> pd.DataFrame:
    today = datetime.date.today()
    print(today)
    data = stock_df(symbol=stock_symbol, from_date=start_date,
            to_date=today, series="EQ")
    
    return data

# check last updated date for each stock and add data till current date
master_data = pd.DataFrame()
for symbol in df.SYMBOL.unique():
    start_date = df[df.SYMBOL == symbol].DATE.max().date()
    try:
       
        data = pull_stock_data(stock_symbol=symbol,start_date=start_date+datetime.timedelta(days=1))
        
        master_data = pd.concat([master_data,data],axis=0)
    except:
        pass

print("latest stocks data pulled")

# add new data in database
try:
   with create_connection_database(db_url).connect() as connection:
    table_name = "nifty_top_500_stocks"
    master_data.to_sql(table_name,create_connection_database(db_url),index=False,if_exists='append')
    print(f"{len(master_data)} rows successfully added in {table_name}")
except Exception as e:
    print(f"Error: {e}")

data pulled from sql table
360ONE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1238.05,1280.75,1208.95,1249.5,1225.1,1232.7,1229.79,1280.75,591.5,499836,614693051.9,40886,360ONE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1238.05,1280.75,1208.95,1249.5,1225.1,1232.7,1229.79,1280.75,591.5,499836,614693051.9,40886,360ONE

3MINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,31100.0,31146.6,30522.0,30813.85,30739.85,30676.35,30746.8,40856.5,28498.95,2004,61616584.8,1202,3MINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,31100.0,31146.6,30522.0,30813.85,30739.85,30676.35,30746.8,40856.5,28498.95,2004,61616584.8,1202,3MINDIA

ABB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6966.0,7056.0,6893.0,6921.25,6940.0,6959.2,6973.48,9149.95,4340.3,167980,1.171406e+09,32997,ABB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6966.0,7056.0,6893.0,6921.25,6940.0,6959.2,6973.48,9149.95,4340.3,167980,1.171406e+09,32997,ABB

ACC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2080.0,2109.8,2051.05,2063.65,2099.0,2100.9,2088.87,2844.0,1868.2,176711,3.691255e+08,16391,ACC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2080.0,2109.8,2051.05,2063.65,2099.0,2100.9,2088.87,2844.0,1868.2,176711,3.691255e+08,16391,ACC

AIAENG 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3362.75,3369.95,3280.1,3362.7,3325.7,3315.25,3307.4,4949.95,3280.1,189573,6.269939e+08,53026,AIAENG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3362.75,3369.95,3280.1,3362.7,3325.7,3315.25,3307.4,4949.95,3280.1,189573,6.269939e+08,53026,AIAENG

APLAPOLLO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1567.9,1569.85,1535.5,1559.0,1538.5,1541.4,1547.19,1728.95,1305.0,674126,1.043003e+09,24829,APLAPOLLO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1567.9,1569.85,1535.5,1559.0,1538.5,1541.4,1547.19,1728.95,1305.0,674126,1.043003e+09,24829,APLAPOLLO

AUBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,542.0,551.8,539.05,537.6,547.8,549.2,546.8,813.4,534.45,1791145,979401847.6,36801,AUBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,542.0,551.8,539.05,537.6,547.8,549.2,546.8,813.4,534.45,1791145,979401847.6,36801,AUBANK

AADHARHFC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,425.95,432.4,419.25,424.25,424.0,425.6,425.68,516.8,292.0,314361,133815697.8,16373,AADHARHFC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,425.95,432.4,419.25,424.25,424.0,425.6,425.68,516.8,292.0,314361,133815697.8,16373,AADHARHFC

AARTIIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,405.95,410.9,403.05,403.85,409.5,409.5,407.75,769.25,402.1,1374736,560553754.9,39437,AARTIIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,405.95,410.9,403.05,403.85,409.5,409.5,407.75,769.25,402.1,1374736,560553754.9,39437,AARTIIND

AAVAS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1666.95,1684.8,1647.05,1665.3,1668.5,1672.55,1667.44,1978.95,1307.0,165946,2.767047e+08,12917,AAVAS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1666.95,1684.8,1647.05,1665.3,1668.5,1672.55,1667.44,1978.95,1307.0,165946,2.767047e+08,12917,AAVAS

ABBOTINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,28603.0,28864.3,28362.1,28655.35,28581.0,28559.15,28642.01,30521.0,22239.05,7166,2.052486e+08,5020,ABBOTINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,28603.0,28864.3,28362.1,28655.35,28581.0,28559.15,28642.01,30521.0,22239.05,7166,2.052486e+08,5020,ABBOTINDIA

ACE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1506.05,1524.0,1463.0,1491.4,1493.0,1492.85,1493.7,1695.0,816.6,387975,5.795191e+08,30996,ACE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1506.05,1524.0,1463.0,1491.4,1493.0,1492.85,1493.7,1695.0,816.6,387975,5.795191e+08,30996,ACE

ADANIENSOL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,781.35,783.85,765.3,767.55,771.0,773.3,772.85,1348.0,588.0,971855,751099121.9,33863,ADANIENSOL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,781.35,783.85,765.3,767.55,771.0,773.3,772.85,1348.0,588.0,971855,751099121.9,33863,ADANIENSOL

ADANIENT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2373.95,2379.5,2332.75,2344.95,2346.0,2338.95,2351.63,3743.9,2025.0,758920,1.784698e+09,54920,ADANIENT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2373.95,2379.5,2332.75,2344.95,2346.0,2338.95,2351.63,3743.9,2025.0,758920,1.784698e+09,54920,ADANIENT

ADANIGREEN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1049.7,1057.95,1023.6,1034.35,1035.8,1034.65,1035.17,2174.1,870.25,2775914,2.873550e+09,102783,ADANIGREEN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1049.7,1057.95,1023.6,1034.35,1035.8,1034.65,1035.17,2174.1,870.25,2775914,2.873550e+09,102783,ADANIGREEN

ADANIPORTS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1189.95,1199.0,1174.25,1182.45,1191.5,1191.8,1188.66,1621.4,995.65,1540796,1.831479e+09,67782,ADANIPORTS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1189.95,1199.0,1174.25,1182.45,1191.5,1191.8,1188.66,1621.4,995.65,1540796,1.831479e+09,67782,ADANIPORTS

ADANIPOWER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,504.9,510.0,494.65,497.9,504.9,504.1,502.52,895.85,432.0,3971433,1.995712e+09,86632,ADANIPOWER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,504.9,510.0,494.65,497.9,504.9,504.1,502.52,895.85,432.0,3971433,1.995712e+09,86632,ADANIPOWER

ATGL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,680.0,686.35,666.0,674.35,666.0,669.5,672.76,1190.0,545.75,805382,5.418284e+08,33598,ATGL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,680.0,686.35,666.0,674.35,666.0,669.5,672.76,1190.0,545.75,805382,5.418284e+08,33598,ATGL

AWL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,294.9,318.9,290.2,290.9,314.8,315.85,308.72,408.95,279.0,5245677,1.619443e+09,58429,AWL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,294.9,318.9,290.2,290.9,314.8,315.85,308.72,408.95,279.0,5245677,1.619443e+09,58429,AWL

ABCAPITAL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,187.53,188.75,185.02,186.21,186.4,186.39,187.0,246.9,159.45,2052020,3.837300e+08,23539,ABCAPITAL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,187.53,188.75,185.02,186.21,186.4,186.39,187.0,246.9,159.45,2052020,3.837300e+08,23539,ABCAPITAL

ABFRL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,283.5,284.9,279.45,282.2,282.4,282.2,282.44,364.4,198.75,1753501,4.952558e+08,20865,ABFRL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,283.5,284.9,279.45,282.2,282.4,282.2,282.44,364.4,198.75,1753501,4.952558e+08,20865,ABFRL

ABREL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2628.95,2652.6,2555.0,2628.4,2587.9,2582.7,2599.11,3140.0,1205.0,302588,7.864587e+08,30460,ABREL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2628.95,2652.6,2555.0,2628.4,2587.9,2582.7,2599.11,3140.0,1205.0,302588,7.864587e+08,30460,ABREL

CENTURYTEX 2024-10-09
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2628.95,2652.60,2555.00,2628.40,2587.90,2582.70,2599.11,3140.00,1205.00,302588,7.864587e+08,30460,ABREL
1,2024-12-20,EQ,2669.00,2706.60,2606.60,2658.20,2649.85,2628.40,2653.69,3140.00,1185.45,132788,3.523781e+08,20253,ABREL
2,2024-12-19,EQ,2650.00,2740.75,2628.50,2686.55,2660.00,2658.20,2673.08,3140.00,1185.45,218634,5.844266e+08,20036,ABREL
3,2024-12-18,EQ,2750.30,2797.60,2680.05,2713.10,2683.00,2686.55,2718.53,3140.00,1185.45,177570,4.827300e+08,22912,ABREL
4,2024-12-17,EQ,2779.85,2779.85,2690.00,2762.15,2715.15,2713.10,2715.20,3140.00,1185.45,138422,3.758437e+08,22853,ABREL
5,2024-12-16,EQ,2755.10,2835.35,2751.20,2751.50,2760.95,2762.15,2793.73,3140.00,1185.45,133861,3.739715e+08,25949,ABREL
6,2024-12-13,EQ,2769.30,2796.00,2712.05,2770.80,2741.30,2751.50,2754.87,3140.00,1185.45,103739,2.857873e+08,14956,ABREL
7,2024-12-12,EQ,2788.80,2790.55,2711.10,2775.10,2751.30,2770.80,2747.98,3140.00,1185.45,77059,2.117569e+08,14033,ABREL
8,2024-12-11,EQ,2813.80,2846.55,2761.00,2801.65,2765.00,2775.10,2789.85,3140.00,1185.45,103713,2.893438e+08,12326,ABREL
9,2024-12-10,EQ,2842.00,2853.95,2790.05,2826.35,2801.00,2801.65,2814.53,3140.00,1185.45,118852,3.345128e+08,14551,ABREL
10,2024-12-09,EQ,2848.10,2899.00,2815.00,2848.10,2825.00,2826.35,2853.69,3140.00,1185.45,73454,2.096147e+08,12134,ABREL
11,2024-12-06,EQ,2870.00,2891.00,2825.00,2853.25,2840.05,2848.10,2854.86,3140.00,1185.45,65524,1.870621e+08,11137,ABREL
12,2024-12-05,EQ,2910.00,2980.00,2835.00,2891.45,2847.00,2853.25,2888.70,3140.00,1185.45,133952,3.869465e+08,18220,ABREL
13,2024-12-04,EQ,2859.10,2911.00,2835.00,2853.70,2886.55,2891.45,2884.84,3140.00,1185.45,194216,5.602812e+08,24227,ABREL
14,2024-12-03,EQ,2846.50,2919.10,2821.40,2840.60,2840.00,2853.70,2860.23,3140.00,1185.45,228370,6.531900e+08,23573,ABREL
15,2024-12-02,EQ,2750.00,2849.45,2725.00,2752.80,2826.95,2840.60,2819.05,3140.00,1185.45,233340,6.577978e+08,19857,ABREL
16,2024-11-29,EQ,2734.55,2799.95,2697.05,2733.05,2750.00,2752.80,2749.79,3140.00,1178.00,314721,8.654176e+08,39806,ABREL
17,2024-11-28,EQ,2812.95,2843.00,2717.35,2796.20,2740.00,2733.05,2776.14,3140.00,1178.00,168347,4.673551e+08,25565,ABREL
18,2024-11-27,EQ,2604.95,2817.00,2604.95,2599.45,2781.60,2796.20,2762.32,3140.00,1178.00,584961,1.615847e+09,46510,ABREL
19,2024-11-26,EQ,2670.00,2674.80,2590.55,2655.60,2605.00,2599.45,2615.26,3140.00,1178.00,145739,3.811456e+08,16625,ABREL
20,2024-11-25,EQ,2591.05,2685.00,2536.05,2554.55,2658.00,2655.60,2636.41,3140.00,1178.00,307123,8.097024e+08,46572,ABREL
21,2024-11-22,EQ,2544.95,2594.25,2523.20,2541.45,2550.00,2554.55,2561.26,3140.00,1178.00,91915,2.354186e+08,14313,ABREL
22,2024-11-21,EQ,2563.25,2588.05,2516.00,2567.30,2537.05,2541.45,2548.18,3140.00,1178.00,93657,2.386551e+08,13277,ABREL
23,2024-11-19,EQ,2580.40,2630.00,2552.55,2546.85,2560.50,2567.30,2600.44,3140.00,1178.00,91580,2.381481e+08,14579,ABREL
24,2024-11-18,EQ,2650.00,2659.25,2528.20,2599.45,2550.00,2546.85,2550.17,3140.00,1178.00,311356,7.940092e+08,25709,ABREL
25,2024-11-14,EQ,2561.70,2682.00,2561.70,2557.95,2600.00,2599.45,2629.16,3140.00,1178.00,219481,5.770503e+08,30220,ABREL
26,2024-11-13,EQ,2695.00,2695.00,2511.00,2709.15,2574.10,2557.95,2563.99,3140.00,1178.00,262369,6.727105e+08,40714,ABREL
27,2024-11-12,EQ,2719.35,2775.00,2685.00,2709.65,2690.00,2709.15,2726.41,3140.00,1178.00,167595,4.569321e+08,28207,ABREL
28,2024-11-11,EQ,2788.00,2788.00,2700.00,2784.95,2700.00,2709.65,2735.87,3140.00,1178.00,95909,2.623944e+08,15829,ABREL
29,2024-11-08,EQ,2842.25,2847.55,2765.10,2839.35,2775.00,2784.95,2798.15,3140.00,1076.45,63261,1.770136e+08,10295,ABREL
30,2024-11-07,EQ,2914.25,2917.75,2811.85,2887.50,2840.00,2839.35,2855.46,3140.00,1076.45,92031,2.627910e+08,12457,ABREL
31,2024-11-06,EQ,2780.00,2925.00,2775.00,2773.95,2891.00,2887.50,2886.72,3140.00,1076.45,298128,8.606119e+08,33521,ABREL
32,2024-11-05,EQ,2741.00,2819.00,2732.65,2749.20,2766.85,2773.95,2780.82,3140.00,1076.45,148772,4.137075e+08,21967,ABREL
33,2024-11-04,EQ,2760.75,2766.00,2685.00,2768.05,2743.00,2749.20,2726.29,3140.00,1076.45,138927,3.787559e+08,24182,ABREL
34,2024-11-01,EQ,2758.80,2789.90,2752.00,2742.80,2765.00,2768.05,2769.83,3140.00,1066.10,20759,5.749889e+07,2057,ABREL
35,2024-10-31,EQ,2700.00,2794.00,2683.85,2695.25,2754.90,2742.80,2746.73,3140.00,1066.10,222352,6.107407e+08,22660,ABREL
36,2024-10-30,EQ,2750.00,2750.00,2675.00,2735.60,2700.00,2695.25,2707.74,3140.00,1066.10,117948,3.193723e+08,17618,ABREL
37,2024-10-29,EQ,2755.00,2773.95,2700.90,2746.30,2731.70,2735.60,2734.90,3140.00,1066.10,123557,3.379158e+08,17481,ABREL
38,2024-10-28,EQ,2640.20,2927.00,2600.10,2638.85,2759.90,2746.30,2815.33,3140.00,1066.10,1140458,3.210762e+09,110256,ABREL
39,2024-10-25,EQ,2765.00,2774.50,2562.05,2768.15,2660.00,2638.85,2633.31,3140.00,1046.45,229456,6.042295e+08,31259,ABREL
40,2024-10-24,EQ,2850.00,2861.35,2750.00,2833.10,2754.00,2768.15,2784.95,3140.00,1046.45,79987,2.227599e+08,12524,ABREL
41,2024-10-23,EQ,2737.50,2867.85,2717.10,2737.50,2832.70,2833.10,2816.92,3140.00,1046.45,445185,1.254051e+09,34922,ABREL
42,2024-10-22,EQ,3008.00,3009.00,2712.00,3030.50,2743.00,2737.50,2825.41,3140.00,1046.45,383325,1.083048e+09,46175,ABREL
43,2024-10-21,EQ,3049.95,3140.00,2952.00,3052.80,3010.85,3030.50,3047.32,3140.00,1046.45,455543,1.388186e+09,52478,ABREL
44,2024-10-18,EQ,2855.95,3125.00,2780.65,2856.00,3039.95,3052.80,3001.25,3125.00,1046.45,992436,2.978552e+09,52709,ABREL
45,2024-10-17,EQ,2928.05,2964.00,2822.00,2924.95,2851.00,2856.00,2880.35,2967.00,1046.45,137439,3.958718e+08,17753,ABREL
46,2024-10-16,EQ,2910.00,2967.00,2880.05,2858.40,2923.30,2924.95,2919.13,2967.00,1046.45,527500,1.539840e+09,38729,ABREL
47,2024-10-15,EQ,2748.00,2880.00,2737.15,2731.80,2860.10,2858.40,2823.27,2936.45,1046.45,285167,8.051043e+08,37283,ABREL
48,2024-10-14,EQ,2710.00,2780.00,2701.00,2702.15,2750.00,2731.80,2732.26,2936.45,1046.45,127294,3.478007e+08,14325,ABREL
49,2024-10-11,EQ,2695.00,2737.00,2658.00,2686.55,2710.00,2702.15,2693.83,2936.45,1046.45,60007,1.616489e+08,9163,ABREL
50,2024-10-10,EQ,2729.00,2790.00,2668.70,2714.05,2692.00,2686.55,2708.12,2936.45,1046.45,51017,1.381601e+08,4293,ABREL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2628.95,2652.60,2555.00,2628.40,2587.90,2582.70,2599.11,3140.00,1205.00,302588,7.864587e+08,30460,ABREL
1,2024-12-20,EQ,2669.00,2706.60,2606.60,2658.20,2649.85,2628.40,2653.69,3140.00,1185.45,132788,3.523781e+08,20253,ABREL
2,2024-12-19,EQ,2650.00,2740.75,2628.50,2686.55,2660.00,2658.20,2673.08,3140.00,1185.45,218634,5.844266e+08,20036,ABREL
3,2024-12-18,EQ,2750.30,2797.60,2680.05,2713.10,2683.00,2686.55,2718.53,3140.00,1185.45,177570,4.827300e+08,22912,ABREL
4,2024-12-17,EQ,2779.85,2779.85,2690.00,2762.15,2715.15,2713.10,2715.20,3140.00,1185.45,138422,3.758437e+08,22853,ABREL
5,2024-12-16,EQ,2755.10,2835.35,2751.20,2751.50,2760.95,2762.15,2793.73,3140.00,1185.45,133861,3.739715e+08,25949,ABREL
6,2024-12-13,EQ,2769.30,2796.00,2712.05,2770.80,2741.30,2751.50,2754.87,3140.00,1185.45,103739,2.857873e+08,14956,ABREL
7,2024-12-12,EQ,2788.80,2790.55,2711.10,2775.10,2751.30,2770.80,2747.98,3140.00,1185.45,77059,2.117569e+08,14033,ABREL
8,2024-12-11,EQ,2813.80,2846.55,2761.00,2801.65,2765.00,2775.10,2789.85,3140.00,1185.45,103713,2.893438e+08,12326,ABREL
9,2024-12-10,EQ,2842.00,2853.95,2790.05,2826.35,2801.00,2801.65,2814.53,3140.00,1185.45,118852,3.345128e+08,14551,ABREL
10,2024-12-09,EQ,2848.10,2899.00,2815.00,2848.10,2825.00,2826.35,2853.69,3140.00,1185.45,73454,2.096147e+08,12134,ABREL
11,2024-12-06,EQ,2870.00,2891.00,2825.00,2853.25,2840.05,2848.10,2854.86,3140.00,1185.45,65524,1.870621e+08,11137,ABREL
12,2024-12-05,EQ,2910.00,2980.00,2835.00,2891.45,2847.00,2853.25,2888.70,3140.00,1185.45,133952,3.869465e+08,18220,ABREL
13,2024-12-04,EQ,2859.10,2911.00,2835.00,2853.70,2886.55,2891.45,2884.84,3140.00,1185.45,194216,5.602812e+08,24227,ABREL
14,2024-12-03,EQ,2846.50,2919.10,2821.40,2840.60,2840.00,2853.70,2860.23,3140.00,1185.45,228370,6.531900e+08,23573,ABREL
15,2024-12-02,EQ,2750.00,2849.45,2725.00,2752.80,2826.95,2840.60,2819.05,3140.00,1185.45,233340,6.577978e+08,19857,ABREL
16,2024-11-29,EQ,2734.55,2799.95,2697.05,2733.05,2750.00,2752.80,2749.79,3140.00,1178.00,314721,8.654176e+08,39806,ABREL
17,2024-11-28,EQ,2812.95,2843.00,2717.35,2796.20,2740.00,2733.05,2776.14,3140.00,1178.00,168347,4.673551e+08,25565,ABREL
18,2024-11-27,EQ,2604.95,2817.00,2604.95,2599.45,2781.60,2796.20,2762.32,3140.00,1178.00,584961,1.615847e+09,46510,ABREL
19,2024-11-26,EQ,2670.00,2674.80,2590.55,2655.60,2605.00,2599.45,2615.26,3140.00,1178.00,145739,3.811456e+08,16625,ABREL
20,2024-11-25,EQ,2591.05,2685.00,2536.05,2554.55,2658.00,2655.60,2636.41,3140.00,1178.00,307123,8.097024e+08,46572,ABREL
21,2024-11-22,EQ,2544.95,2594.25,2523.20,2541.45,2550.00,2554.55,2561.26,3140.00,1178.00,91915,2.354186e+08,14313,ABREL
22,2024-11-21,EQ,2563.25,2588.05,2516.00,2567.30,2537.05,2541.45,2548.18,3140.00,1178.00,93657,2.386551e+08,13277,ABREL
23,2024-11-19,EQ,2580.40,2630.00,2552.55,2546.85,2560.50,2567.30,2600.44,3140.00,1178.00,91580,2.381481e+08,14579,ABREL
24,2024-11-18,EQ,2650.00,2659.25,2528.20,2599.45,2550.00,2546.85,2550.17,3140.00,1178.00,311356,7.940092e+08,25709,ABREL
25,2024-11-14,EQ,2561.70,2682.00,2561.70,2557.95,2600.00,2599.45,2629.16,3140.00,1178.00,219481,5.770503e+08,30220,ABREL
26,2024-11-13,EQ,2695.00,2695.00,2511.00,2709.15,2574.10,2557.95,2563.99,3140.00,1178.00,262369,6.727105e+08,40714,ABREL
27,2024-11-12,EQ,2719.35,2775.00,2685.00,2709.65,2690.00,2709.15,2726.41,3140.00,1178.00,167595,4.569321e+08,28207,ABREL
28,2024-11-11,EQ,2788.00,2788.00,2700.00,2784.95,2700.00,2709.65,2735.87,3140.00,1178.00,95909,2.623944e+08,15829,ABREL
29,2024-11-08,EQ,2842.25,2847.55,2765.10,2839.35,2775.00,2784.95,2798.15,3140.00,1076.45,63261,1.770136e+08,10295,ABREL
30,2024-11-07,EQ,2914.25,2917.75,2811.85,2887.50,2840.00,2839.35,2855.46,3140.00,1076.45,92031,2.627910e+08,12457,ABREL
31,2024-11-06,EQ,2780.00,2925.00,2775.00,2773.95,2891.00,2887.50,2886.72,3140.00,1076.45,298128,8.606119e+08,33521,ABREL
32,2024-11-05,EQ,2741.00,2819.00,2732.65,2749.20,2766.85,2773.95,2780.82,3140.00,1076.45,148772,4.137075e+08,21967,ABREL
33,2024-11-04,EQ,2760.75,2766.00,2685.00,2768.05,2743.00,2749.20,2726.29,3140.00,1076.45,138927,3.787559e+08,24182,ABREL
34,2024-11-01,EQ,2758.80,2789.90,2752.00,2742.80,2765.00,2768.05,2769.83,3140.00,1066.10,20759,5.749889e+07,2057,ABREL
35,2024-10-31,EQ,2700.00,2794.00,2683.85,2695.25,2754.90,2742.80,2746.73,3140.00,1066.10,222352,6.107407e+08,22660,ABREL
36,2024-10-30,EQ,2750.00,2750.00,2675.00,2735.60,2700.00,2695.25,2707.74,3140.00,1066.10,117948,3.193723e+08,17618,ABREL
37,2024-10-29,EQ,2755.00,2773.95,2700.90,2746.30,2731.70,2735.60,2734.90,3140.00,1066.10,123557,3.379158e+08,17481,ABREL
38,2024-10-28,EQ,2640.20,2927.00,2600.10,2638.85,2759.90,2746.30,2815.33,3140.00,1066.10,1140458,3.210762e+09,110256,ABREL
39,2024-10-25,EQ,2765.00,2774.50,2562.05,2768.15,2660.00,2638.85,2633.31,3140.00,1046.45,229456,6.042295e+08,31259,ABREL
40,2024-10-24,EQ,2850.00,2861.35,2750.00,2833.10,2754.00,2768.15,2784.95,3140.00,1046.45,79987,2.227599e+08,12524,ABREL
41,2024-10-23,EQ,2737.50,2867.85,2717.10,2737.50,2832.70,2833.10,2816.92,3140.00,1046.45,445185,1.254051e+09,34922,ABREL
42,2024-10-22,EQ,3008.00,3009.00,2712.00,3030.50,2743.00,2737.50,2825.41,3140.00,1046.45,383325,1.083048e+09,46175,ABREL
43,2024-10-21,EQ,3049.95,3140.00,2952.00,3052.80,3010.85,3030.50,3047.32,3140.00,1046.45,455543,1.388186e+09,52478,ABREL
44,2024-10-18,EQ,2855.95,3125.00,2780.65,2856.00,3039.95,3052.80,3001.25,3125.00,1046.45,992436,2.978552e+09,52709,ABREL
45,2024-10-17,EQ,2928.05,2964.00,2822.00,2924.95,2851.00,2856.00,2880.35,2967.00,1046.45,137439,3.958718e+08,17753,ABREL
46,2024-10-16,EQ,2910.00,2967.00,2880.05,2858.40,2923.30,2924.95,2919.13,2967.00,1046.45,527500,1.539840e+09,38729,ABREL
47,2024-10-15,EQ,2748.00,2880.00,2737.15,2731.80,2860.10,2858.40,2823.27,2936.45,1046.45,285167,8.051043e+08,37283,ABREL
48,2024-10-14,EQ,2710.00,2780.00,2701.00,2702.15,2750.00,2731.80,2732.26,2936.45,1046.45,127294,3.478007e+08,14325,ABREL
49,2024-10-11,EQ,2695.00,2737.00,2658.00,2686.55,2710.00,2702.15,2693.83,2936.45,1046.45,60007,1.616489e+08,9163,ABREL
50,2024-10-10,EQ,2729.00,2790.00,2668.70,2714.05,2692.00,2686.55,2708.12,2936.45,1046.45,51017,1.381601e+08,4293,ABREL

ABSLAMC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,795.0,802.65,778.0,800.75,794.0,790.25,793.76,911.85,450.25,380933,3.023687e+08,25841,ABSLAMC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,795.0,802.65,778.0,800.75,794.0,790.25,793.76,911.85,450.25,380933,3.023687e+08,25841,ABSLAMC

AEGISLOG 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,840.0,854.75,786.5,825.8,802.95,798.75,811.52,970.0,330.4,1848523,1.500111e+09,79100,AEGISLOG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,840.0,854.75,786.5,825.8,802.95,798.75,811.52,970.0,330.4,1848523,1.500111e+09,79100,AEGISLOG

AEGISCHEM 2024-06-06
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,840.00,854.75,786.50,825.80,802.95,798.75,811.52,970.00,330.4,1848523,1.500111e+09,79100,AEGISLOG
1,2024-12-20,EQ,767.35,855.30,759.50,755.45,835.00,825.80,812.28,970.00,330.4,11997222,9.745119e+09,304243,AEGISLOG
2,2024-12-19,EQ,780.00,793.00,748.30,783.20,759.95,755.45,764.73,970.00,330.4,516380,3.948908e+08,39148,AEGISLOG
3,2024-12-18,EQ,782.85,793.45,777.40,788.40,787.00,783.20,785.87,970.00,330.4,182967,1.437874e+08,18401,AEGISLOG
4,2024-12-17,EQ,772.00,801.85,768.05,774.55,786.00,788.40,789.75,970.00,330.4,370198,2.923621e+08,20479,AEGISLOG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2024-06-13,EQ,774.95,887.65,767.15,766.90,838.00,841.10,852.17,887.65,280.0,4967272,4.232954e+09,102626,AEGISLOG
132,2024-06-12,EQ,762.55,775.85,756.00,771.10,766.45,766.90,766.97,869.50,280.0,257860,1.977712e+08,10497,AEGISLOG
133,2024-06-11,EQ,760.00,797.30,751.05,760.65,758.00,771.10,776.10,869.50,280.0,897864,6.968295e+08,24889,AEGISLOG
134,2024-06-10,EQ,780.00,786.00,745.25,777.85,757.00,760.65,758.02,869.50,280.0,1032616,7.827471e+08,37324,AEGISLOG
135,2024-06-07,EQ,795.30,869.50,766.45,791.15,778.90,777.85,822.61,869.50,280.0,2956850,2.432343e+09,55274,AEGISLOG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,840.00,854.75,786.50,825.80,802.95,798.75,811.52,970.00,330.4,1848523,1.500111e+09,79100,AEGISLOG
1,2024-12-20,EQ,767.35,855.30,759.50,755.45,835.00,825.80,812.28,970.00,330.4,11997222,9.745119e+09,304243,AEGISLOG
2,2024-12-19,EQ,780.00,793.00,748.30,783.20,759.95,755.45,764.73,970.00,330.4,516380,3.948908e+08,39148,AEGISLOG
3,2024-12-18,EQ,782.85,793.45,777.40,788.40,787.00,783.20,785.87,970.00,330.4,182967,1.437874e+08,18401,AEGISLOG
4,2024-12-17,EQ,772.00,801.85,768.05,774.55,786.00,788.40,789.75,970.00,330.4,370198,2.923621e+08,20479,AEGISLOG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2024-06-13,EQ,774.95,887.65,767.15,766.90,838.00,841.10,852.17,887.65,280.0,4967272,4.232954e+09,102626,AEGISLOG
132,2024-06-12,EQ,762.55,775.85,756.00,771.10,766.45,766.90,766.97,869.50,280.0,257860,1.977712e+08,10497,AEGISLOG
133,2024-06-11,EQ,760.00,797.30,751.05,760.65,758.00,771.10,776.10,869.50,280.0,897864,6.968295e+08,24889,AEGISLOG
134,2024-06-10,EQ,780.00,786.00,745.25,777.85,757.00,760.65,758.02,869.50,280.0,1032616,7.827471e+08,37324,AEGISLOG
135,2024-06-07,EQ,795.30,869.50,766.45,791.15,778.90,777.85,822.61,869.50,280.0,2956850,2.432343e+09,55274,AEGISLOG

AFFLE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1739.95,1847.5,1715.4,1726.4,1790.9,1792.05,1801.04,1884.0,998.2,1109316,1.997927e+09,89564,AFFLE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1739.95,1847.5,1715.4,1726.4,1790.9,1792.05,1801.04,1884.0,998.2,1109316,1.997927e+09,89564,AFFLE

AJANTPHARM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2869.9,2869.9,2794.35,2866.45,2809.95,2805.5,2809.64,3485.0,1952.0,37421,105139381.6,8279,AJANTPHARM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2869.9,2869.9,2794.35,2866.45,2809.95,2805.5,2809.64,3485.0,1952.0,37421,105139381.6,8279,AJANTPHARM

AKUMS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,580.0,604.65,555.6,572.8,598.0,597.9,586.7,1175.9,530.05,595122,349155779.5,20633,AKUMS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,580.0,604.65,555.6,572.8,598.0,597.9,586.7,1175.9,530.05,595122,349155779.5,20633,AKUMS

APLLTD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1055.15,1055.15,1027.0,1055.15,1045.5,1045.2,1042.1,1303.9,746.5,70552,73522112.4,10956,APLLTD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1055.15,1055.15,1027.0,1055.15,1045.5,1045.2,1042.1,1303.9,746.5,70552,73522112.4,10956,APLLTD

ALKEM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5431.3,5495.5,5378.55,5427.5,5450.0,5481.9,5459.82,6439.9,4407.05,84938,463746227.8,18443,ALKEM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5431.3,5495.5,5378.55,5427.5,5450.0,5481.9,5459.82,6439.9,4407.05,84938,463746227.8,18443,ALKEM

ALKYLAMINE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1877.3,1895.2,1850.0,1872.6,1854.7,1855.05,1861.91,2735.0,1808.0,29532,54986049.2,7268,ALKYLAMINE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1877.3,1895.2,1850.0,1872.6,1854.7,1855.05,1861.91,2735.0,1808.0,29532,54986049.2,7268,ALKYLAMINE

ALOKINDS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,21.3,21.49,20.88,21.17,20.96,21.01,21.1,39.05,19.86,6596956,1.392282e+08,17504,ALOKINDS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,21.3,21.49,20.88,21.17,20.96,21.01,21.1,39.05,19.86,6596956,1.392282e+08,17504,ALOKINDS

ARE&M 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1217.95,1217.95,1157.0,1197.35,1160.0,1167.0,1184.64,1775.95,737.7,678750,804077001.2,58909,ARE&M

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1217.95,1217.95,1157.0,1197.35,1160.0,1167.0,1184.64,1775.95,737.7,678750,804077001.2,58909,ARE&M

AMBER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6185.0,6994.4,6102.75,6122.9,6821.25,6907.8,6697.09,7159.0,2992.5,3246014,2.173885e+10,296323,AMBER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6185.0,6994.4,6102.75,6122.9,6821.25,6907.8,6697.09,7159.0,2992.5,3246014,2.173885e+10,296323,AMBER

AMBUJACEM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,551.0,554.5,547.25,548.8,551.7,550.65,550.67,706.95,453.05,832775,4.585814e+08,31999,AMBUJACEM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,551.0,554.5,547.25,548.8,551.7,550.65,550.67,706.95,453.05,832775,4.585814e+08,31999,AMBUJACEM

ANANDRATHI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4047.5,4049.0,3910.0,4062.6,3931.05,3928.5,3969.92,4646.0,2500.25,45152,1.792500e+08,9562,ANANDRATHI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4047.5,4049.0,3910.0,4062.6,3931.05,3928.5,3969.92,4646.0,2500.25,45152,1.792500e+08,9562,ANANDRATHI

ANANTRAJ 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,858.85,874.0,827.05,847.3,831.6,830.85,843.89,874.0,281.0,2125672,1.793840e+09,64736,ANANTRAJ

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,858.85,874.0,827.05,847.3,831.6,830.85,843.89,874.0,281.0,2125672,1.793840e+09,64736,ANANTRAJ

ANGELONE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2934.9,2958.7,2836.35,2881.7,2856.0,2859.55,2877.59,3896.0,2025.0,1167690,3.360136e+09,89020,ANGELONE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2934.9,2958.7,2836.35,2881.7,2856.0,2859.55,2877.59,3896.0,2025.0,1167690,3.360136e+09,89020,ANGELONE

APARINDS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,10087.0,10185.0,9791.0,9926.9,10149.0,10163.45,9995.29,11000.0,5151.0,72002,719680652.4,22319,APARINDS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,10087.0,10185.0,9791.0,9926.9,10149.0,10163.45,9995.29,11000.0,5151.0,72002,719680652.4,22319,APARINDS

APOLLOHOSP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7251.1,7329.9,7185.0,7251.7,7250.0,7265.1,7259.41,7545.0,5526.15,179062,1.299885e+09,41082,APOLLOHOSP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7251.1,7329.9,7185.0,7251.7,7250.0,7265.1,7259.41,7545.0,5526.15,179062,1.299885e+09,41082,APOLLOHOSP

APOLLOTYRE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,533.9,536.9,527.0,531.95,532.15,532.1,532.27,584.9,425.25,637912,339538911.0,20862,APOLLOTYRE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,533.9,536.9,527.0,531.95,532.15,532.1,532.27,584.9,425.25,637912,339538911.0,20862,APOLLOTYRE

APTUS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,308.95,313.25,306.1,303.55,310.2,311.8,311.34,401.65,286.25,1299046,404440613.8,25364,APTUS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,308.95,313.25,306.1,303.55,310.2,311.8,311.34,401.65,286.25,1299046,404440613.8,25364,APTUS

ACI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,656.0,668.0,638.1,655.35,661.0,661.4,649.2,837.7,571.3,201906,131077308.9,14693,ACI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,656.0,668.0,638.1,655.35,661.0,661.4,649.2,837.7,571.3,201906,131077308.9,14693,ACI

ASAHIINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,758.9,762.0,741.2,757.0,760.0,752.55,751.66,833.95,501.55,69035,51890818.1,9755,ASAHIINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,758.9,762.0,741.2,757.0,760.0,752.55,751.66,833.95,501.55,69035,51890818.1,9755,ASAHIINDIA

ASHOKLEY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,217.35,222.76,217.35,217.28,219.0,218.94,220.58,264.65,157.55,4849358,1.069676e+09,53249,ASHOKLEY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,217.35,222.76,217.35,217.28,219.0,218.94,220.58,264.65,157.55,4849358,1.069676e+09,53249,ASHOKLEY

ASIANPAINT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2300.0,2302.55,2266.05,2282.35,2275.3,2279.2,2283.25,3422.95,2265.35,855677,1.953723e+09,67772,ASIANPAINT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2300.0,2302.55,2266.05,2282.35,2275.3,2279.2,2283.25,3422.95,2265.35,855677,1.953723e+09,67772,ASIANPAINT

ASTERDM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,489.8,517.5,489.65,486.35,504.0,503.85,507.87,558.0,311.1,3896009,1.978674e+09,107295,ASTERDM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,489.8,517.5,489.65,486.35,504.0,503.85,507.87,558.0,311.1,3896009,1.978674e+09,107295,ASTERDM

ASTRAZEN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6490.0,6496.0,6337.7,6488.2,6377.0,6457.45,6415.45,8139.0,4785.0,6472,41520811.0,2508,ASTRAZEN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6490.0,6496.0,6337.7,6488.2,6377.0,6457.45,6415.45,8139.0,4785.0,6472,41520811.0,2508,ASTRAZEN

ASTRAL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1735.0,1746.65,1717.15,1734.6,1722.95,1721.4,1729.28,2454.0,1695.5,216433,374273068.4,21608,ASTRAL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1735.0,1746.65,1717.15,1734.6,1722.95,1721.4,1729.28,2454.0,1695.5,216433,374273068.4,21608,ASTRAL

ATUL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6990.0,7105.0,6963.2,7023.15,7050.0,7032.75,7024.78,8180.0,5174.85,31154,2.188500e+08,7204,ATUL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6990.0,7105.0,6963.2,7023.15,7050.0,7032.75,7024.78,8180.0,5174.85,31154,2.188500e+08,7204,ATUL

AUROPHARMA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1263.65,1265.0,1238.0,1241.7,1254.35,1252.95,1251.49,1592.0,958.5,788664,987008940.0,31415,AUROPHARMA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1263.65,1265.0,1238.0,1241.7,1254.35,1252.95,1251.49,1592.0,958.5,788664,987008940.0,31415,AUROPHARMA

AVANTIFEED 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,629.8,664.0,616.05,622.35,655.5,655.6,648.37,793.0,397.95,1389488,9.008994e+08,64476,AVANTIFEED

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,629.8,664.0,616.05,622.35,655.5,655.6,648.37,793.0,397.95,1389488,9.008994e+08,64476,AVANTIFEED

DMART 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3443.45,3475.9,3419.05,3408.3,3474.0,3460.55,3450.52,5484.85,3399.0,642122,2.215657e+09,43604,DMART

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3443.45,3475.9,3419.05,3408.3,3474.0,3460.55,3450.52,5484.85,3399.0,642122,2.215657e+09,43604,DMART

AXISBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1075.1,1083.55,1072.4,1071.85,1077.0,1079.15,1078.51,1339.65,995.7,3886921,4.192086e+09,132669,AXISBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1075.1,1083.55,1072.4,1071.85,1077.0,1079.15,1078.51,1339.65,995.7,3886921,4.192086e+09,132669,AXISBANK

BASF 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5790.85,5799.6,5588.85,5699.85,5655.0,5640.0,5652.98,8750.0,2868.0,46147,260868061.9,9468,BASF

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5790.85,5799.6,5588.85,5699.85,5655.0,5640.0,5652.98,8750.0,2868.0,46147,260868061.9,9468,BASF

BEML 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4129.0,4149.45,3994.45,4073.8,4041.0,4046.6,4068.85,5488.0,2671.9,206470,840094766.0,26451,BEML

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4129.0,4149.45,3994.45,4073.8,4041.0,4046.6,4068.85,5488.0,2671.9,206470,840094766.0,26451,BEML

BLS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,486.75,498.7,476.2,484.45,482.4,483.25,485.4,501.5,262.95,1594966,774188980.8,39642,BLS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,486.75,498.7,476.2,484.45,482.4,483.25,485.4,501.5,262.95,1594966,774188980.8,39642,BLS

BSE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5600.0,5644.0,5425.0,5542.85,5545.0,5548.3,5540.54,5837.95,1941.05,1478368,8.190950e+09,138817,BSE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5600.0,5644.0,5425.0,5542.85,5545.0,5548.3,5540.54,5837.95,1941.05,1478368,8.190950e+09,138817,BSE

BAJAJ-AUTO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,8849.95,8874.95,8719.9,8787.25,8750.0,8768.45,8774.16,12774.0,6370.05,514460,4.513953e+09,44346,BAJAJ-AUTO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,8849.95,8874.95,8719.9,8787.25,8750.0,8768.45,8774.16,12774.0,6370.05,514460,4.513953e+09,44346,BAJAJ-AUTO

BAJFINANCE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6897.0,6976.9,6855.95,6848.25,6868.0,6866.7,6899.96,7830.0,6187.8,582928,4.022179e+09,75903,BAJFINANCE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6897.0,6976.9,6855.95,6848.25,6868.0,6866.7,6899.96,7830.0,6187.8,582928,4.022179e+09,75903,BAJFINANCE

BAJAJFINSV 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1583.0,1594.75,1560.55,1569.65,1562.95,1563.4,1573.66,2029.9,1419.05,1017438,1.601105e+09,63452,BAJAJFINSV

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1583.0,1594.75,1560.55,1569.65,1562.95,1563.4,1573.66,2029.9,1419.05,1017438,1.601105e+09,63452,BAJAJFINSV

BAJAJHLDNG 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,10746.75,11220.0,10746.75,10746.75,11100.0,11115.15,11073.78,11545.9,7620.0,87126,964814558.0,27701,BAJAJHLDNG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,10746.75,11220.0,10746.75,10746.75,11100.0,11115.15,11073.78,11545.9,7620.0,87126,964814558.0,27701,BAJAJHLDNG

BALAMINES 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1974.05,1988.0,1951.0,1973.85,1951.0,1954.3,1965.95,2735.0,1950.05,25574,50277148.3,4818,BALAMINES

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1974.05,1988.0,1951.0,1973.85,1951.0,1954.3,1965.95,2735.0,1950.05,25574,50277148.3,4818,BALAMINES

BALKRISIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2808.0,2841.0,2768.65,2790.05,2816.85,2816.75,2792.64,3375.0,2193.8,208021,580927825.4,12196,BALKRISIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2808.0,2841.0,2768.65,2790.05,2816.85,2816.75,2792.64,3375.0,2193.8,208021,580927825.4,12196,BALKRISIND

BALRAMCHIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,541.95,542.8,521.5,538.8,524.75,524.2,528.54,691.8,343.5,504286,2.665355e+08,18470,BALRAMCHIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,541.95,542.8,521.5,538.8,524.75,524.2,528.54,691.8,343.5,504286,2.665355e+08,18470,BALRAMCHIN

BANDHANBNK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,160.1,165.41,158.2,159.05,164.21,164.38,162.24,263.1,157.01,13543835,2.197336e+09,78229,BANDHANBNK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,160.1,165.41,158.2,159.05,164.21,164.38,162.24,263.1,157.01,13543835,2.197336e+09,78229,BANDHANBNK

BANKBARODA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,241.06,247.3,239.05,240.59,246.5,246.25,243.91,299.7,219.45,11064641,2.698781e+09,64674,BANKBARODA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,241.06,247.3,239.05,240.59,246.5,246.25,243.91,299.7,219.45,11064641,2.698781e+09,64674,BANKBARODA

BANKINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,103.5,104.75,102.0,103.03,102.39,102.43,102.97,157.95,96.0,7040251,7.249591e+08,42313,BANKINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,103.5,104.75,102.0,103.03,102.39,102.43,102.97,157.95,96.0,7040251,7.249591e+08,42313,BANKINDIA

MAHABANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,55.0,55.25,53.94,54.74,54.1,54.13,54.38,73.5,44.75,8883284,4.831064e+08,51635,MAHABANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,55.0,55.25,53.94,54.74,54.1,54.13,54.38,73.5,44.75,8883284,4.831064e+08,51635,MAHABANK

BATAINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1350.25,1353.4,1327.85,1342.25,1332.2,1334.1,1338.85,1660.25,1269.0,83487,1.117764e+08,6508,BATAINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1350.25,1353.4,1327.85,1342.25,1332.2,1334.1,1338.85,1660.25,1269.0,83487,1.117764e+08,6508,BATAINDIA

BAYERCROP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5815.05,5923.0,5697.3,5861.7,5790.0,5767.45,5815.27,7196.85,4901.2,26862,156209753.8,8930,BAYERCROP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5815.05,5923.0,5697.3,5861.7,5790.0,5767.45,5815.27,7196.85,4901.2,26862,156209753.8,8930,BAYERCROP

BERGEPAINT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,447.0,447.0,437.75,444.8,444.6,443.6,443.29,629.5,437.75,1073520,4.758765e+08,29015,BERGEPAINT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,447.0,447.0,437.75,444.8,444.6,443.6,443.29,629.5,437.75,1073520,4.758765e+08,29015,BERGEPAINT

BDL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1256.0,1256.9,1196.2,1239.25,1206.2,1212.8,1226.12,2958.0,890.0,1000523,1.226762e+09,68181,BDL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1256.0,1256.9,1196.2,1239.25,1206.2,1212.8,1226.12,2958.0,890.0,1000523,1.226762e+09,68181,BDL

BEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,294.0,295.3,288.0,290.85,294.1,294.35,292.15,340.5,171.75,10201072,2.980248e+09,99783,BEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,294.0,295.3,288.0,290.85,294.1,294.35,292.15,340.5,171.75,10201072,2.980248e+09,99783,BEL

BHARATFORG 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1284.0,1310.0,1272.2,1278.9,1295.4,1299.2,1293.11,1804.5,1063.0,915584,1.183952e+09,31245,BHARATFORG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1284.0,1310.0,1272.2,1278.9,1295.4,1299.2,1293.11,1804.5,1063.0,915584,1.183952e+09,31245,BHARATFORG

BHEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,238.35,243.85,235.1,235.3,241.15,240.95,240.87,335.35,178.65,14608700,3.518779e+09,79490,BHEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,238.35,243.85,235.1,235.3,241.15,240.95,240.87,335.35,178.65,14608700,3.518779e+09,79490,BHEL

BPCL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,292.0,294.9,288.0,289.05,289.0,289.1,290.44,687.95,279.35,6819725,1.980702e+09,68248,BPCL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,292.0,294.9,288.0,289.05,289.0,289.1,290.44,687.95,279.35,6819725,1.980702e+09,68248,BPCL

BHARTIARTL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1586.0,1607.45,1578.35,1578.1,1585.0,1586.9,1591.16,1779.0,989.65,4363599,6.943196e+09,149394,BHARTIARTL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1586.0,1607.45,1578.35,1578.1,1585.0,1586.9,1591.16,1779.0,989.65,4363599,6.943196e+09,149394,BHARTIARTL

BHARTIHEXA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1514.0,1521.75,1452.5,1503.6,1472.15,1489.05,1478.12,1609.3,755.0,448225,662532230.1,47757,BHARTIHEXA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1514.0,1521.75,1452.5,1503.6,1472.15,1489.05,1478.12,1609.3,755.0,448225,662532230.1,47757,BHARTIHEXA

BIKAJI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,784.0,788.0,760.85,770.15,780.0,782.3,774.05,1007.95,476.1,488520,3.781366e+08,25769,BIKAJI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,784.0,788.0,760.85,770.15,780.0,782.3,774.05,1007.95,476.1,488520,3.781366e+08,25769,BIKAJI

BIOCON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,338.45,339.6,329.0,335.95,329.95,329.55,334.24,395.8,244.55,2007668,6.710347e+08,31874,BIOCON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,338.45,339.6,329.0,335.95,329.95,329.55,334.24,395.8,244.55,2007668,6.710347e+08,31874,BIOCON

BIRLACORPN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1264.45,1267.5,1224.0,1264.05,1244.1,1247.9,1239.32,1802.0,1072.55,63109,78212429.15,14919,BIRLACORPN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1264.45,1267.5,1224.0,1264.05,1244.1,1247.9,1239.32,1802.0,1072.55,63109,78212429.15,14919,BIRLACORPN

BSOFT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,577.0,584.0,568.15,577.0,573.15,573.7,573.68,861.85,536.3,1527988,8.765788e+08,46027,BSOFT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,577.0,584.0,568.15,577.0,573.15,573.7,573.68,861.85,536.3,1527988,8.765788e+08,46027,BSOFT

BLUEDART 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7165.05,7344.65,7005.05,7197.3,7005.05,7031.2,7081.66,9488.7,5486.6,6633,46972654.4,2633,BLUEDART

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7165.05,7344.65,7005.05,7197.3,7005.05,7031.2,7081.66,9488.7,5486.6,6633,46972654.4,2633,BLUEDART

BLUESTARCO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1992.6,2018.0,1964.0,1977.5,1998.8,2005.8,1993.88,2199.55,926.0,100136,199659570.4,17255,BLUESTARCO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1992.6,2018.0,1964.0,1977.5,1998.8,2005.8,1993.88,2199.55,926.0,100136,199659570.4,17255,BLUESTARCO

BBTC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2200.15,2209.1,2111.75,2191.15,2122.05,2124.8,2145.33,2975.0,1318.2,55746,119593832.8,9258,BBTC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2200.15,2209.1,2111.75,2191.15,2122.05,2124.8,2145.33,2975.0,1318.2,55746,119593832.8,9258,BBTC

BOSCHLTD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,34775.0,34956.05,34350.85,34576.95,34394.95,34525.05,34672.53,39088.8,21562.95,8983,3.114633e+08,5046,BOSCHLTD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,34775.0,34956.05,34350.85,34576.95,34394.95,34525.05,34672.53,39088.8,21562.95,8983,3.114633e+08,5046,BOSCHLTD

BRIGADE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1253.05,1338.7,1244.3,1236.7,1255.0,1258.4,1297.14,1453.1,827.0,1201280,1.558224e+09,79045,BRIGADE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1253.05,1338.7,1244.3,1236.7,1255.0,1258.4,1297.14,1453.1,827.0,1201280,1.558224e+09,79045,BRIGADE

BRITANNIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4705.0,4735.0,4663.8,4698.1,4706.0,4704.35,4703.32,6469.9,4641.0,332554,1.564107e+09,33407,BRITANNIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4705.0,4735.0,4663.8,4698.1,4706.0,4704.35,4703.32,6469.9,4641.0,332554,1.564107e+09,33407,BRITANNIA

MAPMYINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1650.0,1667.65,1616.0,1664.85,1650.0,1652.65,1651.97,2747.85,1513.0,159659,2.637517e+08,26856,MAPMYINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1650.0,1667.65,1616.0,1664.85,1650.0,1652.65,1651.97,2747.85,1513.0,159659,2.637517e+08,26856,MAPMYINDIA

CCL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,754.1,754.9,737.1,745.45,742.0,741.35,744.07,855.0,551.6,93519,69584962.4,11728,CCL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,754.1,754.9,737.1,745.45,742.0,741.35,744.07,855.0,551.6,93519,69584962.4,11728,CCL

CESC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,184.68,185.13,180.24,182.74,184.83,184.75,183.63,212.49,109.75,3990598,7.327762e+08,37912,CESC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,184.68,185.13,180.24,182.74,184.83,184.75,183.63,212.49,109.75,3990598,7.327762e+08,37912,CESC

CGPOWER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,731.0,738.45,717.0,730.05,725.0,727.6,729.1,874.7,414.3,1507454,1.099087e+09,55825,CGPOWER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,731.0,738.45,717.0,730.05,725.0,727.6,729.1,874.7,414.3,1507454,1.099087e+09,55825,CGPOWER

CIEINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,465.25,470.45,457.0,460.85,467.0,466.3,464.46,622.4,406.8,136012,63172409.85,12030,CIEINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,465.25,470.45,457.0,460.85,467.0,466.3,464.46,622.4,406.8,136012,63172409.85,12030,CIEINDIA

CRISIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5690.0,5729.5,5569.35,5752.5,5710.0,5695.05,5656.55,5912.0,3660.7,33754,190931116.6,8867,CRISIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5690.0,5729.5,5569.35,5752.5,5710.0,5695.05,5656.55,5912.0,3660.7,33754,190931116.6,8867,CRISIL

CAMPUS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,289.2,293.4,279.0,286.75,292.1,292.25,288.4,371.9,213.0,765941,2.209012e+08,25434,CAMPUS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,289.2,293.4,279.0,286.75,292.1,292.25,288.4,371.9,213.0,765941,2.209012e+08,25434,CAMPUS

CANFINHOME 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,747.55,756.0,723.55,747.7,726.4,726.55,739.23,951.75,680.0,940565,695293132.7,39377,CANFINHOME

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,747.55,756.0,723.55,747.7,726.4,726.55,739.23,951.75,680.0,940565,695293132.7,39377,CANFINHOME

CANBK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,101.1,101.99,99.1,99.61,101.17,101.08,100.49,632.9,92.52,20493999,2.059461e+09,82713,CANBK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,101.1,101.99,99.1,99.61,101.17,101.08,100.49,632.9,92.52,20493999,2.059461e+09,82713,CANBK

CAPLIPOINT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2355.0,2438.0,2324.4,2311.45,2432.0,2417.65,2384.15,2539.85,1225.0,310863,7.411446e+08,35185,CAPLIPOINT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2355.0,2438.0,2324.4,2311.45,2432.0,2417.65,2384.15,2539.85,1225.0,310863,7.411446e+08,35185,CAPLIPOINT

CGCL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,188.85,190.71,185.81,188.84,189.5,188.58,188.02,1049.0,177.99,80199,15079122.36,4046,CGCL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,188.85,190.71,185.81,188.84,189.5,188.58,188.02,1049.0,177.99,80199,15079122.36,4046,CGCL

CARBORUNIV 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1318.05,1318.05,1269.95,1315.3,1281.0,1278.1,1278.82,1841.15,1025.6,105801,1.353009e+08,22962,CARBORUNIV

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1318.05,1318.05,1269.95,1315.3,1281.0,1278.1,1278.82,1841.15,1025.6,105801,1.353009e+08,22962,CARBORUNIV

CASTROLIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,202.0,202.86,194.85,200.64,196.19,196.11,196.99,284.4,164.2,2103064,414292069.0,34199,CASTROLIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,202.0,202.86,194.85,200.64,196.19,196.11,196.99,284.4,164.2,2103064,414292069.0,34199,CASTROLIND

CEATLTD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3000.05,3054.0,2967.0,3010.95,3035.0,3041.85,3023.44,3578.8,2210.15,111531,3.372072e+08,19483,CEATLTD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3000.05,3054.0,2967.0,3010.95,3035.0,3041.85,3023.44,3578.8,2210.15,111531,3.372072e+08,19483,CEATLTD

CELLO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,787.3,787.3,755.0,775.65,757.0,758.85,760.95,1025.0,711.2,81804,62249161.9,10314,CELLO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,787.3,787.3,755.0,775.65,757.0,758.85,760.95,1025.0,711.2,81804,62249161.9,10314,CELLO

CENTRALBK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,55.49,55.49,54.0,55.07,54.15,54.24,54.49,76.9,48.2,3689583,2.010636e+08,18207,CENTRALBK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,55.49,55.49,54.0,55.07,54.15,54.24,54.49,76.9,48.2,3689583,2.010636e+08,18207,CENTRALBK

CDSL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1878.0,1888.0,1814.0,1860.75,1815.8,1818.6,1837.57,2989.0,1344.6,2838705,5.216307e+09,145715,CDSL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1878.0,1888.0,1814.0,1860.75,1815.8,1818.6,1837.57,2989.0,1344.6,2838705,5.216307e+09,145715,CDSL

CENTURYPLY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,775.0,776.1,753.5,769.85,764.9,759.8,763.92,935.0,622.1,45853,35028129.9,6597,CENTURYPLY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,775.0,776.1,753.5,769.85,764.9,759.8,763.92,935.0,622.1,45853,35028129.9,6597,CENTURYPLY

CERA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7311.85,7398.0,7202.2,7293.65,7325.0,7294.8,7283.56,10789.95,6591.2,6141,44728370.05,3042,CERA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7311.85,7398.0,7202.2,7293.65,7325.0,7294.8,7283.56,10789.95,6591.2,6141,44728370.05,3042,CERA

CHALET 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,980.0,992.45,926.0,976.7,961.0,961.85,951.37,1052.45,644.65,653105,6.213445e+08,41661,CHALET

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,980.0,992.45,926.0,976.7,961.0,961.85,951.37,1052.45,644.65,653105,6.213445e+08,41661,CHALET

CHAMBLFERT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,511.9,514.95,504.3,509.15,507.0,507.75,509.65,574.35,332.05,598654,3.051029e+08,16191,CHAMBLFERT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,511.9,514.95,504.3,509.15,507.0,507.75,509.65,574.35,332.05,598654,3.051029e+08,16191,CHAMBLFERT

CHEMPLASTS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,497.15,505.0,488.55,497.15,501.0,499.55,497.76,633.9,402.8,55643,27696960.2,9922,CHEMPLASTS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,497.15,505.0,488.55,497.15,501.0,499.55,497.76,633.9,402.8,55643,27696960.2,9922,CHEMPLASTS

CHENNPETRO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,594.5,606.35,584.65,594.3,602.5,601.4,595.17,1275.0,562.55,843201,501851572.6,34603,CHENNPETRO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,594.5,606.35,584.65,594.3,602.5,601.4,595.17,1275.0,562.55,843201,501851572.6,34603,CHENNPETRO

CHOLAHLDNG 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1454.05,1485.95,1395.1,1437.35,1400.0,1400.85,1406.06,2154.95,989.05,464208,652703344.0,19743,CHOLAHLDNG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1454.05,1485.95,1395.1,1437.35,1400.0,1400.85,1406.06,2154.95,989.05,464208,652703344.0,19743,CHOLAHLDNG

CHOLAFIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1192.5,1199.95,1168.1,1189.55,1174.3,1171.1,1182.31,1652.0,1011.2,1453658,1.718675e+09,62900,CHOLAFIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1192.5,1199.95,1168.1,1189.55,1174.3,1171.1,1182.31,1652.0,1011.2,1453658,1.718675e+09,62900,CHOLAFIN

CIPLA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1473.95,1491.0,1458.8,1472.05,1470.0,1476.05,1475.03,1702.05,1231.85,760728,1.122094e+09,47860,CIPLA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1473.95,1491.0,1458.8,1472.05,1470.0,1476.05,1475.03,1702.05,1231.85,760728,1.122094e+09,47860,CIPLA

CUB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,177.22,177.23,173.39,175.42,174.0,174.55,175.97,187.9,125.4,3144525,5.533384e+08,15150,CUB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,177.22,177.23,173.39,175.42,174.0,174.55,175.97,187.9,125.4,3144525,5.533384e+08,15150,CUB

CLEAN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1431.1,1461.25,1412.05,1451.05,1446.5,1453.45,1438.44,1690.0,1243.0,154365,222045431.2,14909,CLEAN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1431.1,1461.25,1412.05,1451.05,1446.5,1453.45,1438.44,1690.0,1243.0,154365,222045431.2,14909,CLEAN

COALINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,386.0,388.6,382.4,382.0,383.5,382.95,385.45,543.55,362.4,5163415,1.990235e+09,75721,COALINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,386.0,388.6,382.4,382.0,383.5,382.95,385.45,543.55,362.4,5163415,1.990235e+09,75721,COALINDIA

COCHINSHIP 2024-09-24
2024-12-24
COFORGE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,9449.6,9525.0,9381.25,9370.45,9390.0,9406.35,9437.47,9797.1,4287.25,311668,2.941359e+09,53724,COFORGE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,9449.6,9525.0,9381.25,9370.45,9390.0,9406.35,9437.47,9797.1,4287.25,311668,2.941359e+09,53724,COFORGE

COLPAL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2752.35,2760.0,2705.5,2750.85,2730.0,2726.7,2735.8,3890.0,2378.9,280672,767861214.1,30130,COLPAL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2752.35,2760.0,2705.5,2750.85,2730.0,2726.7,2735.8,3890.0,2378.9,280672,767861214.1,30130,COLPAL

CAMS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4960.0,5017.45,4840.0,4951.0,4895.0,4903.0,4921.42,5367.5,2643.3,261277,1.285853e+09,37526,CAMS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4960.0,5017.45,4840.0,4951.0,4895.0,4903.0,4921.42,5367.5,2643.3,261277,1.285853e+09,37526,CAMS

CONCORDBIO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2125.0,2153.0,2062.0,2129.35,2112.35,2135.9,2106.73,2664.0,1327.05,61779,1.301519e+08,10547,CONCORDBIO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2125.0,2153.0,2062.0,2129.35,2112.35,2135.9,2106.73,2664.0,1327.05,61779,1.301519e+08,10547,CONCORDBIO

CONCOR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,776.05,780.25,769.05,767.95,775.0,776.35,775.09,1180.0,757.25,506816,3.928295e+08,34352,CONCOR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,776.05,780.25,769.05,767.95,775.0,776.35,775.09,1180.0,757.25,506816,3.928295e+08,34352,CONCOR

COROMANDEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1842.05,1888.95,1816.15,1839.3,1868.0,1862.7,1861.73,1888.95,1024.6,881011,1.640204e+09,40662,COROMANDEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1842.05,1888.95,1816.15,1839.3,1868.0,1862.7,1861.73,1888.95,1024.6,881011,1.640204e+09,40662,COROMANDEL

CRAFTSMAN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5250.05,5273.95,5200.0,5193.25,5230.0,5213.45,5222.58,7121.25,3782.05,33464,1.747684e+08,11485,CRAFTSMAN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5250.05,5273.95,5200.0,5193.25,5230.0,5213.45,5222.58,7121.25,3782.05,33464,1.747684e+08,11485,CRAFTSMAN

CREDITACC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,818.3,844.75,815.8,813.9,821.0,826.15,826.74,1790.75,810.0,286564,2.369132e+08,21680,CREDITACC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,818.3,844.75,815.8,813.9,821.0,826.15,826.74,1790.75,810.0,286564,2.369132e+08,21680,CREDITACC

CROMPTON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,389.0,394.9,383.9,388.25,390.45,390.55,390.23,484.0,261.25,669388,2.612148e+08,23468,CROMPTON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,389.0,394.9,383.9,388.25,390.45,390.55,390.23,484.0,261.25,669388,2.612148e+08,23468,CROMPTON

CUMMINSIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3343.0,3398.95,3301.1,3312.9,3358.0,3360.3,3353.13,4171.9,1927.0,273118,9.158009e+08,29837,CUMMINSIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3343.0,3398.95,3301.1,3312.9,3358.0,3360.3,3353.13,4171.9,1927.0,273118,9.158009e+08,29837,CUMMINSIND

CYIENT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1934.35,1947.3,1886.6,1924.4,1895.0,1894.95,1909.6,2381.0,1651.5,151301,2.889237e+08,17474,CYIENT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1934.35,1947.3,1886.6,1924.4,1895.0,1894.95,1909.6,2381.0,1651.5,151301,2.889237e+08,17474,CYIENT

DLF 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,837.8,854.0,832.55,830.7,842.1,844.25,845.49,967.6,687.05,3024905,2.557523e+09,64063,DLF

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,837.8,854.0,832.55,830.7,842.1,844.25,845.49,967.6,687.05,3024905,2.557523e+09,64063,DLF

DOMS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2767.05,2786.0,2510.0,2781.0,2515.0,2526.75,2589.5,3115.0,1245.0,772496,2.000376e+09,70399,DOMS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2767.05,2786.0,2510.0,2781.0,2515.0,2526.75,2589.5,3115.0,1245.0,772496,2.000376e+09,70399,DOMS

DABUR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,502.7,511.0,500.9,502.55,510.6,509.5,507.06,672.0,489.2,1777848,901482201.3,38540,DABUR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,502.7,511.0,500.9,502.55,510.6,509.5,507.06,672.0,489.2,1777848,901482201.3,38540,DABUR

DALBHARAT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1785.5,1802.75,1734.7,1801.9,1755.05,1759.95,1776.57,2428.6,1651.4,516633,9.178347e+08,34864,DALBHARAT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1785.5,1802.75,1734.7,1801.9,1755.05,1759.95,1776.57,2428.6,1651.4,516633,9.178347e+08,34864,DALBHARAT

DATAPATTNS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2579.3,2595.0,2448.25,2567.75,2486.0,2480.65,2481.97,3655.0,1751.0,182839,4.538014e+08,33769,DATAPATTNS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2579.3,2595.0,2448.25,2567.75,2486.0,2480.65,2481.97,3655.0,1751.0,182839,4.538014e+08,33769,DATAPATTNS

DEEPAKFERT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1133.95,1182.3,1109.9,1146.1,1164.0,1167.15,1151.48,1443.1,450.0,1234448,1.421438e+09,62736,DEEPAKFERT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1133.95,1182.3,1109.9,1146.1,1164.0,1167.15,1151.48,1443.1,450.0,1234448,1.421438e+09,62736,DEEPAKFERT

DEEPAKNTR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2590.0,2626.0,2571.6,2596.85,2591.65,2594.8,2598.3,3169.0,2021.0,99057,2.573802e+08,12011,DEEPAKNTR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2590.0,2626.0,2571.6,2596.85,2591.65,2594.8,2598.3,3169.0,2021.0,99057,2.573802e+08,12011,DEEPAKNTR

DELHIVERY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,348.0,361.0,348.0,349.6,359.55,359.1,357.39,488.0,325.5,2577980,921340690.8,35957,DELHIVERY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,348.0,361.0,348.0,349.6,359.55,359.1,357.39,488.0,325.5,2577980,921340690.8,35957,DELHIVERY

DEVYANI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,172.99,182.7,172.86,172.37,176.82,177.3,178.55,222.74,142.25,7482209,1.335935e+09,93063,DEVYANI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,172.99,182.7,172.86,172.37,176.82,177.3,178.55,222.74,142.25,7482209,1.335935e+09,93063,DEVYANI

DIVISLAB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5846.75,5935.0,5837.0,5846.75,5850.7,5849.45,5883.45,6285.45,3350.0,464380,2.732155e+09,45339,DIVISLAB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5846.75,5935.0,5837.0,5846.75,5850.7,5849.45,5883.45,6285.45,3350.0,464380,2.732155e+09,45339,DIVISLAB

DIXON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,18058.0,18150.0,17655.0,17944.9,17999.0,17998.45,17963.27,19148.9,5782.85,286741,5.150807e+09,63829,DIXON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,18058.0,18150.0,17655.0,17944.9,17999.0,17998.45,17963.27,19148.9,5782.85,286741,5.150807e+09,63829,DIXON

LALPATHLAB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2800.25,3014.45,2800.25,2946.25,2950.0,2946.2,2971.34,3653.95,1943.7,283770,843178362.3,38397,LALPATHLAB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2800.25,3014.45,2800.25,2946.25,2950.0,2946.2,2971.34,3653.95,1943.7,283770,843178362.3,38397,LALPATHLAB

DRREDDY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1362.0,1367.0,1330.3,1343.65,1340.5,1341.35,1345.99,7107.45,1170.2,3740109,5.034152e+09,110693,DRREDDY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1362.0,1367.0,1330.3,1343.65,1340.5,1341.35,1345.99,7107.45,1170.2,3740109,5.034152e+09,110693,DRREDDY

EIDPARRY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,960.0,960.45,915.0,959.15,919.1,918.15,929.4,997.0,539.3,323857,300992519.9,18286,EIDPARRY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,960.0,960.45,915.0,959.15,919.1,918.15,929.4,997.0,539.3,323857,300992519.9,18286,EIDPARRY

EIHOTEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,413.9,419.9,403.6,412.25,405.8,406.2,408.48,502.2,235.65,423366,172935363.9,20743,EIHOTEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,413.9,419.9,403.6,412.25,405.8,406.2,408.48,502.2,235.65,423366,172935363.9,20743,EIHOTEL

EASEMYTRIP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,16.32,16.8,15.81,16.18,16.57,16.62,16.38,54.0,15.81,26838793,4.397236e+08,31111,EASEMYTRIP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,16.32,16.8,15.81,16.18,16.57,16.62,16.38,54.0,15.81,26838793,4.397236e+08,31111,EASEMYTRIP

EICHERMOT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4750.0,4776.2,4698.0,4734.5,4756.95,4750.55,4747.8,5105.0,3562.45,371318,1.762943e+09,46896,EICHERMOT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4750.0,4776.2,4698.0,4734.5,4756.95,4750.55,4747.8,5105.0,3562.45,371318,1.762943e+09,46896,EICHERMOT

ELECON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,602.0,619.95,592.2,601.75,605.5,602.4,601.38,1409.0,527.55,262838,158065181.3,19459,ELECON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,602.0,619.95,592.2,601.75,605.5,602.4,601.38,1409.0,527.55,262838,158065181.3,19459,ELECON

ELGIEQUIP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,601.3,603.8,583.0,596.0,586.0,587.9,592.0,798.95,524.0,75520,44707737.05,6915,ELGIEQUIP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,601.3,603.8,583.0,596.0,586.0,587.9,592.0,798.95,524.0,75520,44707737.05,6915,ELGIEQUIP

EMAMILTD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,584.0,590.85,565.0,590.85,568.0,567.6,572.24,860.0,417.1,886530,5.073088e+08,42259,EMAMILTD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,584.0,590.85,565.0,590.85,568.0,567.6,572.24,860.0,417.1,886530,5.073088e+08,42259,EMAMILTD

EMCURE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1395.9,1395.9,1358.0,1372.9,1385.0,1387.25,1378.26,1580.0,1225.0,41840,57666519.65,5772,EMCURE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1395.9,1395.9,1358.0,1372.9,1385.0,1387.25,1378.26,1580.0,1225.0,41840,57666519.65,5772,EMCURE

ENDURANCE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2205.05,2225.95,2141.0,2208.1,2143.0,2150.25,2167.54,3061.3,1716.2,38588,83641040.4,10229,ENDURANCE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2205.05,2225.95,2141.0,2208.1,2143.0,2150.25,2167.54,3061.3,1716.2,38588,83641040.4,10229,ENDURANCE

ENGINERSIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,188.0,188.32,183.0,183.68,183.6,183.72,185.35,303.9,159.0,1902194,3.525747e+08,38337,ENGINERSIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,188.0,188.32,183.0,183.68,183.6,183.72,185.35,303.9,159.0,1902194,3.525747e+08,38337,ENGINERSIN

EQUITASBNK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,63.99,65.45,63.1,63.98,65.0,65.25,64.63,116.5,61.35,3999879,2.585088e+08,28003,EQUITASBNK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,63.99,65.45,63.1,63.98,65.0,65.25,64.63,116.5,61.35,3999879,2.585088e+08,28003,EQUITASBNK

ERIS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1380.3,1390.15,1317.65,1380.3,1335.0,1336.65,1342.62,1593.9,809.15,70776,95025445.35,10339,ERIS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1380.3,1390.15,1317.65,1380.3,1335.0,1336.65,1342.62,1593.9,809.15,70776,95025445.35,10339,ERIS

ESCORTS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3180.75,3224.65,3133.0,3162.05,3133.0,3143.6,3180.01,4420.0,2648.4,188314,598840507.7,26537,ESCORTS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3180.75,3224.65,3133.0,3162.05,3133.0,3143.6,3180.01,4420.0,2648.4,188314,598840507.7,26537,ESCORTS

EXIDEIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,426.3,429.0,414.65,426.3,416.0,416.75,421.86,620.35,290.35,3123990,1.317899e+09,63880,EXIDEIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,426.3,429.0,414.65,426.3,416.0,416.75,421.86,620.35,290.35,3123990,1.317899e+09,63880,EXIDEIND

NYKAA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,167.45,169.67,159.12,167.33,159.45,160.05,162.41,229.8,139.8,9232701,1.499484e+09,80085,NYKAA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,167.45,169.67,159.12,167.33,159.45,160.05,162.41,229.8,139.8,9232701,1.499484e+09,80085,NYKAA

FEDERALBNK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,195.0,197.83,194.88,194.46,197.0,197.02,196.79,217.0,139.4,8006446,1.575597e+09,100240,FEDERALBNK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,195.0,197.83,194.88,194.46,197.0,197.02,196.79,217.0,139.4,8006446,1.575597e+09,100240,FEDERALBNK

FACT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,945.05,960.5,917.15,948.0,929.0,928.45,934.78,1187.0,572.6,338203,316144720.4,17890,FACT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,945.05,960.5,917.15,948.0,929.0,928.45,934.78,1187.0,572.6,338203,316144720.4,17890,FACT

FINEORG 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4725.0,4768.85,4640.05,4771.55,4675.0,4665.1,4693.05,5958.85,4021.0,17010,79828781.7,6712,FINEORG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4725.0,4768.85,4640.05,4771.55,4675.0,4665.1,4693.05,5958.85,4021.0,17010,79828781.7,6712,FINEORG

FINCABLES 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1164.1,1167.55,1131.5,1157.95,1154.0,1152.05,1150.54,1700.0,831.25,135008,155331975.8,15649,FINCABLES

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1164.1,1167.55,1131.5,1157.95,1154.0,1152.05,1150.54,1700.0,831.25,135008,155331975.8,15649,FINCABLES

FINPIPE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,239.95,243.25,236.05,238.5,239.9,239.55,239.69,355.9,203.4,283558,67966285.05,15195,FINPIPE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,239.95,243.25,236.05,238.5,239.9,239.55,239.69,355.9,203.4,283558,67966285.05,15195,FINPIPE

FSL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,365.0,365.0,346.45,357.3,356.0,355.05,354.25,391.5,176.25,2403157,851311548.7,44459,FSL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,365.0,365.0,346.45,357.3,356.0,355.05,354.25,391.5,176.25,2403157,851311548.7,44459,FSL

FIVESTAR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,765.0,788.9,749.55,767.25,770.0,767.35,767.6,943.75,600.05,1256155,964225166.9,49659,FIVESTAR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,765.0,788.9,749.55,767.25,770.0,767.35,767.6,943.75,600.05,1256155,964225166.9,49659,FIVESTAR

FORTIS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,680.0,685.25,667.0,677.85,676.65,678.9,678.62,740.35,375.05,1052680,714365646.2,42302,FORTIS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,680.0,685.25,667.0,677.85,676.65,678.9,678.62,740.35,375.05,1052680,714365646.2,42302,FORTIS

GRINFRA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1525.05,1542.35,1488.5,1529.8,1500.0,1502.05,1509.26,1860.0,1078.0,28491,43000288.8,6964,GRINFRA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1525.05,1542.35,1488.5,1529.8,1500.0,1502.05,1509.26,1860.0,1078.0,28491,43000288.8,6964,GRINFRA

GAIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,194.2,198.19,191.63,192.42,194.39,193.97,195.16,246.3,150.75,20954043,4.089416e+09,94274,GAIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,194.2,198.19,191.63,192.42,194.39,193.97,195.16,246.3,150.75,20954043,4.089416e+09,94274,GAIL

GMRAIRPORT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,79.18,80.64,78.55,78.82,79.39,79.3,79.54,103.75,70.65,19622227,1.560722e+09,45289,GMRAIRPORT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,79.18,80.64,78.55,78.82,79.39,79.3,79.54,103.75,70.65,19622227,1.560722e+09,45289,GMRAIRPORT

GMRINFRA 2024-12-10
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,79.18,80.64,78.55,78.82,79.39,79.30,79.54,103.75,70.65,19622227,1.560722e+09,45289,GMRAIRPORT
1,2024-12-20,EQ,81.60,81.60,78.00,80.63,78.20,78.82,79.48,103.75,69.60,10082347,8.013009e+08,35180,GMRAIRPORT
2,2024-12-19,EQ,80.20,81.49,80.20,82.15,80.72,80.63,80.76,103.75,69.60,4878495,3.939941e+08,22111,GMRAIRPORT
3,2024-12-18,EQ,83.00,83.16,81.58,83.44,82.22,82.15,82.31,103.75,69.60,7559892,6.222857e+08,31909,GMRAIRPORT
4,2024-12-17,EQ,85.40,85.76,83.00,83.90,83.00,83.44,84.43,103.75,69.60,13065340,1.103075e+09,48680,GMRAIRPORT
5,2024-12-16,EQ,84.05,84.44,83.65,83.95,84.06,83.90,83.97,103.75,69.60,4526525,3.801034e+08,20936,GMRAIRPORT
6,2024-12-13,EQ,83.81,84.47,81.92,84.56,84.24,83.95,83.19,103.75,69.55,7881359,6.556261e+08,45445,GMRAIRPORT
7,2024-12-12,EQ,85.70,85.70,84.20,85.44,84.51,84.56,84.83,103.75,69.55,7381845,6.262263e+08,24588,GMRAIRPORT
8,2024-12-11,EQ,84.75,85.84,84.75,85.13,85.55,85.44,85.36,103.75,69.55,5476910,4.675086e+08,25488,GMRAIRPORT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,79.18,80.64,78.55,78.82,79.39,79.30,79.54,103.75,70.65,19622227,1.560722e+09,45289,GMRAIRPORT
1,2024-12-20,EQ,81.60,81.60,78.00,80.63,78.20,78.82,79.48,103.75,69.60,10082347,8.013009e+08,35180,GMRAIRPORT
2,2024-12-19,EQ,80.20,81.49,80.20,82.15,80.72,80.63,80.76,103.75,69.60,4878495,3.939941e+08,22111,GMRAIRPORT
3,2024-12-18,EQ,83.00,83.16,81.58,83.44,82.22,82.15,82.31,103.75,69.60,7559892,6.222857e+08,31909,GMRAIRPORT
4,2024-12-17,EQ,85.40,85.76,83.00,83.90,83.00,83.44,84.43,103.75,69.60,13065340,1.103075e+09,48680,GMRAIRPORT
5,2024-12-16,EQ,84.05,84.44,83.65,83.95,84.06,83.90,83.97,103.75,69.60,4526525,3.801034e+08,20936,GMRAIRPORT
6,2024-12-13,EQ,83.81,84.47,81.92,84.56,84.24,83.95,83.19,103.75,69.55,7881359,6.556261e+08,45445,GMRAIRPORT
7,2024-12-12,EQ,85.70,85.70,84.20,85.44,84.51,84.56,84.83,103.75,69.55,7381845,6.262263e+08,24588,GMRAIRPORT
8,2024-12-11,EQ,84.75,85.84,84.75,85.13,85.55,85.44,85.36,103.75,69.55,5476910,4.675086e+08,25488,GMRAIRPORT

GRSE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1598.9,1603.55,1525.15,1572.2,1555.0,1557.7,1556.29,2833.8,673.45,406117,6.320370e+08,39862,GRSE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1598.9,1603.55,1525.15,1572.2,1555.0,1557.7,1556.29,2833.8,673.45,406117,6.320370e+08,39862,GRSE

GICRE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,500.95,500.95,451.5,501.0,482.05,480.55,474.66,525.5,297.1,13192115,6.261830e+09,230568,GICRE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,500.95,500.95,451.5,501.0,482.05,480.55,474.66,525.5,297.1,13192115,6.261830e+09,230568,GICRE

GILLETTE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,9255.0,9273.0,9002.3,9414.4,9054.15,9085.55,9088.22,10699.0,6071.05,37431,340181231.5,10853,GILLETTE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,9255.0,9273.0,9002.3,9414.4,9054.15,9085.55,9088.22,10699.0,6071.05,37431,340181231.5,10853,GILLETTE

GLAND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1790.25,1793.0,1743.05,1772.3,1765.0,1764.8,1762.77,2220.95,1585.7,147482,259977065.6,14271,GLAND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1790.25,1793.0,1743.05,1772.3,1765.0,1764.8,1762.77,2220.95,1585.7,147482,259977065.6,14271,GLAND

GLAXO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2275.95,2292.65,2225.0,2275.95,2266.0,2282.75,2264.51,3088.0,1748.25,42130,95403770.15,8724,GLAXO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2275.95,2292.65,2225.0,2275.95,2266.0,2282.75,2264.51,3088.0,1748.25,42130,95403770.15,8724,GLAXO

GLENMARK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1553.9,1566.7,1535.35,1541.65,1553.0,1550.6,1550.83,1830.95,771.0,415083,6.437242e+08,30042,GLENMARK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1553.9,1566.7,1535.35,1541.65,1553.0,1550.6,1550.83,1830.95,771.0,415083,6.437242e+08,30042,GLENMARK

MEDANTA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1101.05,1114.75,1093.0,1098.6,1093.45,1097.7,1100.59,1513.9,930.0,133124,1.465147e+08,17547,MEDANTA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1101.05,1114.75,1093.0,1098.6,1093.45,1097.7,1100.59,1513.9,930.0,133124,1.465147e+08,17547,MEDANTA

GODIGIT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,335.0,336.65,323.25,341.85,327.25,328.15,329.98,407.4,278.55,776765,2.563148e+08,31850,GODIGIT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,335.0,336.65,323.25,341.85,327.25,328.15,329.98,407.4,278.55,776765,2.563148e+08,31850,GODIGIT

GPIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,220.0,220.5,212.1,218.81,215.94,214.23,216.07,1223.95,161.45,1934519,4.179901e+08,23104,GPIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,220.0,220.5,212.1,218.81,215.94,214.23,216.07,1223.95,161.45,1934519,4.179901e+08,23104,GPIL

GODFRYPHLP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5419.25,5500.0,5120.0,5323.7,5137.4,5132.85,5197.0,8480.0,2065.0,49611,2.578283e+08,16934,GODFRYPHLP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5419.25,5500.0,5120.0,5323.7,5137.4,5132.85,5197.0,8480.0,2065.0,49611,2.578283e+08,16934,GODFRYPHLP

GODREJAGRO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,727.1,737.8,719.5,726.3,731.0,729.35,729.82,876.7,476.05,98727,72053179.05,10317,GODREJAGRO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,727.1,737.8,719.5,726.3,731.0,729.35,729.82,876.7,476.05,98727,72053179.05,10317,GODREJAGRO

GODREJCP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1074.8,1078.7,1065.7,1069.6,1075.75,1073.75,1072.56,1541.85,1065.7,972130,1.042664e+09,38190,GODREJCP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1074.8,1078.7,1065.7,1069.6,1075.75,1073.75,1072.56,1541.85,1065.7,972130,1.042664e+09,38190,GODREJCP

GODREJIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1129.95,1133.95,1119.0,1119.9,1132.0,1124.55,1122.77,1314.0,700.0,113132,1.270209e+08,6117,GODREJIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1129.95,1133.95,1119.0,1119.9,1132.0,1124.55,1122.77,1314.0,700.0,113132,1.270209e+08,6117,GODREJIND

GODREJPROP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2861.1,2917.05,2856.5,2855.95,2885.65,2887.4,2894.73,3402.7,1976.25,401339,1.161767e+09,32744,GODREJPROP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2861.1,2917.05,2856.5,2855.95,2885.65,2887.4,2894.73,3402.7,1976.25,401339,1.161767e+09,32744,GODREJPROP

GRANULES 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,593.9,598.0,580.6,592.4,586.0,586.7,588.93,721.0,386.55,1205679,7.100630e+08,29333,GRANULES

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,593.9,598.0,580.6,592.4,586.0,586.7,588.93,721.0,386.55,1205679,7.100630e+08,29333,GRANULES

GRAPHITE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,563.55,567.95,549.0,563.55,560.0,560.05,558.82,709.4,460.05,572212,3.197649e+08,18240,GRAPHITE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,563.55,567.95,549.0,563.55,560.0,560.05,558.82,709.4,460.05,572212,3.197649e+08,18240,GRAPHITE

GRASIM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2495.7,2553.7,2495.0,2488.7,2520.0,2526.2,2525.9,2877.75,2016.55,347378,8.774425e+08,35104,GRASIM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2495.7,2553.7,2495.0,2488.7,2520.0,2526.2,2525.9,2877.75,2016.55,347378,8.774425e+08,35104,GRASIM

GESHIP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,994.05,996.3,945.4,993.3,950.0,950.7,964.39,1543.7,890.0,783997,7.560803e+08,50046,GESHIP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,994.05,996.3,945.4,993.3,950.0,950.7,964.39,1543.7,890.0,783997,7.560803e+08,50046,GESHIP

GRINDWELL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2028.0,2039.4,1986.7,2028.5,2009.25,1999.45,2005.01,2960.0,1875.2,16611,33305230.05,6431,GRINDWELL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2028.0,2039.4,1986.7,2028.5,2009.25,1999.45,2005.01,2960.0,1875.2,16611,33305230.05,6431,GRINDWELL

GAEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,125.0,125.65,122.4,124.18,123.56,123.47,123.78,421.2,117.77,663403,82117460.52,11515,GAEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,125.0,125.65,122.4,124.18,123.56,123.47,123.78,421.2,117.77,663403,82117460.52,11515,GAEL

FLUOROCHEM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4335.0,4399.7,4280.05,4329.05,4336.5,4357.8,4343.44,4880.95,2476.0,76494,3.322471e+08,11395,FLUOROCHEM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4335.0,4399.7,4280.05,4329.05,4336.5,4357.8,4343.44,4880.95,2476.0,76494,3.322471e+08,11395,FLUOROCHEM

GUJGASLTD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,501.7,505.75,491.0,499.8,496.7,498.7,499.31,689.95,442.5,491772,245546305.3,16947,GUJGASLTD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,501.7,505.75,491.0,499.8,496.7,498.7,499.31,689.95,442.5,491772,245546305.3,16947,GUJGASLTD

GMDCLTD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,329.8,330.75,319.5,326.0,325.0,326.1,324.94,506.0,308.8,806357,262014980.5,22899,GMDCLTD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,329.8,330.75,319.5,326.0,325.0,326.1,324.94,506.0,308.8,806357,262014980.5,22899,GMDCLTD

GNFC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,588.6,588.65,577.0,583.8,582.0,580.25,581.89,814.9,524.0,443467,258050460.2,15255,GNFC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,588.6,588.65,577.0,583.8,582.0,580.25,581.89,814.9,524.0,443467,258050460.2,15255,GNFC

GPPL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,184.2,185.79,180.0,184.34,182.0,181.66,182.25,250.69,144.85,610158,1.112021e+08,18706,GPPL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,184.2,185.79,180.0,184.34,182.0,181.66,182.25,250.69,144.85,610158,1.112021e+08,18706,GPPL

GSFC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,206.01,206.29,200.8,204.19,201.2,201.35,202.39,322.25,187.5,1261919,2.554042e+08,19421,GSFC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,206.01,206.29,200.8,204.19,201.2,201.35,202.39,322.25,187.5,1261919,2.554042e+08,19421,GSFC

GSPL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,367.5,369.3,360.0,367.5,361.95,360.7,364.23,469.7,260.05,351662,1.280854e+08,11869,GSPL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,367.5,369.3,360.0,367.5,361.95,360.7,364.23,469.7,260.05,351662,1.280854e+08,11869,GSPL

HEG 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,549.7,554.05,527.2,541.55,533.45,532.3,536.84,2743.0,395.15,1257316,6.749751e+08,40633,HEG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,549.7,554.05,527.2,541.55,533.45,532.3,536.84,2743.0,395.15,1257316,6.749751e+08,40633,HEG

HBLPOWER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,656.95,664.45,624.55,652.65,629.25,631.45,641.99,739.65,378.2,1034056,6.638578e+08,42662,HBLENGINE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,656.95,664.45,624.55,652.65,629.25,631.45,641.99,739.65,378.2,1034056,6.638578e+08,42662,HBLENGINE

HCLTECH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1918.5,1939.4,1899.15,1911.35,1900.8,1903.0,1910.92,1980.0,1235.0,2058339,3.933326e+09,104426,HCLTECH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1918.5,1939.4,1899.15,1911.35,1900.8,1903.0,1910.92,1980.0,1235.0,2058339,3.933326e+09,104426,HCLTECH

HDFCAMC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4275.0,4329.2,4240.0,4262.8,4246.8,4249.65,4270.9,4864.0,3181.5,265286,1.133010e+09,22412,HDFCAMC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4275.0,4329.2,4240.0,4262.8,4246.8,4249.65,4270.9,4864.0,3181.5,265286,1.133010e+09,22412,HDFCAMC

HDFCBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1782.0,1806.0,1781.3,1771.5,1802.0,1801.0,1798.41,1880.0,1363.55,5522296,9.931339e+09,196041,HDFCBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1782.0,1806.0,1781.3,1771.5,1802.0,1801.0,1798.41,1880.0,1363.55,5522296,9.931339e+09,196041,HDFCBANK

HDFCLIFE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,625.05,626.45,613.6,623.8,620.5,622.55,621.07,761.2,511.4,2924609,1.816378e+09,82173,HDFCLIFE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,625.05,626.45,613.6,623.8,620.5,622.55,621.07,761.2,511.4,2924609,1.816378e+09,82173,HDFCLIFE

HFCL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,114.54,115.09,111.69,113.35,112.02,112.6,113.0,171.0,80.25,10712726,1.210537e+09,51031,HFCL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,114.54,115.09,111.69,113.35,112.02,112.6,113.0,171.0,80.25,10712726,1.210537e+09,51031,HFCL

HAPPSTMNDS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,706.6,712.7,696.3,700.25,698.7,699.7,702.95,961.0,691.85,224588,157873116.8,16532,HAPPSTMNDS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,706.6,712.7,696.3,700.25,698.7,699.7,702.95,961.0,691.85,224588,157873116.8,16532,HAPPSTMNDS

HAVELLS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1668.05,1681.5,1653.4,1657.4,1660.0,1660.85,1665.35,2106.0,1280.0,281353,4.685517e+08,20296,HAVELLS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1668.05,1681.5,1653.4,1657.4,1660.0,1660.85,1665.35,2106.0,1280.0,281353,4.685517e+08,20296,HAVELLS

HEROMOTOCO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4365.0,4375.5,4258.35,4339.95,4275.0,4272.6,4295.21,6246.25,3929.85,931177,3.999597e+09,80237,HEROMOTOCO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4365.0,4375.5,4258.35,4339.95,4275.0,4272.6,4295.21,6246.25,3929.85,931177,3.999597e+09,80237,HEROMOTOCO

HSCL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,553.5,553.5,536.05,546.85,552.7,549.85,546.07,688.7,272.0,894879,4.886640e+08,29548,HSCL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,553.5,553.5,536.05,546.85,552.7,549.85,546.07,688.7,272.0,894879,4.886640e+08,29548,HSCL

HINDALCO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,625.55,635.9,625.55,622.65,634.3,634.15,632.93,772.65,496.35,2921238,1.848937e+09,66636,HINDALCO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,625.55,635.9,625.55,622.65,634.3,634.15,632.93,772.65,496.35,2921238,1.848937e+09,66636,HINDALCO

HAL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4239.0,4249.85,4150.0,4190.2,4230.0,4226.0,4213.08,5674.75,2701.25,947680,3.992652e+09,87623,HAL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4239.0,4249.85,4150.0,4190.2,4230.0,4226.0,4213.08,5674.75,2701.25,947680,3.992652e+09,87623,HAL

HINDCOPPER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,271.65,273.7,265.2,271.5,269.8,271.05,269.93,415.8,229.0,3451753,931723818.6,30291,HINDCOPPER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,271.65,273.7,265.2,271.5,269.8,271.05,269.93,415.8,229.0,3451753,931723818.6,30291,HINDCOPPER

HINDPETRO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,400.05,411.45,399.3,399.5,404.0,403.6,404.65,594.8,323.0,3951645,1.599027e+09,36871,HINDPETRO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,400.05,411.45,399.3,399.5,404.0,403.6,404.65,594.8,323.0,3951645,1.599027e+09,36871,HINDPETRO

HINDUNILVR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2337.0,2351.75,2315.25,2333.9,2339.55,2338.9,2335.09,3035.0,2172.05,1066199,2.489673e+09,78523,HINDUNILVR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2337.0,2351.75,2315.25,2333.9,2339.55,2338.9,2335.09,3035.0,2172.05,1066199,2.489673e+09,78523,HINDUNILVR

HINDZINC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,471.0,473.5,462.9,468.8,463.5,463.9,466.87,807.7,284.6,786344,367118308.9,33309,HINDZINC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,471.0,473.5,462.9,468.8,463.5,463.9,466.87,807.7,284.6,786344,367118308.9,33309,HINDZINC

POWERINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,13410.25,13635.0,13106.1,13316.45,13580.1,13589.6,13442.9,16549.95,5125.15,50680,681286409.1,16515,POWERINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,13410.25,13635.0,13106.1,13316.45,13580.1,13589.6,13442.9,16549.95,5125.15,50680,681286409.1,16515,POWERINDIA

HOMEFIRST 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1004.0,1015.65,983.05,1000.1,1000.0,1000.25,999.23,1383.3,776.65,152561,1.524437e+08,29257,HOMEFIRST

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1004.0,1015.65,983.05,1000.1,1000.0,1000.25,999.23,1383.3,776.65,152561,1.524437e+08,29257,HOMEFIRST

HONASA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,262.5,264.6,251.65,259.7,254.0,252.95,255.08,547.0,222.5,667536,170273089.2,15545,HONASA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,262.5,264.6,251.65,259.7,254.0,252.95,255.08,547.0,222.5,667536,170273089.2,15545,HONASA

HONAUT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,41449.0,41449.0,40262.65,41077.8,40600.05,40648.15,40795.95,59994.0,35150.4,6056,2.470603e+08,5179,HONAUT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,41449.0,41449.0,40262.65,41077.8,40600.05,40648.15,40795.95,59994.0,35150.4,6056,2.470603e+08,5179,HONAUT

HUDCO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,243.0,244.09,236.1,242.11,236.44,236.89,238.77,353.7,104.7,3858458,9.212841e+08,36833,HUDCO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,243.0,244.09,236.1,242.11,236.44,236.89,238.77,353.7,104.7,3858458,9.212841e+08,36833,HUDCO

ICICIBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1294.65,1307.0,1287.05,1288.4,1297.35,1296.8,1295.12,1362.35,970.15,6827512,8.842450e+09,208282,ICICIBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1294.65,1307.0,1287.05,1288.4,1297.35,1296.8,1295.12,1362.35,970.15,6827512,8.842450e+09,208282,ICICIBANK

ICICIGI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1895.15,1899.0,1854.5,1902.15,1861.0,1862.05,1872.31,2301.9,1353.5,1415336,2.649952e+09,48361,ICICIGI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1895.15,1899.0,1854.5,1902.15,1861.0,1862.05,1872.31,2301.9,1353.5,1415336,2.649952e+09,48361,ICICIGI

ICICIPRULI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,650.0,654.45,643.35,653.9,648.0,649.6,650.67,796.8,463.45,850671,553507176.3,25832,ICICIPRULI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,650.0,654.45,643.35,653.9,648.0,649.6,650.67,796.8,463.45,850671,553507176.3,25832,ICICIPRULI

ISEC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,826.0,849.85,826.0,831.65,849.5,847.5,842.94,922.45,672.05,176993,149194022.4,12391,ISEC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,826.0,849.85,826.0,831.65,849.5,847.5,842.94,922.45,672.05,176993,149194022.4,12391,ISEC

IDBI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,76.8,77.39,75.27,76.03,76.15,76.2,76.14,107.9,65.25,4201222,3.198966e+08,20834,IDBI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,76.8,77.39,75.27,76.03,76.15,76.2,76.14,107.9,65.25,4201222,3.198966e+08,20834,IDBI

IDFCFIRSTB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,62.7,62.7,61.74,61.68,61.95,61.95,62.16,89.9,59.3,19227136,1.195204e+09,70388,IDFCFIRSTB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,62.7,62.7,61.74,61.68,61.95,61.95,62.16,89.9,59.3,19227136,1.195204e+09,70388,IDFCFIRSTB

IFCI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,62.6,63.0,59.86,60.97,61.38,61.41,61.18,91.4,27.65,6190317,3.787004e+08,39605,IFCI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,62.6,63.0,59.86,60.97,61.38,61.41,61.18,91.4,27.65,6190317,3.787004e+08,39605,IFCI

IIFL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,410.95,412.75,401.65,407.25,408.15,408.1,406.82,670.0,313.25,900146,366199715.5,28192,IIFL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,410.95,412.75,401.65,407.25,408.15,408.1,406.82,670.0,313.25,900146,366199715.5,28192,IIFL

INOXINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1095.0,1115.0,1068.5,1092.4,1112.0,1095.0,1087.56,1506.9,801.55,76040,82698199.05,12054,INOXINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1095.0,1115.0,1068.5,1092.4,1112.0,1095.0,1087.56,1506.9,801.55,76040,82698199.05,12054,INOXINDIA

IRB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,56.0,56.1,54.5,55.09,55.19,55.13,55.16,78.15,40.8,9581445,5.284882e+08,32613,IRB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,56.0,56.1,54.5,55.09,55.19,55.13,55.16,78.15,40.8,9581445,5.284882e+08,32613,IRB

IRCON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,220.5,221.5,210.25,218.27,211.25,212.25,214.57,351.6,165.7,3427625,7.354584e+08,43070,IRCON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,220.5,221.5,210.25,218.27,211.25,212.25,214.57,351.6,165.7,3427625,7.354584e+08,43070,IRCON

ITC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,471.2,477.7,467.6,464.65,474.5,474.25,473.08,528.5,399.35,18837469,8.911659e+09,240219,ITC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,471.2,477.7,467.6,464.65,474.5,474.25,473.08,528.5,399.35,18837469,8.911659e+09,240219,ITC

ITI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,345.05,347.95,333.1,341.65,341.7,341.1,340.28,404.0,210.0,4386210,1.492543e+09,70176,ITI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,345.05,347.95,333.1,341.65,341.7,341.1,340.28,404.0,210.0,4386210,1.492543e+09,70176,ITI

INDGN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,598.0,604.0,587.05,587.7,588.0,588.8,592.45,736.3,470.1,346567,2.053246e+08,14723,INDGN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,598.0,604.0,587.05,587.7,588.0,588.8,592.45,736.3,470.1,346567,2.053246e+08,14723,INDGN

INDIACEM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,362.0,376.2,362.0,339.15,365.3,366.25,368.17,385.0,172.55,19323072,7.114200e+09,181531,INDIACEM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,362.0,376.2,362.0,339.15,365.3,366.25,368.17,385.0,172.55,19323072,7.114200e+09,181531,INDIACEM

INDIAMART 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2265.0,2275.5,2241.85,2249.95,2269.0,2252.2,2256.74,3198.4,2230.0,161773,3.650790e+08,16316,INDIAMART

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2265.0,2275.5,2241.85,2249.95,2269.0,2252.2,2256.74,3198.4,2230.0,161773,3.650790e+08,16316,INDIAMART

INDIANB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,535.0,553.0,529.0,537.15,537.5,537.6,536.17,632.7,408.0,1158043,620912211.1,32481,INDIANB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,535.0,553.0,529.0,537.15,537.5,537.6,536.17,632.7,408.0,1158043,620912211.1,32481,INDIANB

IEX 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,179.0,179.5,176.05,177.45,176.62,177.13,177.58,244.4,130.2,2893710,5.138704e+08,24525,IEX

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,179.0,179.5,176.05,177.45,176.62,177.13,177.58,244.4,130.2,2893710,5.138704e+08,24525,IEX

INDHOTEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,857.0,864.25,848.5,854.1,859.0,859.4,857.48,886.2,429.25,2825946,2.423184e+09,69692,INDHOTEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,857.0,864.25,848.5,854.1,859.0,859.4,857.48,886.2,429.25,2825946,2.423184e+09,69692,INDHOTEL

IOC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,138.08,139.8,137.27,137.08,137.84,137.78,138.29,196.8,123.6,12517478,1.730994e+09,76607,IOC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,138.08,139.8,137.27,137.08,137.84,137.78,138.29,196.8,123.6,12517478,1.730994e+09,76607,IOC

IOB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,52.75,53.0,51.55,52.4,51.58,51.64,52.1,83.75,42.05,4311273,2.246279e+08,19771,IOB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,52.75,53.0,51.55,52.4,51.58,51.64,52.1,83.75,42.05,4311273,2.246279e+08,19771,IOB

IRCTC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,786.8,792.55,777.2,784.25,789.0,788.2,786.25,1138.9,777.2,1084917,8.530112e+08,51791,IRCTC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,786.8,792.55,777.2,784.25,789.0,788.2,786.25,1138.9,777.2,1084917,8.530112e+08,51791,IRCTC

IRFC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,149.0,150.28,146.9,148.41,147.68,147.79,148.23,229.0,96.05,14758199,2.187610e+09,105341,IRFC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,149.0,150.28,146.9,148.41,147.68,147.79,148.23,229.0,96.05,14758199,2.187610e+09,105341,IRFC

IREDA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,208.0,208.75,200.51,206.32,201.49,201.59,202.96,310.0,95.55,4435629,9.002542e+08,59264,IREDA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,208.0,208.75,200.51,206.32,201.49,201.59,202.96,310.0,95.55,4435629,9.002542e+08,59264,IREDA

IGL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,380.0,396.1,377.35,388.3,390.25,390.1,388.99,570.35,306.1,6594957,2.565399e+09,71174,IGL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,380.0,396.1,377.35,388.3,390.25,390.1,388.99,570.35,306.1,6594957,2.565399e+09,71174,IGL

INDUSTOWER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,339.0,339.0,333.1,337.1,334.95,335.0,335.99,460.35,182.5,4070412,1.367632e+09,48316,INDUSTOWER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,339.0,339.0,333.1,337.1,334.95,335.0,335.99,460.35,182.5,4070412,1.367632e+09,48316,INDUSTOWER

INDUSINDBK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,938.95,948.8,930.05,929.45,943.5,945.7,943.1,1694.5,926.45,2502370,2.359973e+09,92367,INDUSINDBK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,938.95,948.8,930.05,929.45,943.5,945.7,943.1,1694.5,926.45,2502370,2.359973e+09,92367,INDUSINDBK

NAUKRI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,8505.9,8719.0,8505.55,8494.95,8620.0,8624.8,8638.25,8947.45,4862.2,167345,1.445567e+09,27824,NAUKRI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,8505.9,8719.0,8505.55,8494.95,8620.0,8624.8,8638.25,8947.45,4862.2,167345,1.445567e+09,27824,NAUKRI

INFY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1930.05,1940.0,1909.0,1922.15,1921.0,1924.3,1923.61,2006.45,1358.35,2781793,5.351093e+09,127723,INFY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1930.05,1940.0,1909.0,1922.15,1921.0,1924.3,1923.61,2006.45,1358.35,2781793,5.351093e+09,127723,INFY

INOXWIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,187.01,188.45,182.0,188.46,185.02,184.97,184.07,663.0,124.25,4470810,822931955.3,49047,INOXWIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,187.01,188.45,182.0,188.46,185.02,184.97,184.07,663.0,124.25,4470810,822931955.3,49047,INOXWIND

INTELLECT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,827.0,983.75,827.0,819.8,961.0,962.05,919.83,1199.0,693.0,23006641,2.116220e+10,522209,INTELLECT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,827.0,983.75,827.0,819.8,961.0,962.05,919.83,1199.0,693.0,23006641,2.116220e+10,522209,INTELLECT

INDIGO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4468.95,4494.95,4425.15,4395.6,4430.8,4439.95,4462.25,5035.0,2847.0,552061,2.463436e+09,69813,INDIGO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4468.95,4494.95,4425.15,4395.6,4430.8,4439.95,4462.25,5035.0,2847.0,552061,2.463436e+09,69813,INDIGO

IPCALAB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1597.0,1603.75,1569.35,1582.5,1583.05,1585.8,1587.62,1708.65,1052.0,246768,3.917747e+08,18059,IPCALAB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1597.0,1603.75,1569.35,1582.5,1583.05,1585.8,1587.62,1708.65,1052.0,246768,3.917747e+08,18059,IPCALAB

JBCHEPHARM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1885.65,1899.65,1822.4,1891.9,1856.1,1859.7,1847.71,2030.0,1480.0,137141,253397155.7,27692,JBCHEPHARM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1885.65,1899.65,1822.4,1891.9,1856.1,1859.7,1847.71,2030.0,1480.0,137141,253397155.7,27692,JBCHEPHARM

JKCEMENT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4519.45,4595.0,4485.6,4517.8,4591.75,4585.55,4551.59,4895.5,3642.0,51647,235075784.4,10012,JKCEMENT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4519.45,4595.0,4485.6,4517.8,4591.75,4585.55,4551.59,4895.5,3642.0,51647,235075784.4,10012,JKCEMENT

JBMA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1715.0,1720.0,1644.85,1639.25,1648.05,1663.35,1675.4,2095.0,1388.0,389417,6.524284e+08,36786,JBMA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1715.0,1720.0,1644.85,1639.25,1648.05,1663.35,1675.4,2095.0,1388.0,389417,6.524284e+08,36786,JBMA

JKLAKSHMI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,832.25,840.0,816.0,836.45,826.35,829.35,828.8,999.9,685.45,60709,50315452.15,9024,JKLAKSHMI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,832.25,840.0,816.0,836.45,826.35,829.35,828.8,999.9,685.45,60709,50315452.15,9024,JKLAKSHMI

JKTYRE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,380.75,392.25,378.85,380.75,389.5,388.15,387.19,553.95,355.15,513195,1.987059e+08,31967,JKTYRE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,380.75,392.25,378.85,380.75,389.5,388.15,387.19,553.95,355.15,513195,1.987059e+08,31967,JKTYRE

JMFINANCIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,131.1,132.2,125.5,130.94,127.25,126.39,128.08,168.75,69.0,4018422,5.146976e+08,32283,JMFINANCIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,131.1,132.2,125.5,130.94,127.25,126.39,128.08,168.75,69.0,4018422,5.146976e+08,32283,JMFINANCIL

JSWENERGY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,677.85,679.25,656.0,669.8,659.8,659.7,665.49,804.9,404.15,1893360,1.260009e+09,52738,JSWENERGY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,677.85,679.25,656.0,669.8,659.8,659.7,665.49,804.9,404.15,1893360,1.260009e+09,52738,JSWENERGY

JSWINFRA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,315.0,319.0,310.2,308.7,312.35,313.15,314.03,360.95,202.0,3008618,944786080.0,41381,JSWINFRA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,315.0,319.0,310.2,308.7,312.35,313.15,314.03,360.95,202.0,3008618,944786080.0,41381,JSWINFRA

JSWSTEEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,936.0,950.95,921.6,917.35,939.0,937.05,938.78,1063.0,761.75,3988457,3.744289e+09,116761,JSWSTEEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,936.0,950.95,921.6,917.35,939.0,937.05,938.78,1063.0,761.75,3988457,3.744289e+09,116761,JSWSTEEL

JPPOWER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,19.17,19.22,18.5,18.97,18.56,18.58,18.75,24.0,13.1,45001900,8.440079e+08,50296,JPPOWER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,19.17,19.22,18.5,18.97,18.56,18.58,18.75,24.0,13.1,45001900,8.440079e+08,50296,JPPOWER

J&KBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,97.6,98.99,95.71,96.22,96.76,97.24,97.05,152.5,88.11,1610346,1.562869e+08,15080,J&KBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,97.6,98.99,95.71,96.22,96.76,97.24,97.05,152.5,88.11,1610346,1.562869e+08,15080,J&KBANK

JINDALSAW 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,305.0,307.5,300.0,300.05,302.7,302.0,303.85,759.9,287.5,720178,2.188233e+08,18645,JINDALSAW

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,305.0,307.5,300.0,300.05,302.7,302.0,303.85,759.9,287.5,720178,2.188233e+08,18645,JINDALSAW

JSL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,719.5,730.7,710.0,719.8,728.0,728.0,723.19,848.0,513.5,995444,7.198952e+08,28029,JSL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,719.5,730.7,710.0,719.8,728.0,728.0,723.19,848.0,513.5,995444,7.198952e+08,28029,JSL

JINDALSTEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,925.0,947.5,883.35,908.05,940.05,940.8,937.11,1097.0,687.8,3310719,3.102522e+09,118513,JINDALSTEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,925.0,947.5,883.35,908.05,940.05,940.8,937.11,1097.0,687.8,3310719,3.102522e+09,118513,JINDALSTEL

JIOFIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,308.8,308.85,302.05,304.3,304.9,304.7,305.68,394.7,232.0,11299664,3.454048e+09,135738,JIOFIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,308.8,308.85,302.05,304.3,304.9,304.7,305.68,394.7,232.0,11299664,3.454048e+09,135738,JIOFIN

JUBLFOOD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,670.05,696.75,669.45,672.7,693.0,691.65,687.99,715.45,421.05,1961409,1.349439e+09,100684,JUBLFOOD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,670.05,696.75,669.45,672.7,693.0,691.65,687.99,715.45,421.05,1961409,1.349439e+09,100684,JUBLFOOD

JUBLINGREA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,753.0,809.85,752.6,765.0,800.0,800.7,790.02,885.0,420.0,802761,6.341989e+08,42418,JUBLINGREA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,753.0,809.85,752.6,765.0,800.0,800.7,790.02,885.0,420.0,802761,6.341989e+08,42418,JUBLINGREA

JUBLPHARMA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1061.6,1084.9,1050.2,1061.6,1068.0,1064.7,1065.74,1309.9,526.05,101206,1.078592e+08,13829,JUBLPHARMA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1061.6,1084.9,1050.2,1061.6,1068.0,1064.7,1065.74,1309.9,526.05,101206,1.078592e+08,13829,JUBLPHARMA

JWL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,542.0,544.8,521.3,540.8,523.55,527.45,527.58,748.1,300.5,945655,4.989077e+08,39260,JWL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,542.0,544.8,521.3,540.8,523.55,527.45,527.58,748.1,300.5,945655,4.989077e+08,39260,JWL

JUSTDIAL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,994.9,1019.8,970.5,982.65,995.0,991.15,988.8,1395.0,768.0,397466,393014612.5,30447,JUSTDIAL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,994.9,1019.8,970.5,982.65,995.0,991.15,988.8,1395.0,768.0,397466,393014612.5,30447,JUSTDIAL

JYOTHYLAB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,381.5,381.5,368.2,375.9,371.9,371.05,372.44,595.85,366.8,955376,355824837.9,43881,JYOTHYLAB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,381.5,381.5,368.2,375.9,371.9,371.05,372.44,595.85,366.8,955376,355824837.9,43881,JYOTHYLAB

JYOTICNC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1348.0,1373.5,1332.6,1331.85,1350.15,1355.0,1353.12,1504.3,368.0,329294,4.455748e+08,26886,JYOTICNC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1348.0,1373.5,1332.6,1331.85,1350.15,1355.0,1353.12,1504.3,368.0,329294,4.455748e+08,26886,JYOTICNC

KPRMILL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1149.5,1149.5,1062.1,1150.3,1078.0,1074.05,1091.06,1194.0,710.0,709491,7.741006e+08,47935,KPRMILL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1149.5,1149.5,1062.1,1150.3,1078.0,1074.05,1091.06,1194.0,710.0,709491,7.741006e+08,47935,KPRMILL

KEI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4248.0,4251.85,4155.35,4166.25,4190.0,4195.85,4207.84,5039.7,2822.45,157692,663543339.5,26293,KEI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4248.0,4251.85,4155.35,4166.25,4190.0,4195.85,4207.84,5039.7,2822.45,157692,663543339.5,26293,KEI

KNRCON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,325.2,327.6,318.5,325.2,320.1,319.6,321.29,415.4,236.75,518894,166717340.9,23455,KNRCON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,325.2,327.6,318.5,325.2,320.1,319.6,321.29,415.4,236.75,518894,166717340.9,23455,KNRCON

KPITTECH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1467.4,1474.85,1408.05,1451.25,1419.0,1415.55,1431.55,1928.7,1283.25,935669,1.339456e+09,62987,KPITTECH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1467.4,1474.85,1408.05,1451.25,1419.0,1415.55,1431.55,1928.7,1283.25,935669,1.339456e+09,62987,KPITTECH

KSB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,774.7,776.85,741.1,770.65,745.5,747.65,750.28,5300.0,741.1,252094,189141110.8,23269,KSB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,774.7,776.85,741.1,770.65,745.5,747.65,750.28,5300.0,741.1,252094,189141110.8,23269,KSB

KAJARIACER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1150.0,1154.95,1130.15,1147.25,1135.85,1132.15,1135.8,1578.7,1110.35,47232,53646081.65,5979,KAJARIACER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1150.0,1154.95,1130.15,1147.25,1135.85,1132.15,1135.8,1578.7,1110.35,47232,53646081.65,5979,KAJARIACER

KPIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1270.1,1294.2,1241.2,1275.95,1271.2,1272.05,1269.66,1449.0,631.15,173841,220718314.9,22627,KPIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1270.1,1294.2,1241.2,1275.95,1271.2,1272.05,1269.66,1449.0,631.15,173841,220718314.9,22627,KPIL

KALYANKJIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,727.7,738.9,714.55,719.2,723.1,723.95,724.31,786.25,321.95,2639988,1.912181e+09,77207,KALYANKJIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,727.7,738.9,714.55,719.2,723.1,723.95,724.31,786.25,321.95,2639988,1.912181e+09,77207,KALYANKJIL

KANSAINER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,263.5,268.95,262.9,262.2,264.95,265.15,265.36,357.3,251.85,519442,1.378407e+08,19469,KANSAINER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,263.5,268.95,262.9,262.2,264.95,265.15,265.36,357.3,251.85,519442,1.378407e+08,19469,KANSAINER

KARURVYSYA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,223.0,224.98,216.1,220.95,216.9,217.09,219.54,246.0,161.3,1183526,2.598274e+08,19309,KARURVYSYA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,223.0,224.98,216.1,220.95,216.9,217.09,219.54,246.0,161.3,1183526,2.598274e+08,19309,KARURVYSYA

KAYNES 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7358.8,7525.0,7021.9,7303.65,7304.85,7338.95,7225.86,7780.0,2424.0,665435,4.808342e+09,91167,KAYNES

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7358.8,7525.0,7021.9,7303.65,7304.85,7338.95,7225.86,7780.0,2424.0,665435,4.808342e+09,91167,KAYNES

KEC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1238.9,1249.45,1196.95,1236.7,1220.0,1220.55,1215.02,1313.25,586.05,734660,8.926285e+08,32837,KEC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1238.9,1249.45,1196.95,1236.7,1220.0,1220.55,1215.02,1313.25,586.05,734660,8.926285e+08,32837,KEC

KFINTECH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1435.0,1454.0,1329.95,1444.5,1413.0,1415.2,1379.02,1478.4,479.2,2901176,4.000780e+09,146418,KFINTECH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1435.0,1454.0,1329.95,1444.5,1413.0,1415.2,1379.02,1478.4,479.2,2901176,4.000780e+09,146418,KFINTECH

KIRLOSBROS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2145.0,2145.0,2001.0,2161.1,2015.0,2020.95,2028.45,2684.0,837.0,294480,5.973384e+08,33184,KIRLOSBROS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2145.0,2145.0,2001.0,2161.1,2015.0,2020.95,2028.45,2684.0,837.0,294480,5.973384e+08,33184,KIRLOSBROS

KIRLOSENG 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1040.0,1059.9,1005.35,1034.15,1012.75,1013.75,1017.72,1450.0,644.35,256960,261512173.2,18894,KIRLOSENG

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1040.0,1059.9,1005.35,1034.15,1012.75,1013.75,1017.72,1450.0,644.35,256960,261512173.2,18894,KIRLOSENG

KOTAKBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1747.5,1764.2,1740.0,1743.55,1742.05,1745.35,1748.55,1942.0,1543.85,2748036,4.805071e+09,95146,KOTAKBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1747.5,1764.2,1740.0,1743.55,1742.05,1745.35,1748.55,1942.0,1543.85,2748036,4.805071e+09,95146,KOTAKBANK

KIMS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,596.0,599.0,588.85,592.9,590.0,590.2,591.65,2866.15,507.8,195075,1.154154e+08,20553,KIMS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,596.0,599.0,588.85,592.9,590.0,590.2,591.65,2866.15,507.8,195075,1.154154e+08,20553,KIMS

LTF 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,138.0,139.0,136.3,136.48,136.87,136.71,137.4,194.25,134.1,3940701,5.414584e+08,27000,LTF

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,138.0,139.0,136.3,136.48,136.87,136.71,137.4,194.25,134.1,3940701,5.414584e+08,27000,LTF

L&TFH 2024-04-22
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,138.00,139.00,136.30,136.48,136.87,136.71,137.40,194.25,134.10,3940701,5.414584e+08,27000,LTF
1,2024-12-20,EQ,141.43,141.69,135.50,141.44,136.36,136.48,139.10,194.25,134.10,8487963,1.180689e+09,72144,LTF
2,2024-12-19,EQ,139.00,141.80,137.59,141.02,141.10,141.44,140.64,194.25,134.10,12193131,1.714788e+09,44442,LTF
3,2024-12-18,EQ,142.00,142.45,139.34,141.90,141.32,141.02,140.99,194.25,134.10,10516827,1.482721e+09,47002,LTF
4,2024-12-17,EQ,147.29,147.29,141.15,147.30,141.75,141.90,143.41,194.25,134.10,7552894,1.083127e+09,50194,LTF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2024-04-29,EQ,163.80,172.15,161.45,163.80,168.05,168.80,167.60,179.00,90.50,12524749,2.099177e+09,67427,LTF
164,2024-04-26,EQ,167.35,169.50,161.10,167.75,163.65,163.80,164.70,179.00,86.45,6578217,1.083417e+09,45987,LTF
165,2024-04-25,EQ,166.00,168.30,165.05,166.80,167.75,167.75,166.82,179.00,86.45,5033663,8.397081e+08,36677,LTF
166,2024-04-24,EQ,168.50,169.50,165.90,167.85,166.90,166.80,167.80,179.00,86.45,2610949,4.381219e+08,23638,LTF
167,2024-04-23,EQ,163.75,168.60,163.05,163.75,168.05,167.85,166.15,179.00,86.45,3303800,5.489106e+08,30489,LTF

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,138.00,139.00,136.30,136.48,136.87,136.71,137.40,194.25,134.10,3940701,5.414584e+08,27000,LTF
1,2024-12-20,EQ,141.43,141.69,135.50,141.44,136.36,136.48,139.10,194.25,134.10,8487963,1.180689e+09,72144,LTF
2,2024-12-19,EQ,139.00,141.80,137.59,141.02,141.10,141.44,140.64,194.25,134.10,12193131,1.714788e+09,44442,LTF
3,2024-12-18,EQ,142.00,142.45,139.34,141.90,141.32,141.02,140.99,194.25,134.10,10516827,1.482721e+09,47002,LTF
4,2024-12-17,EQ,147.29,147.29,141.15,147.30,141.75,141.90,143.41,194.25,134.10,7552894,1.083127e+09,50194,LTF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2024-04-29,EQ,163.80,172.15,161.45,163.80,168.05,168.80,167.60,179.00,90.50,12524749,2.099177e+09,67427,LTF
164,2024-04-26,EQ,167.35,169.50,161.10,167.75,163.65,163.80,164.70,179.00,86.45,6578217,1.083417e+09,45987,LTF
165,2024-04-25,EQ,166.00,168.30,165.05,166.80,167.75,167.75,166.82,179.00,86.45,5033663,8.397081e+08,36677,LTF
166,2024-04-24,EQ,168.50,169.50,165.90,167.85,166.90,166.80,167.80,179.00,86.45,2610949,4.381219e+08,23638,LTF
167,2024-04-23,EQ,163.75,168.60,163.05,163.75,168.05,167.85,166.15,179.00,86.45,3303800,5.489106e+08,30489,LTF

LTTS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4839.45,4872.45,4730.0,4828.5,4749.0,4745.05,4793.45,6000.0,4200.0,97403,4.668964e+08,20752,LTTS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4839.45,4872.45,4730.0,4828.5,4749.0,4745.05,4793.45,6000.0,4200.0,97403,4.668964e+08,20752,LTTS

LICHSGFIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,583.55,587.4,577.1,582.25,585.2,583.25,582.87,826.75,511.85,1457232,8.493770e+08,45343,LICHSGFIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,583.55,587.4,577.1,582.25,585.2,583.25,582.87,826.75,511.85,1457232,8.493770e+08,45343,LICHSGFIN

LTIM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5877.9,5895.0,5707.0,5824.3,5741.0,5730.45,5777.57,6767.95,4513.55,373162,2.155969e+09,50853,LTIM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,5877.9,5895.0,5707.0,5824.3,5741.0,5730.45,5777.57,6767.95,4513.55,373162,2.155969e+09,50853,LTIM

LT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3670.0,3700.0,3617.05,3629.85,3642.9,3640.5,3644.9,3963.5,3175.05,1217612,4.438075e+09,107539,LT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3670.0,3700.0,3617.05,3629.85,3642.9,3640.5,3644.9,3963.5,3175.05,1217612,4.438075e+09,107539,LT

LATENTVIEW 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,480.0,481.95,464.65,474.9,467.0,466.5,472.21,575.0,430.0,359644,169828621.4,23660,LATENTVIEW

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,480.0,481.95,464.65,474.9,467.0,466.5,472.21,575.0,430.0,359644,169828621.4,23660,LATENTVIEW

LAURUSLABS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,562.6,571.0,557.5,559.2,564.65,566.1,564.91,593.0,360.85,892303,504068176.5,23827,LAURUSLABS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,562.6,571.0,557.5,559.2,564.65,566.1,564.91,593.0,360.85,892303,504068176.5,23827,LAURUSLABS

LEMONTREE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,153.99,155.99,151.68,153.36,152.98,153.34,153.89,159.0,112.29,3796161,5.841992e+08,44547,LEMONTREE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,153.99,155.99,151.68,153.36,152.98,153.34,153.89,159.0,112.29,3796161,5.841992e+08,44547,LEMONTREE

LICI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,902.5,906.9,892.6,901.7,905.1,904.8,902.26,1222.0,780.0,1947520,1.757163e+09,39170,LICI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,902.5,906.9,892.6,901.7,905.1,904.8,902.26,1222.0,780.0,1947520,1.757163e+09,39170,LICI

LINDEINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6400.0,6410.4,6200.1,6359.8,6203.0,6210.15,6234.17,9935.05,5325.0,56804,3.541260e+08,21632,LINDEINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6400.0,6410.4,6200.1,6359.8,6203.0,6210.15,6234.17,9935.05,5325.0,56804,3.541260e+08,21632,LINDEINDIA

LLOYDSME 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1128.05,1169.7,1128.05,1135.0,1160.4,1162.7,1162.33,1186.0,525.9,1141695,1.327027e+09,25668,LLOYDSME

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1128.05,1169.7,1128.05,1135.0,1160.4,1162.7,1162.33,1186.0,525.9,1141695,1.327027e+09,25668,LLOYDSME

LUPIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2154.9,2190.0,2126.55,2150.7,2165.0,2160.3,2166.88,2312.0,1266.1,936403,2.029077e+09,60829,LUPIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2154.9,2190.0,2126.55,2150.7,2165.0,2160.3,2166.88,2312.0,1266.1,936403,2.029077e+09,60829,LUPIN

MMTC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,74.5,74.87,72.6,74.3,72.85,72.96,73.44,131.8,58.65,1050334,77140982.6,11531,MMTC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,74.5,74.87,72.6,74.3,72.85,72.96,73.44,131.8,58.65,1050334,77140982.6,11531,MMTC

MRF 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,128060.0,130500.0,128060.0,128057.9,130226.0,130345.9,129778.34,151445.0,116347.85,4229,5.488326e+08,3205,MRF

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,128060.0,130500.0,128060.0,128057.9,130226.0,130345.9,129778.34,151445.0,116347.85,4229,5.488326e+08,3205,MRF

LODHA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1404.35,1465.8,1402.3,1400.7,1443.7,1440.0,1447.34,1649.95,922.0,2486998,3.599544e+09,100735,LODHA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1404.35,1465.8,1402.3,1400.7,1443.7,1440.0,1447.34,1649.95,922.0,2486998,3.599544e+09,100735,LODHA

MGL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1219.8,1233.25,1204.5,1215.3,1222.0,1225.6,1220.71,1988.0,1075.25,253059,308912675.8,16967,MGL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1219.8,1233.25,1204.5,1215.3,1222.0,1225.6,1220.71,1988.0,1075.25,253059,308912675.8,16967,MGL

MAHSEAMLES 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,715.0,719.35,699.25,709.85,710.0,707.75,710.39,1097.0,566.5,296929,210934227.3,17774,MAHSEAMLES

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,715.0,719.35,699.25,709.85,710.0,707.75,710.39,1097.0,566.5,296929,210934227.3,17774,MAHSEAMLES

M&MFIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,267.65,270.4,264.15,266.05,265.15,265.15,267.25,343.0,246.2,729288,194903885.3,9178,M&MFIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,267.65,270.4,264.15,266.05,265.15,265.15,267.25,343.0,246.2,729288,194903885.3,9178,M&MFIN

M&M 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2918.0,2942.4,2891.1,2906.35,2915.0,2909.3,2908.63,3222.1,1575.0,2142508,6.231761e+09,116382,M&M

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2918.0,2942.4,2891.1,2906.35,2915.0,2909.3,2908.63,3222.1,1575.0,2142508,6.231761e+09,116382,M&M

MAHLIFE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,481.0,481.0,462.3,474.85,464.6,464.25,467.69,678.8,453.1,100073,46802704.2,8243,MAHLIFE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,481.0,481.0,462.3,474.85,464.6,464.25,467.69,678.8,453.1,100073,46802704.2,8243,MAHLIFE

MANAPPURAM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,182.01,188.64,181.6,181.03,184.5,184.77,184.88,230.4,138.35,9128877,1.687731e+09,40518,MANAPPURAM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,182.01,188.64,181.6,181.03,184.5,184.77,184.88,230.4,138.35,9128877,1.687731e+09,40518,MANAPPURAM

MRPL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,142.49,144.9,140.02,142.22,142.25,142.38,142.63,289.25,128.0,1762250,2.513542e+08,26519,MRPL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,142.49,144.9,140.02,142.22,142.25,142.38,142.63,289.25,128.0,1762250,2.513542e+08,26519,MRPL

MANKIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2839.0,3054.8,2782.45,2805.2,2982.0,2998.4,2921.6,3054.8,1901.05,1229821,3.593045e+09,99125,MANKIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2839.0,3054.8,2782.45,2805.2,2982.0,2998.4,2921.6,3054.8,1901.05,1229821,3.593045e+09,99125,MANKIND

MARICO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,625.15,638.0,620.2,627.95,636.25,636.55,631.35,719.85,486.3,1262775,797253900.3,48156,MARICO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,625.15,638.0,620.2,627.95,636.25,636.55,631.35,719.85,486.3,1262775,797253900.3,48156,MARICO

MARUTI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,10928.0,10989.8,10755.4,10901.05,10810.0,10822.0,10859.93,13680.0,9737.65,237165,2.575596e+09,48860,MARUTI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,10928.0,10989.8,10755.4,10901.05,10810.0,10822.0,10859.93,13680.0,9737.65,237165,2.575596e+09,48860,MARUTI

MASTEK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3050.0,3060.1,2955.05,3040.9,3006.0,2991.5,2994.16,3375.0,2137.55,117438,3.516283e+08,21179,MASTEK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3050.0,3060.1,2955.05,3040.9,3006.0,2991.5,2994.16,3375.0,2137.55,117438,3.516283e+08,21179,MASTEK

MFSL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1107.85,1109.8,1087.05,1109.2,1104.4,1100.7,1099.07,1306.45,854.25,269022,2.956731e+08,22334,MFSL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1107.85,1109.8,1087.05,1109.2,1104.4,1100.7,1099.07,1306.45,854.25,269022,2.956731e+08,22334,MFSL

MAXHEALTH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1173.7,1187.8,1136.55,1165.2,1140.65,1141.1,1153.62,1215.55,651.4,1120494,1.292625e+09,67064,MAXHEALTH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1173.7,1187.8,1136.55,1165.2,1140.65,1141.1,1153.62,1215.55,651.4,1120494,1.292625e+09,67064,MAXHEALTH

MAZDOCK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4814.0,4836.7,4590.6,4724.1,4681.0,4674.15,4703.85,5860.0,1795.4,2270604,1.068058e+10,204337,MAZDOCK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4814.0,4836.7,4590.6,4724.1,4681.0,4674.15,4703.85,5860.0,1795.4,2270604,1.068058e+10,204337,MAZDOCK

METROBRAND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1284.05,1300.0,1260.05,1287.2,1274.0,1267.3,1280.8,1430.0,990.05,72368,92689109.1,9801,METROBRAND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1284.05,1300.0,1260.05,1287.2,1274.0,1267.3,1280.8,1430.0,990.05,72368,92689109.1,9801,METROBRAND

METROPOLIS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2068.2,2093.5,2016.1,2058.05,2023.0,2021.7,2050.09,2318.3,1450.0,71775,147144850.9,10063,METROPOLIS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2068.2,2093.5,2016.1,2058.05,2023.0,2021.7,2050.09,2318.3,1450.0,71775,147144850.9,10063,METROPOLIS

MINDACORP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,511.9,525.55,498.0,508.2,501.0,501.4,505.64,652.0,365.85,237475,120077739.1,16566,MINDACORP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,511.9,525.55,498.0,508.2,501.0,501.4,505.64,652.0,365.85,237475,120077739.1,16566,MINDACORP

MSUMI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,59.81,60.24,58.63,59.94,59.1,58.99,59.4,80.0,58.63,6161762,3.660098e+08,73530,MSUMI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,59.81,60.24,58.63,59.94,59.1,58.99,59.4,80.0,58.63,6161762,3.660098e+08,73530,MSUMI

MOTILALOFS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,930.0,940.6,911.25,926.5,932.0,927.7,925.13,2678.1,507.55,1103845,1.021205e+09,47782,MOTILALOFS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,930.0,940.6,911.25,926.5,932.0,927.7,925.13,2678.1,507.55,1103845,1.021205e+09,47782,MOTILALOFS

MPHASIS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2976.95,3010.0,2940.5,2950.6,2977.0,2977.65,2977.37,3237.95,2187.0,345080,1.027430e+09,26895,MPHASIS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2976.95,3010.0,2940.5,2950.6,2977.0,2977.65,2977.37,3237.95,2187.0,345080,1.027430e+09,26895,MPHASIS

MCX 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6400.05,6461.4,6300.9,6397.4,6368.0,6373.3,6399.58,7048.6,2917.85,218318,1.397144e+09,34855,MCX

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6400.05,6461.4,6300.9,6397.4,6368.0,6373.3,6399.58,7048.6,2917.85,218318,1.397144e+09,34855,MCX

MUTHOOTFIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2076.1,2098.9,2058.5,2075.65,2065.0,2067.55,2078.29,2154.0,1261.9,408710,8.494198e+08,32741,MUTHOOTFIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2076.1,2098.9,2058.5,2075.65,2065.0,2067.55,2078.29,2154.0,1261.9,408710,8.494198e+08,32741,MUTHOOTFIN

NATCOPHARM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1425.2,1445.85,1382.25,1416.95,1393.85,1388.55,1402.97,1639.0,788.05,439134,6.160924e+08,35937,NATCOPHARM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1425.2,1445.85,1382.25,1416.95,1393.85,1388.55,1402.97,1639.0,788.05,439134,6.160924e+08,35937,NATCOPHARM

NBCC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,95.0,95.45,92.3,94.43,92.5,92.64,93.53,209.75,78.0,4662477,4.360598e+08,45068,NBCC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,95.0,95.45,92.3,94.43,92.5,92.64,93.53,209.75,78.0,4662477,4.360598e+08,45068,NBCC

NCC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,289.95,291.95,281.8,287.55,284.5,283.25,284.68,364.5,162.4,2018807,5.747081e+08,30169,NCC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,289.95,291.95,281.8,287.55,284.5,283.25,284.68,364.5,162.4,2018807,5.747081e+08,30169,NCC

NHPC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,82.75,82.76,81.22,81.47,82.03,82.03,82.01,118.4,63.5,14354373,1.177184e+09,68879,NHPC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,82.75,82.76,81.22,81.47,82.03,82.03,82.01,118.4,63.5,14354373,1.177184e+09,68879,NHPC

NLCINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,240.0,240.9,232.8,236.45,236.0,235.0,236.53,311.8,193.0,1085648,2.567929e+08,27670,NLCINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,240.0,240.9,232.8,236.45,236.0,235.0,236.53,311.8,193.0,1085648,2.567929e+08,27670,NLCINDIA

NMDC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,215.5,217.75,208.09,213.15,214.3,214.06,213.42,286.35,190.35,20221063,4.315500e+09,118727,NMDC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,215.5,217.75,208.09,213.15,214.3,214.06,213.42,286.35,190.35,20221063,4.315500e+09,118727,NMDC

NSLNISP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,43.98,45.4,43.0,43.14,45.18,44.9,44.13,73.7,42.95,5644950,2.491242e+08,26689,NSLNISP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,43.98,45.4,43.0,43.14,45.18,44.9,44.13,73.7,42.95,5644950,2.491242e+08,26689,NSLNISP

NTPC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,335.9,338.25,330.5,333.25,333.3,333.65,333.62,448.45,296.55,8884187,2.963974e+09,128261,NTPC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,335.9,338.25,330.5,333.25,333.3,333.65,333.62,448.45,296.55,8884187,2.963974e+09,128261,NTPC

NH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1300.0,1319.8,1268.85,1288.1,1309.0,1309.65,1303.14,1444.9,1080.0,466760,6.082547e+08,45668,NH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1300.0,1319.8,1268.85,1288.1,1309.0,1309.65,1303.14,1444.9,1080.0,466760,6.082547e+08,45668,NH

NATIONALUM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,217.5,221.25,215.61,215.36,217.74,217.49,218.21,262.99,114.7,8500241,1.854840e+09,51431,NATIONALUM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,217.5,221.25,215.61,215.36,217.74,217.49,218.21,262.99,114.7,8500241,1.854840e+09,51431,NATIONALUM

NAVINFLUOR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3290.1,3344.7,3263.8,3305.85,3316.5,3315.6,3307.45,3897.4,2875.95,106283,3.515255e+08,15810,NAVINFLUOR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3290.1,3344.7,3263.8,3305.85,3316.5,3315.6,3307.45,3897.4,2875.95,106283,3.515255e+08,15810,NAVINFLUOR

NESTLEIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2170.0,2180.0,2147.7,2163.5,2158.1,2151.6,2161.49,27693.0,2145.4,438717,948282656.4,51673,NESTLEIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2170.0,2180.0,2147.7,2163.5,2158.1,2151.6,2161.49,27693.0,2145.4,438717,948282656.4,51673,NESTLEIND

NETWEB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2798.0,2801.95,2645.0,2759.45,2690.0,2680.95,2698.09,3060.0,1139.0,320838,8.656498e+08,50699,NETWEB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2798.0,2801.95,2645.0,2759.45,2690.0,2680.95,2698.09,3060.0,1139.0,320838,8.656498e+08,50699,NETWEB

NETWORK18 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,74.5,77.45,74.24,74.34,75.5,75.86,75.89,135.7,70.01,7631218,5.791095e+08,53724,NETWORK18

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,74.5,77.45,74.24,74.34,75.5,75.86,75.89,135.7,70.01,7631218,5.791095e+08,53724,NETWORK18

NEWGEN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1589.0,1612.5,1571.1,1574.05,1595.0,1585.35,1590.92,1645.0,676.05,480037,7.636982e+08,34948,NEWGEN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1589.0,1612.5,1571.1,1574.05,1595.0,1585.35,1590.92,1645.0,676.05,480037,7.636982e+08,34948,NEWGEN

NAM-INDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,761.0,761.0,732.9,750.25,748.0,745.8,746.09,816.25,430.0,541669,404135263.8,29990,NAM-INDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,761.0,761.0,732.9,750.25,748.0,745.8,746.09,816.25,430.0,541669,404135263.8,29990,NAM-INDIA

NUVAMA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6824.0,6895.0,6750.0,6850.7,6825.0,6831.85,6825.04,7648.0,3170.7,76057,519092290.2,16863,NUVAMA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6824.0,6895.0,6750.0,6850.7,6825.0,6831.85,6825.04,7648.0,3170.7,76057,519092290.2,16863,NUVAMA

NUVOCO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,352.85,358.2,348.6,352.85,353.45,352.9,352.08,398.0,291.3,139934,49267617.05,9281,NUVOCO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,352.85,358.2,348.6,352.85,353.45,352.9,352.08,398.0,291.3,139934,49267617.05,9281,NUVOCO

OBEROIRLTY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2236.6,2290.0,2233.3,2247.8,2263.95,2262.3,2265.45,2341.15,1268.15,517522,1.172422e+09,48541,OBEROIRLTY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2236.6,2290.0,2233.3,2247.8,2263.95,2262.3,2265.45,2341.15,1268.15,517522,1.172422e+09,48541,OBEROIRLTY

ONGC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,238.25,242.3,236.85,237.1,241.15,240.85,239.89,345.0,203.65,7722901,1.852645e+09,70004,ONGC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,238.25,242.3,236.85,237.1,241.15,240.85,239.89,345.0,203.65,7722901,1.852645e+09,70004,ONGC

OIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,422.05,426.9,414.0,421.8,421.0,420.65,420.43,767.9,362.4,2754816,1.158201e+09,52882,OIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,422.05,426.9,414.0,421.8,421.0,420.65,420.43,767.9,362.4,2754816,1.158201e+09,52882,OIL

OLECTRA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1489.65,1498.95,1460.0,1473.0,1468.0,1465.25,1480.77,2221.95,1226.05,268747,3.979527e+08,25565,OLECTRA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1489.65,1498.95,1460.0,1473.0,1468.0,1465.25,1480.77,2221.95,1226.05,268747,3.979527e+08,25565,OLECTRA

PAYTM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,959.8,978.8,944.45,945.25,965.2,966.1,966.5,1062.95,310.0,5877303,5.680441e+09,177601,PAYTM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,959.8,978.8,944.45,945.25,965.2,966.1,966.5,1062.95,310.0,5877303,5.680441e+09,177601,PAYTM

OFSS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,12398.9,12398.9,12142.15,12247.55,12257.0,12269.55,12254.87,12983.55,4149.6,314554,3.854818e+09,19865,OFSS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,12398.9,12398.9,12142.15,12247.55,12257.0,12269.55,12254.87,12983.55,4149.6,314554,3.854818e+09,19865,OFSS

POLICYBZR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2092.15,2141.75,2076.4,2092.15,2105.0,2116.4,2116.01,2210.0,763.1,1102384,2.332651e+09,56448,POLICYBZR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2092.15,2141.75,2076.4,2092.15,2105.0,2116.4,2116.01,2210.0,763.1,1102384,2.332651e+09,56448,POLICYBZR

PCBL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,469.0,479.8,452.65,464.65,459.9,459.2,460.9,584.4,209.0,2659600,1.225818e+09,77636,PCBL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,469.0,479.8,452.65,464.65,459.9,459.2,460.9,584.4,209.0,2659600,1.225818e+09,77636,PCBL

PIIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3813.75,3850.55,3789.0,3813.75,3802.5,3800.4,3810.41,4804.05,3220.0,168172,6.408043e+08,24377,PIIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3813.75,3850.55,3789.0,3813.75,3802.5,3800.4,3810.41,4804.05,3220.0,168172,6.408043e+08,24377,PIIND

PNBHOUSING 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,872.75,882.5,838.0,868.85,840.95,842.95,856.07,1202.2,604.0,600296,513892620.4,46506,PNBHOUSING

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,872.75,882.5,838.0,868.85,840.95,842.95,856.07,1202.2,604.0,600296,513892620.4,46506,PNBHOUSING

PNCINFRA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,311.9,313.0,303.25,311.75,306.2,306.95,306.85,574.8,281.6,374308,1.148556e+08,16942,PNCINFRA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,311.9,313.0,303.25,311.75,306.2,306.95,306.85,574.8,281.6,374308,1.148556e+08,16942,PNCINFRA

PTCIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,11800.0,12639.0,11349.1,11595.7,12390.0,12480.9,12116.85,15702.1,5757.0,33345,404036216.8,9303,PTCIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,11800.0,12639.0,11349.1,11595.7,12390.0,12480.9,12116.85,15702.1,5757.0,33345,404036216.8,9303,PTCIL

PVRINOX 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1389.9,1407.0,1351.1,1382.1,1359.05,1361.0,1375.89,1748.0,1204.2,967305,1.330909e+09,45815,PVRINOX

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1389.9,1407.0,1351.1,1382.1,1359.05,1361.0,1375.89,1748.0,1204.2,967305,1.330909e+09,45815,PVRINOX

PAGEIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,48855.55,49150.0,48365.0,48856.35,48500.05,48610.3,48737.27,49849.95,33070.05,14370,700354532.3,8575,PAGEIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,48855.55,49150.0,48365.0,48856.35,48500.05,48610.3,48737.27,49849.95,33070.05,14370,700354532.3,8575,PAGEIND

PATANJALI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1742.9,1756.0,1710.05,1758.6,1729.8,1744.3,1735.63,1992.2,1169.95,333923,5.795683e+08,28841,PATANJALI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1742.9,1756.0,1710.05,1758.6,1729.8,1744.3,1735.63,1992.2,1169.95,333923,5.795683e+08,28841,PATANJALI

PERSISTENT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6413.15,6491.5,6368.7,6368.7,6400.0,6403.15,6422.62,8900.0,3232.05,256100,1.644834e+09,34393,PERSISTENT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6413.15,6491.5,6368.7,6368.7,6400.0,6403.15,6422.62,8900.0,3232.05,256100,1.644834e+09,34393,PERSISTENT

PETRONET 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,338.0,341.9,336.4,336.45,340.65,340.0,339.55,384.2,214.7,2096394,7.118348e+08,36755,PETRONET

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,338.0,341.9,336.4,336.45,340.65,340.0,339.55,384.2,214.7,2096394,7.118348e+08,36755,PETRONET

PFIZER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4697.95,4865.0,4695.05,4669.95,4850.0,4832.6,4780.28,6451.15,3950.0,41161,1.967610e+08,12488,PFIZER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4697.95,4865.0,4695.05,4669.95,4850.0,4832.6,4780.28,6451.15,3950.0,41161,1.967610e+08,12488,PFIZER

PHOENIXLTD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1614.6,1675.0,1606.1,1591.05,1659.1,1655.0,1650.07,4137.0,1338.05,679110,1.120579e+09,68425,PHOENIXLTD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1614.6,1675.0,1606.1,1591.05,1659.1,1655.0,1650.07,4137.0,1338.05,679110,1.120579e+09,68425,PHOENIXLTD

PIDILITIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3000.0,3003.85,2944.0,2976.8,2965.0,2951.8,2968.78,3415.0,2488.1,379460,1.126531e+09,22222,PIDILITIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3000.0,3003.85,2944.0,2976.8,2965.0,2951.8,2968.78,3415.0,2488.1,379460,1.126531e+09,22222,PIDILITIND

PEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1090.3,1124.45,1077.4,1093.7,1083.0,1085.25,1100.04,1275.0,736.6,541131,5.952653e+08,30146,PEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1090.3,1124.45,1077.4,1093.7,1083.0,1085.25,1100.04,1275.0,736.6,541131,5.952653e+08,30146,PEL

PPLPHARMA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,253.95,257.4,252.45,252.2,256.2,255.4,254.88,307.9,114.35,3250112,8.283758e+08,46841,PPLPHARMA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,253.95,257.4,252.45,252.2,256.2,255.4,254.88,307.9,114.35,3250112,8.283758e+08,46841,PPLPHARMA

POLYMED 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2627.15,2627.15,2505.0,2595.75,2529.95,2513.0,2540.08,3357.8,1361.0,138994,353056533.3,21410,POLYMED

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2627.15,2627.15,2505.0,2595.75,2529.95,2513.0,2540.08,3357.8,1361.0,138994,353056533.3,21410,POLYMED

POLYCAB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7180.0,7268.45,7081.65,7178.25,7099.9,7118.35,7179.17,7605.0,3801.0,245937,1.765624e+09,28925,POLYCAB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7180.0,7268.45,7081.65,7178.25,7099.9,7118.35,7179.17,7605.0,3801.0,245937,1.765624e+09,28925,POLYCAB

POONAWALLA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,318.85,321.85,315.35,318.85,317.65,318.3,318.76,519.7,270.05,1170407,373074032.9,16238,POONAWALLA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,318.85,321.85,315.35,318.85,317.65,318.3,318.76,519.7,270.05,1170407,373074032.9,16238,POONAWALLA

PFC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,459.95,460.5,449.2,453.3,456.7,456.5,455.47,580.0,351.7,5194191,2.365811e+09,85136,PFC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,459.95,460.5,449.2,453.3,456.7,456.5,455.47,580.0,351.7,5194191,2.365811e+09,85136,PFC

POWERGRID 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,318.0,318.3,311.55,315.8,315.25,315.3,314.94,366.25,226.05,5984169,1.884671e+09,88964,POWERGRID

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,318.0,318.3,311.55,315.8,315.25,315.3,314.94,366.25,226.05,5984169,1.884671e+09,88964,POWERGRID

PRAJIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,811.9,814.85,796.5,810.15,806.45,805.9,805.67,855.0,448.0,552521,445151885.6,33173,PRAJIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,811.9,814.85,796.5,810.15,806.45,805.9,805.67,855.0,448.0,552521,445151885.6,33173,PRAJIND

PRESTIGE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1777.75,1779.55,1725.65,1794.5,1760.0,1755.05,1749.73,2074.8,967.3,833331,1.458107e+09,49482,PRESTIGE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1777.75,1779.55,1725.65,1794.5,1760.0,1755.05,1749.73,2074.8,967.3,833331,1.458107e+09,49482,PRESTIGE

PGHH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,15114.75,15254.4,14792.7,15114.75,14986.0,14890.95,15026.99,17745.0,14792.7,4749,71363192.95,1854,PGHH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,15114.75,15254.4,14792.7,15114.75,14986.0,14890.95,15026.99,17745.0,14792.7,4749,71363192.95,1854,PGHH

PNB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,101.49,102.44,100.0,100.77,101.55,101.38,101.3,142.9,88.25,23843994,2.415466e+09,90319,PNB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,101.49,102.44,100.0,100.77,101.55,101.38,101.3,142.9,88.25,23843994,2.415466e+09,90319,PNB

QUESS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,705.1,732.15,660.9,691.4,671.0,666.35,695.59,875.0,459.5,1793195,1.247322e+09,68494,QUESS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,705.1,732.15,660.9,691.4,671.0,666.35,695.59,875.0,459.5,1793195,1.247322e+09,68494,QUESS

RRKABEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1399.65,1402.7,1370.1,1399.2,1380.0,1377.8,1381.27,1901.95,1310.3,44628,61643334.15,7991,RRKABEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1399.65,1402.7,1370.1,1399.2,1380.0,1377.8,1381.27,1901.95,1310.3,44628,61643334.15,7991,RRKABEL

RBLBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,153.02,156.5,152.6,152.79,154.12,155.01,154.92,300.7,147.5,7860533,1.217749e+09,39251,RBLBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,153.02,156.5,152.6,152.79,154.12,155.01,154.92,300.7,147.5,7860533,1.217749e+09,39251,RBLBANK

RECLTD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,519.0,521.9,506.55,513.25,513.5,512.4,514.51,654.0,405.25,4380134,2.253602e+09,62262,RECLTD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,519.0,521.9,506.55,513.25,513.5,512.4,514.51,654.0,405.25,4380134,2.253602e+09,62262,RECLTD

RHIM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,513.6,518.5,500.0,513.6,507.0,504.15,509.1,824.0,490.0,105349,53632944.55,9442,RHIM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,513.6,518.5,500.0,513.6,507.0,504.15,509.1,824.0,490.0,105349,53632944.55,9442,RHIM

RITES 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,282.5,284.5,277.0,281.0,280.95,280.7,280.63,825.95,267.0,809067,227045711.7,24323,RITES

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,282.5,284.5,277.0,281.0,280.95,280.7,280.63,825.95,267.0,809067,227045711.7,24323,RITES

RADICO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2500.1,2524.05,2425.55,2488.8,2459.55,2468.7,2460.6,2608.95,1429.85,258755,6.366930e+08,27994,RADICO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2500.1,2524.05,2425.55,2488.8,2459.55,2468.7,2460.6,2608.95,1429.85,258755,6.366930e+08,27994,RADICO

RVNL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,437.7,442.0,425.6,433.25,430.9,429.6,431.73,647.0,175.4,2428886,1.048616e+09,75207,RVNL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,437.7,442.0,425.6,433.25,430.9,429.6,431.73,647.0,175.4,2428886,1.048616e+09,75207,RVNL

RAILTEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,402.9,406.25,393.6,400.65,395.5,395.95,398.44,617.8,292.55,1228395,489441262.1,32538,RAILTEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,402.9,406.25,393.6,400.65,395.5,395.95,398.44,617.8,292.55,1228395,489441262.1,32538,RAILTEL

RAINBOW 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1540.0,1560.0,1503.7,1548.3,1526.05,1539.95,1532.47,1709.6,1079.1,137378,2.105283e+08,24881,RAINBOW

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1540.0,1560.0,1503.7,1548.3,1526.05,1539.95,1532.47,1709.6,1079.1,137378,2.105283e+08,24881,RAINBOW

RAJESHEXPO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,236.24,237.35,229.0,235.98,229.48,230.34,231.47,379.85,226.8,379490,87840397.92,12555,RAJESHEXPO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,236.24,237.35,229.0,235.98,229.48,230.34,231.47,379.85,226.8,379490,87840397.92,12555,RAJESHEXPO

RKFORGE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,890.0,928.75,889.7,891.25,918.0,919.15,909.11,1064.05,602.05,412930,3.753979e+08,21153,RKFORGE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,890.0,928.75,889.7,891.25,918.0,919.15,909.11,1064.05,602.05,412930,3.753979e+08,21153,RKFORGE

RCF 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,172.0,172.73,165.5,170.07,166.45,166.66,168.08,245.0,118.4,2035531,3.421307e+08,24009,RCF

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,172.0,172.73,165.5,170.07,166.45,166.66,168.08,245.0,118.4,2035531,3.421307e+08,24009,RCF

RATNAMANI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3276.55,3327.3,3261.05,3297.65,3280.0,3275.05,3283.13,3978.5,2581.5,10431,34246355.9,3565,RATNAMANI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3276.55,3327.3,3261.05,3297.65,3280.0,3275.05,3283.13,3978.5,2581.5,10431,34246355.9,3565,RATNAMANI

RTNINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,67.3,68.0,64.38,66.69,64.7,64.7,65.65,94.85,59.2,2003882,1.315555e+08,16198,RTNINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,67.3,68.0,64.38,66.69,64.7,64.7,65.65,94.85,59.2,2003882,1.315555e+08,16198,RTNINDIA

RAYMOND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1761.8,1800.0,1698.0,1727.3,1779.0,1782.4,1744.36,2380.0,1325.0,424156,7.398802e+08,27346,RAYMOND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1761.8,1800.0,1698.0,1727.3,1779.0,1782.4,1744.36,2380.0,1325.0,424156,7.398802e+08,27346,RAYMOND

REDINGTON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,205.85,208.62,204.1,205.68,206.1,205.92,205.97,237.55,158.61,1010380,2.081077e+08,25103,REDINGTON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,205.85,208.62,204.1,205.68,206.1,205.92,205.97,237.55,158.61,1010380,2.081077e+08,25103,REDINGTON

RELIANCE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1215.0,1227.2,1213.2,1205.3,1223.85,1222.3,1219.77,3217.6,1201.5,10052824,1.226209e+10,258756,RELIANCE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1215.0,1227.2,1213.2,1205.3,1223.85,1222.3,1219.77,3217.6,1201.5,10052824,1.226209e+10,258756,RELIANCE

ROUTE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1369.9,1380.15,1355.5,1368.35,1365.6,1361.9,1365.66,1942.45,1334.0,72552,99081176.65,10151,ROUTE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1369.9,1380.15,1355.5,1368.35,1365.6,1361.9,1365.66,1942.45,1334.0,72552,99081176.65,10151,ROUTE

SBFC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,84.92,85.51,83.71,84.54,85.3,85.09,84.97,105.81,72.4,1091973,92781180.6,11995,SBFC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,84.92,85.51,83.71,84.54,85.3,85.09,84.97,105.81,72.4,1091973,92781180.6,11995,SBFC

SBICARD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,689.8,700.5,688.3,687.0,690.95,691.3,693.92,817.4,647.95,412325,286118989.9,26715,SBICARD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,689.8,700.5,688.3,687.0,690.95,691.3,693.92,817.4,647.95,412325,286118989.9,26715,SBICARD

SBILIFE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1400.6,1408.15,1381.5,1400.6,1406.0,1405.3,1400.27,1936.0,1307.7,1325302,1.855783e+09,59045,SBILIFE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1400.6,1408.15,1381.5,1400.6,1406.0,1405.3,1400.27,1936.0,1307.7,1325302,1.855783e+09,59045,SBILIFE

SJVN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,112.29,112.72,109.33,111.54,109.7,109.77,110.69,170.5,88.85,4755898,5.264223e+08,33919,SJVN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,112.29,112.72,109.33,111.54,109.7,109.77,110.69,170.5,88.85,4755898,5.264223e+08,33919,SJVN

SKFINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4572.2,4581.75,4432.0,4537.05,4448.0,4452.9,4473.3,7350.0,4024.5,27023,120881904.4,7193,SKFINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4572.2,4581.75,4432.0,4537.05,4448.0,4452.9,4473.3,7350.0,4024.5,27023,120881904.4,7193,SKFINDIA

SRF 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2280.0,2298.55,2250.55,2277.6,2282.45,2286.55,2281.06,2693.95,2089.1,392750,895887037.4,35961,SRF

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2280.0,2298.55,2250.55,2277.6,2282.45,2286.55,2281.06,2693.95,2089.1,392750,895887037.4,35961,SRF

SAMMAANCAP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,155.0,155.01,148.4,151.87,148.6,149.41,151.19,227.95,130.69,3624910,5.480343e+08,36021,SAMMAANCAP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,155.0,155.01,148.4,151.87,148.6,149.41,151.19,227.95,130.69,3624910,5.480343e+08,36021,SAMMAANCAP

IBULHSGFIN 2024-07-25
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,155.00,155.01,148.40,151.87,148.60,149.41,151.19,227.95,130.69,3624910,5.480343e+08,36021,SAMMAANCAP
1,2024-12-20,EQ,155.00,158.50,150.11,154.15,151.79,151.87,153.49,234.80,130.69,18045173,2.769720e+09,83966,SAMMAANCAP
2,2024-12-19,EQ,150.50,154.89,150.50,154.93,154.50,154.15,153.31,234.80,130.69,3665945,5.620358e+08,27301,SAMMAANCAP
3,2024-12-18,EQ,157.01,158.24,154.03,156.72,154.37,154.93,156.26,234.80,130.69,4049120,6.326956e+08,40528,SAMMAANCAP
4,2024-12-17,EQ,161.00,161.00,154.58,159.81,157.01,156.72,156.99,234.80,130.69,7741139,1.215310e+09,62706,SAMMAANCAP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,2024-08-01,EQ,175.25,175.25,169.90,174.27,170.52,170.23,171.98,234.80,131.65,3228875,5.553034e+08,24954,SAMMAANCAP
99,2024-07-31,EQ,177.25,178.75,173.64,176.36,174.39,174.27,176.24,234.80,131.65,5361702,9.449637e+08,34423,SAMMAANCAP
100,2024-07-30,EQ,169.45,177.25,168.81,169.17,176.30,176.36,175.04,234.80,131.65,11554301,2.022421e+09,59075,SAMMAANCAP
101,2024-07-29,EQ,167.70,171.40,167.70,166.84,169.35,169.17,169.65,234.80,131.65,4699289,7.972452e+08,26566,SAMMAANCAP
102,2024-07-26,EQ,165.60,167.99,165.01,164.40,166.89,166.84,166.83,234.80,119.90,2393031,3.992259e+08,13230,SAMMAANCAP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,155.00,155.01,148.40,151.87,148.60,149.41,151.19,227.95,130.69,3624910,5.480343e+08,36021,SAMMAANCAP
1,2024-12-20,EQ,155.00,158.50,150.11,154.15,151.79,151.87,153.49,234.80,130.69,18045173,2.769720e+09,83966,SAMMAANCAP
2,2024-12-19,EQ,150.50,154.89,150.50,154.93,154.50,154.15,153.31,234.80,130.69,3665945,5.620358e+08,27301,SAMMAANCAP
3,2024-12-18,EQ,157.01,158.24,154.03,156.72,154.37,154.93,156.26,234.80,130.69,4049120,6.326956e+08,40528,SAMMAANCAP
4,2024-12-17,EQ,161.00,161.00,154.58,159.81,157.01,156.72,156.99,234.80,130.69,7741139,1.215310e+09,62706,SAMMAANCAP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,2024-08-01,EQ,175.25,175.25,169.90,174.27,170.52,170.23,171.98,234.80,131.65,3228875,5.553034e+08,24954,SAMMAANCAP
99,2024-07-31,EQ,177.25,178.75,173.64,176.36,174.39,174.27,176.24,234.80,131.65,5361702,9.449637e+08,34423,SAMMAANCAP
100,2024-07-30,EQ,169.45,177.25,168.81,169.17,176.30,176.36,175.04,234.80,131.65,11554301,2.022421e+09,59075,SAMMAANCAP
101,2024-07-29,EQ,167.70,171.40,167.70,166.84,169.35,169.17,169.65,234.80,131.65,4699289,7.972452e+08,26566,SAMMAANCAP
102,2024-07-26,EQ,165.60,167.99,165.01,164.40,166.89,166.84,166.83,234.80,119.90,2393031,3.992259e+08,13230,SAMMAANCAP

MOTHERSON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,157.18,158.3,155.7,156.06,155.95,156.47,156.78,216.99,94.35,5813744,9.114801e+08,56881,MOTHERSON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,157.18,158.3,155.7,156.06,155.95,156.47,156.78,216.99,94.35,5813744,9.114801e+08,56881,MOTHERSON

SANOFI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6209.95,6236.3,6088.0,6162.0,6190.0,6182.7,6143.7,7600.0,5892.8,8606,52872640.35,2513,SANOFI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6209.95,6236.3,6088.0,6162.0,6190.0,6182.7,6143.7,7600.0,5892.8,8606,52872640.35,2513,SANOFI

SAPPHIRE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,312.0,325.95,308.0,311.75,319.3,319.85,319.44,1817.2,297.05,1140660,364370552.0,56248,SAPPHIRE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,312.0,325.95,308.0,311.75,319.3,319.85,319.44,1817.2,297.05,1140660,364370552.0,56248,SAPPHIRE

SAREGAMA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,486.95,496.2,470.4,496.6,473.95,474.25,477.31,688.9,325.85,533583,2.546829e+08,28391,SAREGAMA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,486.95,496.2,470.4,496.6,473.95,474.25,477.31,688.9,325.85,533583,2.546829e+08,28391,SAREGAMA

SCHAEFFLER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3324.9,3347.85,3276.0,3305.85,3312.05,3314.55,3319.73,4951.0,2743.5,50293,166958971.3,18990,SCHAEFFLER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3324.9,3347.85,3276.0,3305.85,3312.05,3314.55,3319.73,4951.0,2743.5,50293,166958971.3,18990,SCHAEFFLER

SCHNEIDER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,791.0,798.95,777.5,789.7,779.9,779.1,784.35,980.0,394.35,222724,1.746926e+08,13525,SCHNEIDER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,791.0,798.95,777.5,789.7,779.9,779.1,784.35,980.0,394.35,222724,1.746926e+08,13525,SCHNEIDER

SCI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,214.0,214.89,208.15,211.57,209.1,208.87,210.42,384.2,159.5,1390036,2.924872e+08,23751,SCI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,214.0,214.89,208.15,211.57,209.1,208.87,210.42,384.2,159.5,1390036,2.924872e+08,23751,SCI

SHREECEM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,27131.15,27383.95,26940.6,27063.5,27195.95,27199.9,27195.38,30737.75,23500.0,57436,1.561994e+09,10443,SHREECEM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,27131.15,27383.95,26940.6,27063.5,27195.95,27199.9,27195.38,30737.75,23500.0,57436,1.561994e+09,10443,SHREECEM

RENUKA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,40.3,40.31,39.3,39.78,40.15,40.07,39.77,56.5,36.55,5201861,2.068841e+08,20110,RENUKA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,40.3,40.31,39.3,39.78,40.15,40.07,39.77,56.5,36.55,5201861,2.068841e+08,20110,RENUKA

SHRIRAMFIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2906.0,2954.0,2872.8,2877.25,2877.0,2882.9,2915.62,3652.25,2016.0,938250,2.735584e+09,99624,SHRIRAMFIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2906.0,2954.0,2872.8,2877.25,2877.0,2882.9,2915.62,3652.25,2016.0,938250,2.735584e+09,99624,SHRIRAMFIN

SHYAMMETL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,769.0,777.0,737.75,768.45,743.0,741.7,753.45,956.9,511.2,313636,2.363097e+08,15163,SHYAMMETL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,769.0,777.0,737.75,768.45,743.0,741.7,753.45,956.9,511.2,313636,2.363097e+08,15163,SHYAMMETL

SIEMENS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6860.05,6909.8,6642.5,6868.9,6801.0,6820.75,6784.98,8129.9,3945.25,890336,6.040912e+09,114202,SIEMENS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6860.05,6909.8,6642.5,6868.9,6801.0,6820.75,6784.98,8129.9,3945.25,890336,6.040912e+09,114202,SIEMENS

SIGNATURE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1264.6,1279.55,1240.5,1257.1,1252.0,1251.85,1255.92,1647.0,810.05,550365,691213061.1,22219,SIGNATURE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1264.6,1279.55,1240.5,1257.1,1252.0,1251.85,1255.92,1647.0,810.05,550365,691213061.1,22219,SIGNATURE

SOBHA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1542.05,1588.45,1531.8,1541.55,1583.0,1582.1,1561.69,2220.0,972.2,175461,274016436.6,15777,SOBHA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1542.05,1588.45,1531.8,1541.55,1583.0,1582.1,1561.69,2220.0,972.2,175461,274016436.6,15777,SOBHA

SOLARINDS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,9942.45,9942.9,9530.05,9787.6,9698.95,9685.75,9659.5,13298.0,6275.0,71580,6.914270e+08,24867,SOLARINDS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,9942.45,9942.9,9530.05,9787.6,9698.95,9685.75,9659.5,13298.0,6275.0,71580,6.914270e+08,24867,SOLARINDS

SONACOMS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,590.55,593.95,580.85,588.45,583.8,584.15,585.38,768.65,562.1,1077200,630566295.9,41029,SONACOMS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,590.55,593.95,580.85,588.45,583.8,584.15,585.38,768.65,562.1,1077200,630566295.9,41029,SONACOMS

SONATSOFTW 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,633.15,640.0,617.5,635.7,620.0,621.5,627.54,870.0,469.6,263867,1.655862e+08,19412,SONATSOFTW

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,633.15,640.0,617.5,635.7,620.0,621.5,627.54,870.0,469.6,263867,1.655862e+08,19412,SONATSOFTW

STARHEALTH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,476.0,480.0,471.05,485.8,475.0,475.2,475.26,647.0,452.7,691782,3.287791e+08,21334,STARHEALTH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,476.0,480.0,471.05,485.8,475.0,475.2,475.26,647.0,452.7,691782,3.287791e+08,21334,STARHEALTH

SBIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,817.3,824.0,812.2,812.0,820.5,821.15,820.11,912.0,600.65,4933200,4.045778e+09,127438,SBIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,817.3,824.0,812.2,812.0,820.5,821.15,820.11,912.0,600.65,4933200,4.045778e+09,127438,SBIN

SAIL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,117.0,121.61,116.99,116.1,120.67,121.19,119.72,175.35,107.5,24706531,2.957891e+09,102800,SAIL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,117.0,121.61,116.99,116.1,120.67,121.19,119.72,175.35,107.5,24706531,2.957891e+09,102800,SAIL

SWSOLAR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,472.95,479.5,452.0,443.2,468.0,467.6,467.41,828.0,423.6,4263998,1.993042e+09,79463,SWSOLAR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,472.95,479.5,452.0,443.2,468.0,467.6,467.41,828.0,423.6,4263998,1.993042e+09,79463,SWSOLAR

SUMICHEM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,530.0,531.0,510.15,525.7,511.5,511.75,515.79,628.3,336.1,202253,1.043210e+08,14106,SUMICHEM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,530.0,531.0,510.15,525.7,511.5,511.75,515.79,628.3,336.1,202253,1.043210e+08,14106,SUMICHEM

SPARC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,209.95,209.95,200.45,206.37,203.2,203.38,203.18,472.8,189.75,778596,1.581924e+08,21873,SPARC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,209.95,209.95,200.45,206.37,203.2,203.38,203.18,472.8,189.75,778596,1.581924e+08,21873,SPARC

SUNPHARMA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1811.0,1828.0,1796.65,1808.85,1816.0,1814.6,1815.74,1960.35,1239.3,1299181,2.358980e+09,87238,SUNPHARMA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1811.0,1828.0,1796.65,1808.85,1816.0,1814.6,1815.74,1960.35,1239.3,1299181,2.358980e+09,87238,SUNPHARMA

SUNTV 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,700.0,715.8,695.85,696.85,708.95,706.1,707.3,921.0,567.6,428797,3.032896e+08,21071,SUNTV

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,700.0,715.8,695.85,696.85,708.95,706.1,707.3,921.0,567.6,428797,3.032896e+08,21071,SUNTV

SUNDARMFIN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4304.5,4545.0,4252.85,4277.4,4503.0,4518.7,4370.48,5535.85,3447.0,243050,1.062246e+09,29375,SUNDARMFIN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4304.5,4545.0,4252.85,4277.4,4503.0,4518.7,4370.48,5535.85,3447.0,243050,1.062246e+09,29375,SUNDARMFIN

SUNDRMFAST 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1097.0,1105.95,1065.0,1088.5,1069.8,1069.55,1074.3,1505.95,1003.05,60688,65197330.65,19119,SUNDRMFAST

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1097.0,1105.95,1065.0,1088.5,1069.8,1069.55,1074.3,1505.95,1003.05,60688,65197330.65,19119,SUNDRMFAST

SUPREMEIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4845.0,4861.45,4722.0,4839.8,4772.0,4765.55,4781.04,6460.0,3601.0,106460,5.089891e+08,18699,SUPREMEIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4845.0,4861.45,4722.0,4839.8,4772.0,4765.55,4781.04,6460.0,3601.0,106460,5.089891e+08,18699,SUPREMEIND

SUVENPHAR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1156.15,1166.0,1105.4,1185.15,1130.0,1130.1,1134.56,1360.0,585.2,736951,836111742.2,64092,SUVENPHAR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1156.15,1166.0,1105.4,1185.15,1130.0,1130.1,1134.56,1360.0,585.2,736951,836111742.2,64092,SUVENPHAR

SUZLON 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,65.16,65.16,63.28,64.13,63.7,63.86,64.13,86.04,35.5,30077026,1.928949e+09,121666,SUZLON

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,65.16,65.16,63.28,64.13,63.7,63.86,64.13,86.04,35.5,30077026,1.928949e+09,121666,SUZLON

SWANENERGY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,749.0,757.0,727.25,740.2,734.4,730.5,742.04,809.8,437.1,3139803,2.329852e+09,56086,SWANENERGY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,749.0,757.0,727.25,740.2,734.4,730.5,742.04,809.8,437.1,3139803,2.329852e+09,56086,SWANENERGY

SYNGENE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,844.0,852.5,831.0,844.0,842.0,842.6,843.06,960.6,607.65,364623,307400358.4,34808,SYNGENE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,844.0,852.5,831.0,844.0,842.0,842.6,843.06,960.6,607.65,364623,307400358.4,34808,SYNGENE

SYRMA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,600.9,619.0,579.05,595.0,605.9,606.25,599.16,677.0,376.35,1626931,9.747983e+08,57693,SYRMA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,600.9,619.0,579.05,595.0,605.9,606.25,599.16,677.0,376.35,1626931,9.747983e+08,57693,SYRMA

TBOTEK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1695.55,1695.55,1647.2,1684.8,1673.0,1661.1,1669.46,2001.0,1231.65,66380,1.108188e+08,12366,TBOTEK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1695.55,1695.55,1647.2,1684.8,1673.0,1661.1,1669.46,2001.0,1231.65,66380,1.108188e+08,12366,TBOTEK

TVSMOTOR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2395.45,2419.85,2380.0,2391.65,2380.0,2388.3,2396.11,2958.0,1873.0,624465,1.496289e+09,45320,TVSMOTOR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2395.45,2419.85,2380.0,2391.65,2380.0,2388.3,2396.11,2958.0,1873.0,624465,1.496289e+09,45320,TVSMOTOR

TVSSCS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,174.9,176.05,170.55,173.19,171.45,171.5,172.54,217.58,145.0,366808,63290093.23,11798,TVSSCS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,174.9,176.05,170.55,173.19,171.45,171.5,172.54,217.58,145.0,366808,63290093.23,11798,TVSSCS

TANLA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,679.65,679.65,663.0,667.85,664.0,664.7,668.23,1248.0,662.0,320876,214418145.9,19620,TANLA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,679.65,679.65,663.0,667.85,664.0,664.7,668.23,1248.0,662.0,320876,214418145.9,19620,TANLA

TATACHEM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1040.0,1045.0,1025.15,1028.85,1035.0,1034.25,1034.82,1349.0,933.0,270757,280185912.3,18980,TATACHEM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1040.0,1045.0,1025.15,1028.85,1035.0,1034.25,1034.82,1349.0,933.0,270757,280185912.3,18980,TATACHEM

TATACOMM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1721.95,1732.85,1700.0,1710.45,1716.45,1709.45,1717.97,2175.0,1585.55,216183,371395307.4,20176,TATACOMM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1721.95,1732.85,1700.0,1710.45,1716.45,1709.45,1717.97,2175.0,1585.55,216183,371395307.4,20176,TATACOMM

TCS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4200.05,4217.0,4114.9,4170.3,4157.05,4158.3,4150.99,4592.25,3591.5,2195338,9.112821e+09,149845,TCS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4200.05,4217.0,4114.9,4170.3,4157.05,4158.3,4150.99,4592.25,3591.5,2195338,9.112821e+09,149845,TCS

TATACONSUM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,894.95,906.0,890.0,889.45,900.4,902.75,898.31,1269.0,882.9,1054695,9.474462e+08,54923,TATACONSUM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,894.95,906.0,890.0,889.45,900.4,902.75,898.31,1269.0,882.9,1054695,9.474462e+08,54923,TATACONSUM

TATAELXSI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7037.7,7037.7,6825.0,6921.6,6889.45,6900.75,6919.23,9080.0,6286.0,113431,784855293.8,22242,TATAELXSI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7037.7,7037.7,6825.0,6921.6,6889.45,6900.75,6919.23,9080.0,6286.0,113431,784855293.8,22242,TATAELXSI

TATAINVEST 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6585.0,6598.35,6491.0,6541.25,6524.0,6527.25,6526.97,9756.85,4168.4,23958,156373202.3,6177,TATAINVEST

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6585.0,6598.35,6491.0,6541.25,6524.0,6527.25,6526.97,9756.85,4168.4,23958,156373202.3,6177,TATAINVEST

TATAMOTORS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,733.7,734.4,717.7,724.05,721.5,722.2,726.35,1179.0,716.6,9653868,7.012092e+09,293999,TATAMOTORS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,733.7,734.4,717.7,724.05,721.5,722.2,726.35,1179.0,716.6,9653868,7.012092e+09,293999,TATAMOTORS

TATAPOWER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,404.85,406.0,396.85,401.1,399.7,399.9,401.42,494.85,319.6,9052063,3.633694e+09,129440,TATAPOWER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,404.85,406.0,396.85,401.1,399.7,399.9,401.42,494.85,319.6,9052063,3.633694e+09,129440,TATAPOWER

TATASTEEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,142.45,143.8,140.61,140.68,141.81,141.71,142.37,184.6,128.2,27514178,3.917067e+09,180882,TATASTEEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,142.45,143.8,140.61,140.68,141.81,141.71,142.37,184.6,128.2,27514178,3.917067e+09,180882,TATASTEEL

TATATECH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,898.0,902.0,883.3,893.3,888.3,889.4,889.57,1217.95,883.3,754295,670996936.1,62125,TATATECH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,898.0,902.0,883.3,893.3,888.3,889.4,889.57,1217.95,883.3,754295,670996936.1,62125,TATATECH

TTML 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,78.69,80.8,75.75,77.85,76.55,76.9,76.96,111.4,65.05,5820824,4.479958e+08,42718,TTML

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,78.69,80.8,75.75,77.85,76.55,76.9,76.96,111.4,65.05,5820824,4.479958e+08,42718,TTML

TECHM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1690.9,1725.0,1685.85,1686.05,1710.3,1712.4,1707.44,1807.7,1162.95,1301223,2.221765e+09,93098,TECHM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1690.9,1725.0,1685.85,1686.05,1710.3,1712.4,1707.44,1807.7,1162.95,1301223,2.221765e+09,93098,TECHM

TECHNOE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1675.0,1710.0,1605.65,1625.15,1629.0,1635.6,1654.31,1822.0,607.2,691044,1.143200e+09,54038,TECHNOE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1675.0,1710.0,1605.65,1625.15,1629.0,1635.6,1654.31,1822.0,607.2,691044,1.143200e+09,54038,TECHNOE

TEJASNET 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1230.0,1238.7,1185.0,1217.55,1190.0,1187.75,1201.01,1495.0,651.25,625582,751329320.9,37964,TEJASNET

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1230.0,1238.7,1185.0,1217.55,1190.0,1187.75,1201.01,1495.0,651.25,625582,751329320.9,37964,TEJASNET

NIACL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,208.01,209.67,199.5,214.1,201.01,202.25,202.44,324.7,168.8,3080164,6.235431e+08,47125,NIACL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,208.01,209.67,199.5,214.1,201.01,202.25,202.44,324.7,168.8,3080164,6.235431e+08,47125,NIACL

RAMCOCEM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,986.45,1010.3,986.45,986.1,995.0,1000.05,1001.57,1060.0,700.0,490850,4.916189e+08,18657,RAMCOCEM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,986.45,1010.3,986.45,986.1,995.0,1000.05,1001.57,1060.0,700.0,490850,4.916189e+08,18657,RAMCOCEM

THERMAX 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4654.0,4670.95,4537.55,4653.35,4549.0,4548.75,4564.93,5839.95,2977.0,46802,2.136476e+08,17330,THERMAX

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,4654.0,4670.95,4537.55,4653.35,4549.0,4548.75,4564.93,5839.95,2977.0,46802,2.136476e+08,17330,THERMAX

TIMKEN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3249.75,3273.5,3180.15,3249.75,3190.5,3197.2,3219.5,4817.9,2524.5,29683,95564357.8,9428,TIMKEN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3249.75,3273.5,3180.15,3249.75,3190.5,3197.2,3219.5,4817.9,2524.5,29683,95564357.8,9428,TIMKEN

TITAGARH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1322.45,1330.0,1245.0,1310.55,1248.8,1257.2,1266.8,1896.95,780.9,1261627,1.598224e+09,78037,TITAGARH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1322.45,1330.0,1245.0,1310.55,1248.8,1257.2,1266.8,1896.95,780.9,1261627,1.598224e+09,78037,TITAGARH

TITAN 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3378.1,3406.3,3336.65,3356.25,3391.35,3396.95,3387.98,3886.95,3055.65,691202,2.341775e+09,66373,TITAN

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3378.1,3406.3,3336.65,3356.25,3391.35,3396.95,3387.98,3886.95,3055.65,691202,2.341775e+09,66373,TITAN

TORNTPHARM 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3450.0,3476.45,3378.8,3437.0,3400.0,3420.35,3418.55,3590.7,2223.0,146144,499600563.4,17899,TORNTPHARM

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3450.0,3476.45,3378.8,3437.0,3400.0,3420.35,3418.55,3590.7,2223.0,146144,499600563.4,17899,TORNTPHARM

TORNTPOWER 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1479.2,1558.0,1478.9,1479.2,1550.5,1551.35,1521.54,2037.0,894.0,1534398,2.334655e+09,90251,TORNTPOWER

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1479.2,1558.0,1478.9,1479.2,1550.5,1551.35,1521.54,2037.0,894.0,1534398,2.334655e+09,90251,TORNTPOWER

TRENT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6870.0,7070.0,6860.05,6831.55,6950.0,6946.0,6978.95,8345.0,2940.75,783189,5.465838e+09,85647,TRENT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,6870.0,7070.0,6860.05,6831.55,6950.0,6946.0,6978.95,8345.0,2940.75,783189,5.465838e+09,85647,TRENT

TRIDENT 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,34.35,34.84,33.43,34.27,33.59,33.56,33.82,52.9,31.07,10236689,3.461635e+08,46611,TRIDENT

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,34.35,34.84,33.43,34.27,33.59,33.56,33.82,52.9,31.07,10236689,3.461635e+08,46611,TRIDENT

TRIVENI 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,456.7,465.0,448.55,453.9,458.0,457.8,458.03,518.0,267.5,474178,2.171860e+08,22453,TRIVENI

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,456.7,465.0,448.55,453.9,458.0,457.8,458.03,518.0,267.5,474178,2.171860e+08,22453,TRIVENI

TRITURBINE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,759.0,763.2,732.0,754.65,741.9,739.8,740.66,885.0,350.35,861610,638160391.5,40625,TRITURBINE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,759.0,763.2,732.0,754.65,741.9,739.8,740.66,885.0,350.35,861610,638160391.5,40625,TRITURBINE

TIINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3610.05,3670.5,3602.1,3619.1,3623.5,3621.0,3631.69,4810.8,3334.3,72563,2.635267e+08,15180,TIINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3610.05,3670.5,3602.1,3619.1,3623.5,3621.0,3631.69,4810.8,3334.3,72563,2.635267e+08,15180,TIINDIA

UCOBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,44.5,44.84,43.5,44.18,43.58,43.57,43.94,70.65,39.15,4202249,1.846550e+08,21795,UCOBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,44.5,44.84,43.5,44.18,43.58,43.57,43.94,70.65,39.15,4202249,1.846550e+08,21795,UCOBANK

UNOMINDA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1045.0,1048.5,1018.05,1052.0,1022.2,1023.05,1030.5,1255.0,604.55,605795,6.242728e+08,42308,UNOMINDA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1045.0,1048.5,1018.05,1052.0,1022.2,1023.05,1030.5,1255.0,604.55,605795,6.242728e+08,42308,UNOMINDA

UPL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,505.55,510.15,496.0,504.5,507.0,507.7,504.07,625.0,447.8,1178165,5.938823e+08,27003,UPL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,505.55,510.15,496.0,504.5,507.0,507.7,504.07,625.0,447.8,1178165,5.938823e+08,27003,UPL

UTIAMC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1210.35,1238.0,1206.05,1234.1,1235.0,1230.9,1222.69,1403.65,802.0,180110,2.202188e+08,22036,UTIAMC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1210.35,1238.0,1206.05,1234.1,1235.0,1230.9,1222.69,1403.65,802.0,180110,2.202188e+08,22036,UTIAMC

UJJIVANSFB 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,34.31,34.43,33.47,34.17,33.64,33.58,33.72,61.8,32.01,8693308,2.931506e+08,32471,UJJIVANSFB

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,34.31,34.43,33.47,34.17,33.64,33.58,33.72,61.8,32.01,8693308,2.931506e+08,32471,UJJIVANSFB

ULTRACEMCO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,11520.0,11582.45,11375.0,11422.8,11465.0,11472.6,11466.9,12145.35,9250.0,149350,1.712582e+09,32189,ULTRACEMCO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,11520.0,11582.45,11375.0,11422.8,11465.0,11472.6,11466.9,12145.35,9250.0,149350,1.712582e+09,32189,ULTRACEMCO

UNIONBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,117.19,119.63,115.85,116.78,119.4,119.25,118.03,172.5,106.68,10487387,1.237815e+09,49037,UNIONBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,117.19,119.63,115.85,116.78,119.4,119.25,118.03,172.5,106.68,10487387,1.237815e+09,49037,UNIONBANK

UBL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2038.3,2041.15,1989.1,2025.35,1997.5,1999.35,2012.84,2204.9,1647.25,168751,3.396688e+08,16076,UBL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,2038.3,2041.15,1989.1,2025.35,1997.5,1999.35,2012.84,2204.9,1647.25,168751,3.396688e+08,16076,UBL

UNITDSPR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1530.6,1558.35,1530.6,1544.8,1547.7,1545.05,1546.03,1647.5,1054.7,375618,580716745.4,34141,UNITDSPR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1530.6,1558.35,1530.6,1544.8,1547.7,1545.05,1546.03,1647.5,1054.7,375618,580716745.4,34141,UNITDSPR

MCDOWELL-N 2024-06-06
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1530.60,1558.35,1530.60,1544.80,1547.70,1545.05,1546.03,1647.50,1054.70,375618,5.807167e+08,34141,UNITDSPR
1,2024-12-20,EQ,1578.60,1588.95,1541.30,1572.35,1552.70,1544.80,1560.14,1647.50,1047.55,484886,7.564902e+08,28944,UNITDSPR
2,2024-12-19,EQ,1560.00,1586.00,1554.40,1579.60,1571.90,1572.35,1576.04,1647.50,1047.55,584413,9.210568e+08,33411,UNITDSPR
3,2024-12-18,EQ,1580.00,1595.85,1539.70,1563.30,1576.95,1579.60,1576.92,1647.50,1047.55,2242721,3.536585e+09,88912,UNITDSPR
4,2024-12-17,EQ,1540.00,1567.70,1528.10,1519.20,1565.00,1563.30,1553.08,1647.50,1047.55,2444937,3.797179e+09,102949,UNITDSPR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2024-06-13,EQ,1292.00,1300.00,1272.40,1290.85,1274.40,1275.45,1280.14,1334.85,872.00,1049119,1.343023e+09,39515,UNITDSPR
132,2024-06-12,EQ,1318.70,1318.70,1284.35,1317.70,1293.85,1290.85,1296.99,1334.85,872.00,1374418,1.782602e+09,41821,UNITDSPR
133,2024-06-11,EQ,1316.10,1334.85,1312.00,1315.10,1318.00,1317.70,1320.11,1334.85,872.00,625503,8.257331e+08,31745,UNITDSPR
134,2024-06-10,EQ,1327.00,1327.00,1307.15,1307.55,1315.00,1315.10,1315.18,1327.00,872.00,654963,8.613910e+08,20675,UNITDSPR
135,2024-06-07,EQ,1306.45,1320.00,1294.65,1305.45,1303.00,1307.55,1303.91,1320.00,864.50,1151764,1.501800e+09,37661,UNITDSPR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1530.60,1558.35,1530.60,1544.80,1547.70,1545.05,1546.03,1647.50,1054.70,375618,5.807167e+08,34141,UNITDSPR
1,2024-12-20,EQ,1578.60,1588.95,1541.30,1572.35,1552.70,1544.80,1560.14,1647.50,1047.55,484886,7.564902e+08,28944,UNITDSPR
2,2024-12-19,EQ,1560.00,1586.00,1554.40,1579.60,1571.90,1572.35,1576.04,1647.50,1047.55,584413,9.210568e+08,33411,UNITDSPR
3,2024-12-18,EQ,1580.00,1595.85,1539.70,1563.30,1576.95,1579.60,1576.92,1647.50,1047.55,2242721,3.536585e+09,88912,UNITDSPR
4,2024-12-17,EQ,1540.00,1567.70,1528.10,1519.20,1565.00,1563.30,1553.08,1647.50,1047.55,2444937,3.797179e+09,102949,UNITDSPR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2024-06-13,EQ,1292.00,1300.00,1272.40,1290.85,1274.40,1275.45,1280.14,1334.85,872.00,1049119,1.343023e+09,39515,UNITDSPR
132,2024-06-12,EQ,1318.70,1318.70,1284.35,1317.70,1293.85,1290.85,1296.99,1334.85,872.00,1374418,1.782602e+09,41821,UNITDSPR
133,2024-06-11,EQ,1316.10,1334.85,1312.00,1315.10,1318.00,1317.70,1320.11,1334.85,872.00,625503,8.257331e+08,31745,UNITDSPR
134,2024-06-10,EQ,1327.00,1327.00,1307.15,1307.55,1315.00,1315.10,1315.18,1327.00,872.00,654963,8.613910e+08,20675,UNITDSPR
135,2024-06-07,EQ,1306.45,1320.00,1294.65,1305.45,1303.00,1307.55,1303.91,1320.00,864.50,1151764,1.501800e+09,37661,UNITDSPR

USHAMART 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,375.0,378.15,365.85,371.85,373.1,372.9,372.55,451.0,273.05,423885,157919304.5,16877,USHAMART

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,375.0,378.15,365.85,371.85,373.1,372.9,372.55,451.0,273.05,423885,157919304.5,16877,USHAMART

VGUARD 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,415.6,425.85,408.4,415.6,419.6,421.2,418.48,577.45,283.35,337562,141264190.7,23958,VGUARD

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,415.6,425.85,408.4,415.6,419.6,421.2,418.48,577.45,283.35,337562,141264190.7,23958,VGUARD

VIPIND 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,465.8,472.4,455.25,463.85,465.65,470.45,466.57,614.9,428.5,344932,160933642.4,27448,VIPIND

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,465.8,472.4,455.25,463.85,465.65,470.45,466.57,614.9,428.5,344932,160933642.4,27448,VIPIND

DBREALTY 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,183.0,183.79,175.75,181.09,176.6,176.76,179.1,284.9,150.91,2443787,4.376858e+08,32378,DBREALTY

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,183.0,183.79,175.75,181.09,176.6,176.76,179.1,284.9,150.91,2443787,4.376858e+08,32378,DBREALTY

VTL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,529.9,530.4,518.15,525.0,526.0,525.3,522.96,592.0,374.9,157408,82317735.25,10534,VTL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,529.9,530.4,518.15,525.0,526.0,525.3,522.96,592.0,374.9,157408,82317735.25,10534,VTL

VARROC 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,604.9,604.9,585.2,598.05,587.5,589.35,593.0,716.9,433.0,317845,1.884809e+08,18493,VARROC

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,604.9,604.9,585.2,598.05,587.5,589.35,593.0,716.9,433.0,317845,1.884809e+08,18493,VARROC

VBL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,621.3,629.9,620.05,612.55,627.4,626.55,625.16,1702.8,536.85,3593389,2.246454e+09,89735,VBL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,621.3,629.9,620.05,612.55,627.4,626.55,625.16,1702.8,536.85,3593389,2.246454e+09,89735,VBL

MANYAVAR 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1320.85,1333.45,1271.4,1299.05,1280.05,1277.15,1287.98,1512.0,886.05,149439,192473810.0,27613,MANYAVAR

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1320.85,1333.45,1271.4,1299.05,1280.05,1277.15,1287.98,1512.0,886.05,149439,192473810.0,27613,MANYAVAR

VEDL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,480.45,484.5,468.5,477.25,475.75,473.2,476.96,526.95,249.5,9725884,4.638834e+09,109254,VEDL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,480.45,484.5,468.5,477.25,475.75,473.2,476.96,526.95,249.5,9725884,4.638834e+09,109254,VEDL

VIJAYA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1041.0,1063.95,1018.0,1042.3,1052.85,1056.25,1044.15,1249.95,596.05,210694,2.199958e+08,21802,VIJAYA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1041.0,1063.95,1018.0,1042.3,1052.85,1056.25,1044.15,1249.95,596.05,210694,2.199958e+08,21802,VIJAYA

VINATIORGA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1711.5,1737.0,1655.0,1711.5,1677.5,1659.4,1666.09,2330.0,1462.2,272170,4.534604e+08,17226,VINATIORGA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1711.5,1737.0,1655.0,1711.5,1677.5,1659.4,1666.09,2330.0,1462.2,272170,4.534604e+08,17226,VINATIORGA

IDEA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7.4,7.55,7.38,7.4,7.47,7.47,7.47,19.18,6.61,290752314,2.172669e+09,126291,IDEA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,7.4,7.55,7.38,7.4,7.47,7.47,7.47,19.18,6.61,290752314,2.172669e+09,126291,IDEA

VOLTAS 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1687.1,1709.0,1684.15,1686.5,1699.7,1695.55,1697.75,1944.9,948.0,649135,1.102072e+09,43065,VOLTAS

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1687.1,1709.0,1684.15,1686.5,1699.7,1695.55,1697.75,1944.9,948.0,649135,1.102072e+09,43065,VOLTAS

WELCORP 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,771.65,787.6,765.2,776.35,767.5,768.85,776.09,824.45,440.15,207675,1.611738e+08,19138,WELCORP

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,771.65,787.6,765.2,776.35,767.5,768.85,776.09,824.45,440.15,207675,1.611738e+08,19138,WELCORP

WELSPUNLIV 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,164.9,165.67,160.31,163.34,161.23,160.96,162.47,212.95,122.65,1430037,2.323420e+08,27395,WELSPUNLIV

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,164.9,165.67,160.31,163.34,161.23,160.96,162.47,212.95,122.65,1430037,2.323420e+08,27395,WELSPUNLIV

WESTLIFE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,825.0,846.0,813.7,825.05,833.95,823.05,833.89,957.0,674.45,369465,3.080936e+08,27934,WESTLIFE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,825.0,846.0,813.7,825.05,833.95,823.05,833.89,957.0,674.45,369465,3.080936e+08,27934,WESTLIFE

WHIRLPOOL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1939.95,1944.5,1835.1,1939.95,1850.0,1851.35,1865.25,2449.7,1186.1,87302,162839739.4,17285,WHIRLPOOL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1939.95,1944.5,1835.1,1939.95,1850.0,1851.35,1865.25,2449.7,1186.1,87302,162839739.4,17285,WHIRLPOOL

WIPRO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,306.6,310.65,305.0,305.2,307.5,307.9,307.78,596.0,289.3,6693583,2.060141e+09,87521,WIPRO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,306.6,310.65,305.0,305.2,307.5,307.9,307.78,596.0,289.3,6693583,2.060141e+09,87521,WIPRO

YESBANK 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,19.9,20.08,19.77,19.83,19.89,19.91,19.89,32.85,19.02,52729673,1.048779e+09,84383,YESBANK

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,19.9,20.08,19.77,19.83,19.89,19.91,19.89,32.85,19.02,52729673,1.048779e+09,84383,YESBANK

ZFCVINDIA 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,11745.0,11839.5,11570.05,11654.5,11692.2,11655.7,11672.06,18250.0,11355.1,7647,89256243.25,3348,ZFCVINDIA

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,11745.0,11839.5,11570.05,11654.5,11692.2,11655.7,11672.06,18250.0,11355.1,7647,89256243.25,3348,ZFCVINDIA

ZEEL 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,128.1,129.7,125.15,125.13,125.75,125.62,127.25,293.2,114.36,9513807,1.210641e+09,51567,ZEEL

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,128.1,129.7,125.15,125.13,125.75,125.62,127.25,293.2,114.36,9513807,1.210641e+09,51567,ZEEL

ZENSARTECH 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,768.0,779.9,732.5,767.9,742.45,741.45,747.99,839.5,515.0,698845,522730652.6,37886,ZENSARTECH

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,768.0,779.9,732.5,767.9,742.45,741.45,747.99,839.5,515.0,698845,522730652.6,37886,ZENSARTECH

ZOMATO 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,273.9,282.9,272.0,282.1,274.15,273.95,276.59,304.7,120.6,74588008,2.063042e+10,424843,ZOMATO

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,273.9,282.9,272.0,282.1,274.15,273.95,276.59,304.7,120.6,74588008,2.063042e+10,424843,ZOMATO

ZYDUSLIFE 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,978.75,982.0,962.1,973.5,971.8,973.35,973.94,1324.3,666.75,758127,7.383703e+08,36672,ZYDUSLIFE

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,978.75,982.0,962.1,973.5,971.8,973.35,973.94,1324.3,666.75,758127,7.383703e+08,36672,ZYDUSLIFE

ECLERX 2024-12-20
2024-12-24

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3637.9,3692.75,3596.2,3608.95,3610.0,3611.9,3643.0,3877.0,2114.0,107112,390209113.5,17750,ECLERX

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,3637.9,3692.75,3596.2,3608.95,3610.0,3611.9,3643.0,3877.0,2114.0,107112,390209113.5,17750,ECLERX

latest stocks data pulled
1101 rows successfully added in nifty_top_500_stocks

In [10]:
datetime.date.today()

datetime.date(2024, 12, 24)

In [20]:
t =df[df.SYMBOL == "360ONE"].DATE.max().date()
t

datetime.date(2024, 12, 20)

In [21]:
stock_df(symbol="360ONE", from_date=t,
            to_date=datetime.date(2024, 12, 24), series="EQ")

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2024-12-23,EQ,1238.05,1280.75,1208.95,1249.50,1225.10,1232.7,1229.79,1280.75,591.5,499836,6.146931e+08,40886,360ONE
1,2024-12-20,EQ,1225.35,1260.00,1210.35,1225.35,1223.15,1249.5,1250.26,1270.00,591.5,1452337,1.815797e+09,53665,360ONE